@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-0 {
  background-color: #5695D2;
  color: #fff;
  border: solid 1px #5695D2;
  padding: 8px 48px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-0:hover {
  background-color: #3165A5;
  color: #fff;
  border: solid 1px;
}
.btn-0:disabled {
  background-color: #CCCCCC;
  color: #fff;
  border: solid 1px;
  cursor: default;
}
@media screen and (max-width: 576px) {
  .btn-0 {
    padding: 1.9323671498vw 11.5942028986vw;
    border-radius: 5.7971014493vw;
    font-size: 3.8647342995vw;
  }
}

.btn-1 {
  background-color: #fff;
  color: #5695D2;
  border: solid 1px #5695D2;
  padding: 8px 48px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #3165A5;
  color: #fff;
  border: solid 1px #3165A5;
}
.btn-1:disabled {
  background-color: #fff;
  color: #909090;
  border: solid 1px #909090;
  cursor: default;
}
@media screen and (max-width: 576px) {
  .btn-1 {
    padding: 1.9323671498vw 11.5942028986vw;
    border-radius: 5.7971014493vw;
    font-size: 3.8647342995vw;
  }
}

.btn-2 {
  background-color: #DBC0AF;
  color: #8B725A;
  border: solid 1px #8B725A;
  padding: 8px 48px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn-2 {
    padding: 1.9323671498vw 11.5942028986vw;
    border-radius: 1.9323671498vw;
    font-size: 3.8647342995vw;
  }
}

.btn-3 {
  background-color: #FFFAF3;
  color: #8B725A;
  border: solid 1px #8B725A;
  padding: 8px 48px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn-3 {
    padding: 1.9323671498vw 11.5942028986vw;
    border-radius: 1.9323671498vw;
    font-size: 3.8647342995vw;
  }
}

.input-text[type=text] {
  width: 31.25vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 6px;
  padding: 5px 7px;
}
.input-text[type=text]::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.input-text[type=text]:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.input-text[type=text]::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.input-text[type=text]:hover {
  outline: solid 2px #4FA1F0;
}
.input-text[type=text].-error {
  outline: solid 1px #FB2047;
}

.text-label {
  height: 95px;
  width: 62.5vw;
  display: inline-block;
  margin: 8px 0;
}
.text-label .input-textLabel[type=text] {
  width: 62.5vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 6px;
  padding: 5px 7px;
  margin: 8px 0;
}
.text-label .input-textLabel[type=text]::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.text-label .input-textLabel[type=text]:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.text-label .input-textLabel[type=text]::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.text-label .input-textLabel[type=text]:hover {
  outline: solid 2px #4FA1F0;
}
.text-label .input-textLabel[type=text].-error {
  outline: solid 1px #FB2047;
}
.text-label::before {
  content: "標題*";
  color: #3165A5;
  font-size: 18px;
}
.text-label::after {
  content: "註解文字";
  font-size: 13px;
  color: #4B4B4B;
}
.text-label.-error {
  outline: solid 1px #FB2047;
}

.search-wrapper {
  position: relative;
  width: 26.0416666667vw;
}
.search-wrapper:after {
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: FontAwesome;
  content: "\f002";
  color: grey;
  font-size: 12px;
  font-weight: 400;
}
.search-wrapper .input-search[type=search] {
  width: 26.0416666667vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 13px;
  padding: 5px 12px 5px 32px;
  position: relative;
}
.search-wrapper .input-search[type=search]::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.search-wrapper .input-search[type=search]:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.search-wrapper .input-search[type=search]::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.search-wrapper .input-search[type=search]:hover {
  outline: solid 2px #4FA1F0;
}

.tb {
  margin-left: 5.8333333333vw;
  width: 100%;
  text-align: center;
}
.tb .tbh {
  background-color: #5695D2;
  height: 3.6458333333vw;
  color: white;
  font-size: 1.1458333333vw;
  line-height: 3.6458333333vw;
}
.tb .tbb {
  background-color: white;
  font-size: 1.1458333333vw;
  line-height: 2.65625vw;
}

header {
  overflow-x: clip;
}
header .header_container {
  width: 100%;
  height: 53vw;
  position: relative;
}
@media screen and (max-width: 576px) {
  header .header_container {
    height: 100vh;
  }
}
header .header_container2 {
  width: 100%;
  height: 31vw;
  position: relative;
}
@media screen and (max-width: 576px) {
  header .header_container2 {
    height: 42vh;
  }
}
header .header_container3 {
  height: 35vw;
}
@media screen and (max-width: 576px) {
  header .header_container3 {
    height: 43vh;
  }
}
header .top_kv_bg {
  z-index: -4;
  width: 100%;
  position: absolute;
  top: 0;
}
header .top_kv_cir {
  position: absolute;
  z-index: -1;
  width: 28.1770833333vw;
  top: -9vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_cir {
    width: 96.6183574879vw;
    top: -19.7vw;
  }
}
header .top_kv_city {
  position: relative;
  top: 7vw;
}
header .top_kv_city_l1 {
  position: absolute;
  top: 0.7vw;
  left: 0;
  width: 53.90625vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_city_l1 {
    display: none;
  }
}
header .top_kv_city_r1 {
  position: absolute;
  top: -4.25vw;
  width: 55vw;
  left: 46vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_city_r1 {
    width: 151.7vw;
    left: -33.7vw;
    top: 59.4vw;
  }
}
@media screen and (max-width: 576px) {
  header .top_kv_city_r1-2 {
    top: 20.7vw;
  }
}
header .top_kv_city_r2 {
  position: absolute;
  right: 0;
  width: 50.7vw;
  top: -1.8125vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_city_r2 {
    display: none;
  }
}
header .top_kv_city_l2 {
  position: absolute;
  left: 0;
  width: 72.03125vw;
  top: -8.48vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_city_l2 {
    width: 174.6376811594vw;
    top: 44.7vw;
  }
}
@media screen and (max-width: 576px) {
  header .top_kv_city_l2-2 {
    top: 1.7vw;
  }
}
header .top_kv_city_road {
  position: absolute;
  width: 53.3854166667vw;
  left: 16.6145833333vw;
  top: 32.71875vw;
}
header .top_kv_city_or3 {
  z-index: 3;
  width: 100%;
  top: 17.1875vw;
  position: absolute;
}
header .top_kv_city_or3p {
  top: 0.9895833333vw;
  width: 100%;
  position: absolute;
}
header .top_kv_a {
  position: relative;
  top: 2vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_a {
    position: relative;
    top: 76vw;
  }
}
header .top_kv_a_cat {
  position: absolute;
  left: 55vw;
  top: 31.5vw;
  width: 17.7083333333vw;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  header .top_kv_a_cat {
    width: 254px;
    left: 38vw;
    top: 40.8vw;
  }
}
header .top_kv_a_dog {
  position: absolute;
  left: 60.8854166667vw;
  top: 25.3645833333vw;
  width: 15.625vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_a_dog {
    width: 203px;
    left: 55.26vw;
  }
}
header .top_kv_t {
  position: relative;
  z-index: 5;
}
header .top_kv_t-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
@media screen and (max-width: 576px) {
  header .top_kv_t-title {
    position: relative;
    top: 103px;
  }
}
header .top_kv_t-title h1 {
  color: #3165A5;
  font-weight: 700;
  font-size: 2.7777777778vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_t-title h1 {
    font-size: 32px;
  }
}
header .top_kv_t-title p {
  font-size: 1.5277777778vw;
  color: #4FA1F0;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  header .top_kv_t-title p {
    font-size: 20px;
  }
}
header .top_kv_t-title2 h1 {
  color: #8B725A;
}
header .top_kv_t-title2 p {
  color: #8B725A;
}
header .top_kv_crumbs-frame {
  display: flex;
  justify-content: center;
}
header .top_kv_crumbs-frame .top_kv_crumbs {
  z-index: 31;
  position: absolute;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: #3165A5;
  top: 45.5625vw;
  right: 7vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_crumbs-frame .top_kv_crumbs {
    width: 63vw;
    height: 47.37px;
    left: 19.6vw;
    top: 651px;
  }
}
header .top_kv_crumbs-frame .top_kv_crumbs-2 {
  z-index: 31;
  position: absolute;
  display: flex;
  align-items: center;
  color: #3165A5;
  top: 19vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_crumbs-frame .top_kv_crumbs-2 {
    top: 44vw;
  }
}
header .top_kv_crumbs-frame .top_kv_crumbs_img {
  width: 3.4192708333vw;
  margin-right: 0.4166666667vw;
}
@media screen and (max-width: 576px) {
  header .top_kv_crumbs-frame .top_kv_crumbs_img {
    width: 59.39px;
  }
}
header .top_kv_crumbs-frame .top_kv_crumbs-text {
  border-radius: 1.40625vw;
  padding: 0 1.3020833333vw;
  background-color: #fff;
  font-size: 1.25vw;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 576px) {
  header .top_kv_crumbs-frame .top_kv_crumbs-text {
    font-size: 4.8309178744vw;
  }
}
header .top_kv_crumbs-frame .top_kv_crumbs-text span {
  margin: 0.4166666667vw;
}
header .top_kv_crumbs-frame .top_kv_crumbs-text_2 {
  font-weight: 700;
}

.head {
  width: 100%;
  background: linear-gradient(90deg, #316CA5 33.25%, rgba(141, 197, 235, 0) 100%);
}
.head img {
  width: 7.34375vw;
  padding: 0.2604166667vw 0;
  display: block;
}

.bm {
  display: flex;
}
.bm aside {
  width: 15.15625vw;
  background-color: white;
  margin: 9.6354166667vw 0 0 8.8020833333vw;
  border-radius: 1.3020833333vw;
}
.bm aside li {
  border-bottom: 1px solid #E1E1DF;
  padding: 0.4166666667vw 0 0 1.6666666667vw;
}
.bm aside ul > li:last-child {
  border-bottom: none;
}
.bm aside li a {
  text-decoration: none;
  font-size: 1.3888888889vw;
  color: #5695D2;
  font-weight: 700;
}
.bm aside li i {
  padding-left: 5.4166666667vw;
}
.bm aside ol {
  background-color: #5695D2;
}
.bm aside ol li a {
  color: white;
  font-weight: 400;
}
.bm h2 {
  font-size: 1.6666666667vw;
  font-weight: 700;
  color: #5695D2;
  padding: 3.3333333333vw 0 0 5.8333333333vw;
}

#menu {
  background: linear-gradient(180deg, #316CA5 78.05%, rgba(141, 197, 235, 0) 97.87%);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 29;
}
#menu.open {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 576px) {
  #menu.open {
    height: 107.5vh;
  }
}
#menu.open li {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a {
  transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
  opacity: 1;
  color: #fff;
}
#menu .main-nav {
  position: relative;
  top: 31.3vw;
  transform: translateY(-50%);
}
@media screen and (max-width: 576px) {
  #menu .main-nav {
    transform: none;
    top: 270px;
  }
}
#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}
@media screen and (max-width: 576px) {
  #menu .main-nav ul {
    width: 255px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
#menu .main-nav .menu-title {
  color: #fff;
  display: block;
  font-size: 1.4583333333vw;
  font-weight: 400;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .main-nav .menu-title:first {
  padding-top: 0;
}
@media screen and (max-width: 576px) {
  #menu .main-nav .menu-title {
    font-size: 18px;
  }
}
#menu .main-nav .menu ol {
  margin-top: 0.5208333333vw;
}
#menu .main-nav .menu ol a {
  color: #c3dfff;
  display: block;
  text-decoration: none;
  font-size: 1vw;
}
@media screen and (max-width: 576px) {
  #menu .main-nav .menu ol a {
    font-size: 17.7px;
  }
}
#menu .main-nav .menu ol a:hover {
  color: #fff;
}
#menu .menu-footer {
  left: 0;
  position: absolute;
  right: 0;
  top: 9.1vw;
}
@media screen and (max-width: 576px) {
  #menu .menu-footer {
    top: 20.1vw;
  }
}
#menu .menu-footer .footer-nav-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9vw;
}
#menu .menu-footer .footer-nav-flex img {
  width: 8vw;
}
@media screen and (max-width: 576px) {
  #menu .menu-footer .footer-nav-flex img {
    padding-right: 20px;
    width: 30vw;
  }
}
#menu .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2.6041666667vw;
}
#menu .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
@media screen and (max-width: 576px) {
  #menu .menu-footer ul li {
    font-size: 14px;
  }
}
#menu .menu-footer a {
  color: #c3dfff;
  text-decoration: none;
}

.top_nav {
  display: flex;
  padding: 2.0833333333vw 3.3333333333vw;
  justify-content: space-between;
  z-index: 30;
}
@media screen and (max-width: 576px) {
  .top_nav {
    padding: 6.5217391304vw 15.4589371981vw;
  }
}
.top_nav_logo {
  z-index: 20;
}
.top_nav_logo img {
  width: 9.6875vw;
}
@media screen and (max-width: 576px) {
  .top_nav_logo img {
    display: none;
  }
}
.top_nav_icon {
  display: flex;
  align-items: flex-start;
  width: 8.2291666667vw;
  z-index: 30;
  position: relative;
  gap: 1.25vw;
}
@media screen and (max-width: 576px) {
  .top_nav_icon {
    width: 100%;
    justify-content: flex-end;
    gap: 5.7971014493vw;
  }
}
.top_nav_icon_shop-button {
  cursor: pointer;
  overflow: hidden;
  width: 3.0729166667vw;
  padding: 0.625vw;
  border: 0;
  background: none;
  fill: #3165A5;
  z-index: 30;
}
.top_nav_icon_shop-button svg {
  display: flex;
}
@media screen and (max-width: 576px) {
  .top_nav_icon_shop-button {
    width: 48px;
  }
  .top_nav_icon_shop-button svg {
    padding: 9px;
  }
}
.top_nav_icon_menu-button {
  position: relative;
  cursor: pointer;
  width: 3.3333333333vw;
  height: 3.3333333333vw;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
  color: #3165A5;
  z-index: 30;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .top_nav_icon_menu-button {
    width: 48.5px;
    height: 48.5px;
  }
}
.top_nav_icon_menu-button:focus {
  outline: transparent;
}
.top_nav_icon_menu-button::after, .top_nav_icon_menu-button::before, .top_nav_icon_menu-button .bar {
  content: "";
  position: absolute;
  right: 0.8vw;
  width: 1.6666666667vw;
  border-top: 0.2083333333vw solid currentcolor;
}
@media screen and (max-width: 576px) {
  .top_nav_icon_menu-button::after, .top_nav_icon_menu-button::before, .top_nav_icon_menu-button .bar {
    right: 13px;
    width: 22px;
    border-top: 3px solid currentcolor;
  }
}
.top_nav_icon_menu-button::before {
  transform: translateY(-0.640625vw);
}
@media screen and (max-width: 576px) {
  .top_nav_icon_menu-button::before {
    transform: translateY(-9px);
  }
}
.top_nav_icon_menu-button::after {
  transform: translateY(0.640625vw);
}
@media screen and (max-width: 576px) {
  .top_nav_icon_menu-button::after {
    transform: translateY(9px);
  }
}
.top_nav_icon_menu-button.active {
  background-color: transparent;
  transition: 0.2s ease-out;
  color: #fff;
  z-index: 100;
}
.top_nav_icon_menu-button.active .bar {
  transform: translateX(50px);
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.top_nav_icon_menu-button.active:before, .top_nav_icon_menu-button.active:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.top_nav_icon_menu-button.active:before {
  transform: rotate3d(0, 0, 1, -45deg);
}
.top_nav_icon_menu-button.active:after {
  transform: rotate3d(0, 0, 1, 45deg);
}

.box {
  margin: 0 auto;
  width: 80vw;
  height: 100vw;
  background: #666;
}

.origin {
  width: 62.5vw;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 576px) {
  .origin {
    width: 95.1690821256vw;
  }
}
.origin img {
  width: 100%;
}
.origin .link-wrapper {
  display: flex;
}
@media screen and (max-width: 576px) {
  .origin .link-wrapper {
    justify-content: center;
  }
}
.origin .link-wrapper .link1 {
  text-decoration: none;
}
.origin .link-wrapper .link1 .btn-2 {
  display: none;
}
@media screen and (max-width: 576px) {
  .origin .link-wrapper .link1 img {
    display: none;
  }
  .origin .link-wrapper .link1 .btn-2 {
    display: block;
  }
}
.origin .link-wrapper .link2 {
  margin-left: 4.1666666667vw;
  text-decoration: none;
}
.origin .link-wrapper .link2 .btn-3 {
  display: none;
}
@media screen and (max-width: 576px) {
  .origin .link-wrapper .link2 img {
    display: none;
  }
  .origin .link-wrapper .link2 .btn-3 {
    display: block;
  }
}
.origin .link-wrapper .link2:hover {
  opacity: 0.6;
}
.origin .top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8.59375vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 12.077294686vw;
  }
}
.origin .top-wrapper .top-left {
  width: 27.6041666667vw;
  margin-bottom: 0.8333333333vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left {
    width: 100%;
    height: 427px;
    background-color: #ffffff;
    box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
    border-radius: 6.038647343vw;
    padding: 24px 16px;
  }
}
.origin .top-wrapper .top-left h2 {
  font-size: 2.2222222222vw;
  color: #8B725A;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}
.origin .top-wrapper .top-left h1 {
  font-size: 3.125vw;
  color: #3165A5;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left h1 {
    font-size: 24px;
    font-weight: 500;
  }
}
.origin .top-wrapper .top-left .line {
  margin: 2.5vw 0;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left .line {
    margin: 24px 0;
  }
}
.origin .top-wrapper .top-left h3 {
  font-size: 1.6666666667vw;
  color: #8B725A;
  font-weight: 500;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
.origin .top-wrapper .top-left p {
  font-size: 1.1111111111vw;
  color: #8B725A;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-left p {
    font-size: 16px;
  }
}
.origin .top-wrapper .top-right {
  width: 26.0416666667vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-right {
    width: 86.7149758454vw;
    height: 107.9710144928vw;
  }
}
.origin .top-wrapper .top-right .top-right1 {
  position: absolute;
  z-index: 3;
  width: 25vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-right .top-right1 {
    width: 250px;
    top: 80px;
  }
}
.origin .top-wrapper .top-right .top-right2 {
  position: absolute;
  z-index: 2;
  width: 24.6875vw;
  left: 39.0625vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-right .top-right2 {
    width: 270px;
    left: 50px;
  }
}
.origin .top-wrapper .top-right .top-right3 {
  position: absolute;
  z-index: 1;
  width: 13.2291666667vw;
  top: 31.25vw;
}
@media screen and (max-width: 576px) {
  .origin .top-wrapper .top-right .top-right3 {
    width: 130px;
    top: 215px;
  }
}
.origin .line1 {
  width: 17.6041666667vw;
}
@media screen and (max-width: 576px) {
  .origin .line1 {
    width: 163px;
    margin-left: 20px;
  }
}
.origin .dog2 {
  width: 12.7604166667vw;
  position: absolute;
  left: 26.0416666667vw;
  top: 52.0833333333vw;
}
.origin .dog1 {
  width: 12.7604166667vw;
  position: absolute;
  left: 46.875vw;
  top: 52.0833333333vw;
}
@media screen and (max-width: 576px) {
  .origin .dog1 {
    width: 42.9951690821vw;
    top: 800px;
    left: 230px;
  }
}
.origin .cat1 {
  width: 10.9375vw;
  position: absolute;
  left: 57.2916666667vw;
  top: 41.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .cat1 {
    display: none;
  }
}
.origin .medium-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.origin .medium-wrapper .medium-left {
  width: 27.6041666667vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-left {
    width: 86.7149758454vw;
    height: 107.9710144928vw;
  }
}
.origin .medium-wrapper .medium-left .medium-left1 {
  position: absolute;
  width: 23.4375vw;
  z-index: 4;
  left: 3.6458333333vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-left .medium-left1 {
    width: 72.4637681159vw;
    left: 100px;
    top: 990px;
  }
}
.origin .medium-wrapper .medium-left .medium-left2 {
  position: absolute;
  width: 27.7604166667vw;
  z-index: 3;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-left .medium-left2 {
    width: 79.7101449275vw;
  }
}
.origin .medium-wrapper .medium-left .medium-left3 {
  position: absolute;
  width: 15.1041666667vw;
  z-index: 1;
  top: 84.375vw;
  left: 10.4166666667vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-left .medium-left3 {
    width: 48.309178744vw;
    top: 1100px;
    left: 28.9855072464vw;
  }
}
.origin .medium-wrapper .medium-left .medium-left4 {
  position: absolute;
  width: 17.1875vw;
  z-index: 2;
  top: 91.1458333333vw;
  left: 10.4166666667vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-left .medium-left4 {
    width: 252px;
    top: 1740px;
    left: 60px;
  }
}
.origin .medium-wrapper .medium-right {
  width: 27.6041666667vw;
  padding-top: 10.4166666667vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right {
    width: 359px;
    height: 427px;
    background-color: #ffffff;
    box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
    border-radius: 6.038647343vw;
    padding: 24px 16px;
  }
}
.origin .medium-wrapper .medium-right h2 {
  font-size: 2.2222222222vw;
  color: #8B725A;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right h2 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 400;
  }
}
.origin .medium-wrapper .medium-right h1 {
  font-size: 3.125vw;
  color: #3165A5;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right h1 {
    font-size: 24px;
    font-weight: 500;
  }
}
.origin .medium-wrapper .medium-right .line {
  margin: 2.5vw 0;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right .line {
    margin: 24px 0;
  }
}
.origin .medium-wrapper .medium-right h3 {
  font-size: 1.6666666667vw;
  color: #8B725A;
  font-weight: 500;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
.origin .medium-wrapper .medium-right p {
  font-size: 1.1111111111vw;
  color: #8B725A;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .origin .medium-wrapper .medium-right p {
    font-size: 16px;
  }
}
.origin .line2 {
  width: 15.625vw;
}
@media screen and (max-width: 576px) {
  .origin .line2 {
    position: absolute;
    top: 2400px;
    left: 200px;
    width: 140px;
  }
}
.origin .line2 img {
  margin: 5.2083333333vw 0 0 26.0416666667vw;
}
@media screen and (max-width: 576px) {
  .origin .line2 img {
    margin: 0;
  }
}
.origin .dog3 {
  width: 7.2916666667vw;
  position: absolute;
  top: 104.1666666667vw;
  left: 41.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .dog3 {
    top: 2510px;
    left: 7.2463768116vw;
    width: 24.154589372vw;
  }
}
.origin .cloud {
  width: 9.8958333333vw;
  position: absolute;
  top: 104.1666666667vw;
  left: 58.3333333333vw;
}
@media screen and (max-width: 576px) {
  .origin .cloud {
    top: 2400px;
    width: 30.9178743961vw;
    left: 12.077294686vw;
  }
}
.origin .content {
  width: 38.3333333333vw;
  height: 8.125vw;
  margin: 0 auto;
  background-color: #FFFAF3;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
  border-radius: 1.3020833333vw;
  padding: 2.0833333333vw 6.5104166667vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .origin .content {
    margin-top: 120.7729468599vw;
    width: 359px;
    height: 76px;
    padding: 12px 18px;
  }
}
.origin .content h3 {
  width: 25.3125vw;
  color: #4B4B4B;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .origin .content h3 {
    font-size: 16px;
    width: 324px;
    height: 52px;
  }
}
.origin .cat2 {
  width: 13.5416666667vw;
  margin-left: 46.875vw;
}
@media screen and (max-width: 576px) {
  .origin .cat2 {
    display: none;
  }
}
.origin .bottom-wrapper {
  display: flex;
  margin-top: 22.8125vw;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper {
    margin-top: 14.4927536232vw;
    flex-direction: column;
    height: 241.5458937198vw;
  }
}
.origin .bottom-wrapper .smallHome {
  position: absolute;
  left: 39.0625vw;
  top: 157.2916666667vw;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .smallHome {
    top: 2600px;
    left: 12.077294686vw;
    width: 28.9855072464vw;
  }
}
.origin .bottom-wrapper .bottom-left {
  flex: 3;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .bottom-left {
    margin-bottom: 77.2946859903vw;
  }
}
.origin .bottom-wrapper .bottom-right {
  flex: 1;
  align-self: center;
  margin-left: 2.0833333333vw;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .bottom-right {
    width: 350px;
    height: 769px;
    background-color: #ffffff;
    box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
    border-radius: 6.038647343vw;
    padding: 100px 16px;
    margin-left: 0;
  }
}
.origin .bottom-wrapper .bottom-right h1 {
  color: #8B725A;
  font-weight: 700;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .bottom-right h1 {
    font-size: 32px;
    font-weight: 500;
  }
}
.origin .bottom-wrapper .bottom-right .p1 {
  color: #8B725A;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .bottom-right .p1 {
    font-size: 20px;
  }
}
.origin .bottom-wrapper .bottom-right .p2 {
  color: #3165A5;
}
@media screen and (max-width: 576px) {
  .origin .bottom-wrapper .bottom-right .p2 {
    font-size: 16px;
  }
}
.origin .footPrint {
  width: 13.5416666667vw;
  margin-left: 46.875vw;
}
@media screen and (max-width: 576px) {
  .origin .footPrint {
    position: absolute;
    top: 2610px;
    left: 100px;
    width: 24.154589372vw;
  }
}
.origin .dog4 {
  width: 15.1041666667vw;
  margin-left: 46.875vw;
}
@media screen and (max-width: 576px) {
  .origin .dog4 {
    position: absolute;
    top: 3000px;
    width: 30.193236715vw;
  }
}

.waitsforhome {
  width: 62.5vw;
  margin: 0 auto;
}
.waitsforhome a {
  text-decoration: none;
}
.waitsforhome li {
  background-color: #fff;
  border-radius: 1.3020833333vw;
  margin-bottom: 4.1666666667vw;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
}
@media screen and (max-width: 576px) {
  .waitsforhome li {
    box-shadow: none;
  }
}
.waitsforhome li:hover {
  box-shadow: 0 0 1.0416666667vw 1.0416666667vw rgba(0, 0, 0, 0.1);
}
.waitsforhome .home-1 {
  display: flex;
  width: 55.8854166667vw;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 0;
  padding: 2.0833333333vw 0;
}
.waitsforhome img {
  width: 100%;
}
.waitsforhome .dogpp {
  padding-right: 2.5vw;
  flex: 1;
}
@media screen and (max-width: 576px) {
  .waitsforhome .dogpp img {
    width: 22.1354166667vw;
  }
}
.waitsforhome .dogtt {
  flex: 3;
  height: 0;
}
.waitsforhome h1 {
  color: #8B725A;
  font-size: 2.7777777778vw;
  font-weight: 700;
  padding-top: 2.0833333333vw;
}
@media screen and (max-width: 576px) {
  .waitsforhome h1 {
    padding-bottom: 2.0833333333vw;
    text-align: center;
    font-size: 6.25vw;
    padding-top: 0.8333333333vw;
  }
}
.waitsforhome h4 {
  color: #8B725A;
  font-size: 1.3888888889vw;
  font-weight: 700;
  padding-bottom: 0.4166666667vw;
}
@media screen and (max-width: 576px) {
  .waitsforhome h4 {
    text-align: center;
    letter-spacing: 1px;
  }
}
.waitsforhome p {
  font-size: 1.1111111111vw;
  text-indent: -85px;
  margin-left: 85px;
  color: black;
}
@media screen and (max-width: 576px) {
  .waitsforhome p {
    display: none;
  }
}
.waitsforhome .page-icon {
  margin: 20px 0;
  font-size: 0;
  text-align: center;
}
.waitsforhome .page-icon a, .waitsforhome .page-disabled, .waitsforhome .page-next {
  border: 0px solid #3165A5;
  border-radius: 150px;
  padding: 4px 10px 5px;
  font-size: 14PX;
  margin-right: 10px;
  font-weight: 700;
}
.waitsforhome .page-icon a {
  text-decoration: none;
  color: #3165A5;
}
.waitsforhome .page-current {
  color: #3165A5;
  padding: 4px 10px 5px;
  font-size: 14PX;
  border: 1px solid #3165A5;
  border-radius: 50%;
}

.petpage {
  width: 62.5vw;
  margin: 0.5208333333vw auto;
}
@media screen and (max-width: 576px) {
  .petpage {
    width: 95.1690821256vw;
  }
}
.petpage .petpage-pp {
  display: flex;
  margin-bottom: 4.1666666667vw;
}
@media screen and (max-width: 576px) {
  .petpage .petpage-pp {
    display: inline;
    width: 86.9565217391vw;
    display: block;
    margin: 0 auto;
  }
}
.petpage .petpage-pp-big {
  width: 32.7083333333vw;
  margin-right: 3.3333333333vw;
}
.petpage .petpage-pp-big img {
  width: 32.7083333333vw;
}
@media screen and (max-width: 576px) {
  .petpage .petpage-pp-big {
    width: 86.9565217391vw;
    display: flex;
  }
  .petpage .petpage-pp-big img {
    width: 62.8019323671vw;
    margin-right: 7.729468599vw;
  }
}
.petpage .petpage-pp-small {
  width: 32.7083333333vw;
  display: flex;
  margin-top: 1.25vw;
}
.petpage .petpage-pp-small img {
  width: 5.2083333333vw;
  margin-right: 1.6666666667vw;
}
@media screen and (max-width: 576px) {
  .petpage .petpage-pp-small {
    flex-direction: column;
  }
  .petpage .petpage-pp-small img {
    width: 12.077294686vw;
    margin-right: 0vw;
    margin-bottom: 1.9323671498vw;
  }
}
.petpage .petpage-tt-on {
  margin: 0 auto;
  margin-bottom: 0.8333333333vw;
}
.petpage .petpage-tt-on h1 {
  font-size: 1.3888888889vw;
  color: #5695D2;
  font-weight: 700;
  margin-bottom: 0.8333333333vw;
}
.petpage .petpage-tt-on p {
  margin-bottom: 0.4166666667vw;
  font-size: 1.1111111111vw;
}
.petpage .petpage-tt-under {
  text-align: center;
  margin-top: 2.0833333333vw;
}
.petpage .petpage-uu {
  display: flex;
  width: 52.0833333333vw;
  background-color: #fff;
  margin: 0 auto;
}
.petpage .petpage-uu h1 {
  font-size: 1.3888888889vw;
  font-weight: 700;
  margin: 0 1.5625vw;
  align-self: center;
}
@media screen and (max-width: 576px) {
  .petpage .petpage-uu {
    width: 95.1690821256vw;
  }
  .petpage .petpage-uu h1 {
    display: none;
  }
}
.petpage .petpage-uu-right {
  font-weight: 400;
  font-size: 1.1111111111vw;
  align-self: center;
  padding: 2.0833333333vw 0;
}
.precautions {
  width: 62.5vw;
  margin: 0vw auto;
}
.precautions .precautions-top {
  text-align: center;
}
.precautions .precautions-top h2 {
  color: #8B725A;
  font-size: 2.2222222222vw;
}
.precautions .precautions-top h1 {
  color: #3165A5;
  font-size: 2.7777777778vw;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-top h1 {
    margin-bottom: 16px;
  }
}
.precautions .precautions-section {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-section {
    width: 360px;
  }
}
.precautions .precautions-1 {
  width: 31.25vw;
}
.precautions .precautions-1 img {
  width: 25.78125vw;
}
.precautions .precautions-2 {
  width: 31.25vw;
  text-align: center;
  align-self: center;
}
.precautions .precautions-2 h1 {
  font-size: 1.6666666667vw;
  margin-bottom: 0.4166666667vw;
  font-weight: 700;
  color: #8B725A;
}
.precautions .precautions-2 h2 {
  font-size: 1.3888888889vw;
  color: #8B725A;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-2 h1 {
    font-size: 12px;
  }
  .precautions .precautions-2 h2 {
    font-size: 12px;
  }
}
.precautions .precautions-3 {
  width: 31.25vw;
  align-self: center;
}
.precautions .precautions-3 h1 {
  font-size: 1.6666666667vw;
  margin-bottom: 0.4166666667vw;
  font-weight: 700;
  color: #8B725A;
  width: 26.0416666667vw;
}
.precautions .precautions-3 h2 {
  font-size: 1.3888888889vw;
  color: #8B725A;
  width: 26.0416666667vw;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-3 h1 {
    font-size: 12px;
  }
  .precautions .precautions-3 h2 {
    font-size: 12px;
  }
}
.precautions .precautions-4 {
  width: 31.25vw;
  height: 36.4583333333vw;
}
.precautions .precautions-4 .Vector1 {
  width: 17.6041666667vw;
  z-index: 10;
  position: absolute;
  left: 46.875vw;
  top: 96.3541666667vw;
}
.precautions .precautions-4 .home1 {
  width: 28.6458333333vw;
  z-index: 5;
  position: absolute;
  left: 54.6875vw;
  top: 98.9583333333vw;
}
.precautions .precautions-4 .home2 {
  width: 27.03125vw;
  z-index: 2;
  position: absolute;
  left: 59.8958333333vw;
  top: 104.1666666667vw;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-4 .Vector1 {
    left: 200px;
    top: 416px;
  }
  .precautions .precautions-4 .home1 {
    left: 225px;
    top: 436px;
  }
  .precautions .precautions-4 .home2 {
    left: 250px;
    top: 450px;
  }
}
.precautions .precautions-5 {
  width: 31.25vw;
}
.precautions .precautions-5 img {
  width: 27.03125vw;
}
.precautions .precautions-6 {
  width: 31.25vw;
  align-self: center;
  text-align: center;
}
.precautions .precautions-6 h1 {
  font-size: 1.6666666667vw;
  margin-bottom: 0.4166666667vw;
  font-weight: 700;
  color: #8B725A;
}
.precautions .precautions-6 h2 {
  font-size: 1.3888888889vw;
  color: #8B725A;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-6 h1 {
    font-size: 12px;
  }
  .precautions .precautions-6 h2 {
    font-size: 12px;
  }
}
.precautions .precautions-7 {
  width: 31.25vw;
  align-self: center;
}
.precautions .precautions-7 h1 {
  font-size: 1.6666666667vw;
  margin-bottom: 0.4166666667vw;
  font-weight: 700;
  color: #8B725A;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-7 h1 {
    font-size: 12px;
  }
}
.precautions .precautions-8 {
  width: 31.25vw;
  height: 36.4583333333vw;
}
.precautions .precautions-8 .home4 {
  z-index: 5;
  position: absolute;
  left: 54.6875vw;
  top: 156.25vw;
  width: 28.6458333333vw;
}
.precautions .precautions-8 .home5 {
  z-index: 2;
  position: absolute;
  left: 57.2916666667vw;
  top: 156.25vw;
  width: 28.6458333333vw;
}
@media screen and (max-width: 576px) {
  .precautions .precautions-8 .home4 {
    left: 220px;
    top: 770px;
  }
  .precautions .precautions-8 .home5 {
    left: 225px;
    top: 770px;
  }
}
.precautions .precautions-under {
  text-align: center;
}

.application {
  width: 62.5vw;
  margin: 0vw auto;
  background-color: #fff;
  border-radius: 1.3020833333vw;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
}
.application .application-tt {
  padding: 2.0833333333vw;
}
.application .application-tt h2 {
  font-size: 2.2222222222vw;
  color: #5695D2;
  font-weight: 700;
  margin-bottom: 0.8333333333vw;
  text-align: center;
}
.application .application-tt h3 {
  font-size: 1.6666666667vw;
  font-weight: 700;
  text-align: center;
}
.application .application-tt p {
  font-size: 1.3888888889vw;
  font-weight: 700;
  line-height: 3.5;
}
.application .application-tt .application-tt-in {
  display: flex;
}
.application .application-tt .application-tt-in p {
  font-size: 1.3888888889vw;
  font-weight: 700;
}
.application .application-input h3 {
  text-align: center;
  font-size: 2.2222222222vw;
  color: #5695D2;
  font-weight: 700;
}
.application .application-md {
  display: flex;
  margin: 0 auto;
  width: 36.4583333333vw;
}
.application .application-lift h1 {
  font-size: 1.25vw;
  color: #5695D2;
}
.application .application-right h1 {
  font-size: 1.25vw;
  color: #5695D2;
}
.application .application-text {
  width: 18.2291666667vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 6px;
  padding: 5px 7px;
  margin-right: 2.0833333333vw;
}
.application .application-text::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.application .application-text:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.application .application-text::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.application .application-text:hover {
  outline: solid 2px #4FA1F0;
}
.application .application-text.-error {
  outline: solid 1px #FB2047;
}
.application .application-under {
  text-align: center;
}
.application .application-under .btn-1 {
  margin: 1.0416666667vw;
}

.finish {
  width: 62.5vw;
  margin: 0vw auto;
}
.finish .finish-top {
  width: 62.5vw;
}
.finish .finish-top img {
  width: 41.6666666667vw;
  margin: 0 auto;
  display: block;
}
.finish .finish-top h3 {
  font-size: 1.6666666667vw;
  color: #8B725A;
  font-weight: 700;
  text-align: center;
}

.login {
  width: 62.5vw;
  margin: 4.1666666667vw auto 3.3333333333vw;
}
.login .bak_head {
  width: 100%;
  height: 5.2083333333vw;
  background-color: #5695D2;
  border-radius: 1.3020833333vw 1.3020833333vw 0 0;
}
.login .bak_head h1 {
  font-size: 2.7777777778vw;
  text-align: center;
  line-height: 5.2083333333vw;
  color: white;
}

.acc_pass {
  background-color: white;
  border-radius: 0 0 1.3020833333vw 1.3020833333vw;
  height: 26.71875vw;
}
.acc_pass .log {
  margin: 0 auto;
  width: 31.25vw;
  padding-top: 4.1666666667vw;
}
.acc_pass .log .tl {
  width: auto;
}
.acc_pass .log .text-label-1 {
  height: 74px;
  width: 62.5vw;
  display: inline-block;
  margin: 8px 0;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text] {
  width: 62.5vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 6px;
  padding: 5px 7px;
  margin: 8px 0;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text]::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text]:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text]::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text]:hover {
  outline: solid 2px #4FA1F0;
}
.acc_pass .log .text-label-1 .input-textLabel[type=text].-error {
  outline: solid 1px #FB2047;
}
.acc_pass .log .text-label-1::before {
  content: "帳號";
  color: #3165A5;
  font-size: 18px;
}
.acc_pass .log .text-label-1::after {
  content: "";
  font-size: 13px;
  color: #4B4B4B;
}
.acc_pass .log .text-label-1.-error {
  outline: solid 1px #FB2047;
}
.acc_pass .log .text-label-2 {
  height: 74px;
  width: 62.5vw;
  display: inline-block;
  margin: 8px 0;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text] {
  width: 62.5vw;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  outline: solid 1px #4FA1F0;
  border-radius: 6px;
  padding: 5px 7px;
  margin: 8px 0;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text]::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text]:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text]::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text]:hover {
  outline: solid 2px #4FA1F0;
}
.acc_pass .log .text-label-2 .input-textLabel[type=text].-error {
  outline: solid 1px #FB2047;
}
.acc_pass .log .text-label-2::before {
  content: "密碼";
  color: #3165A5;
  font-size: 18px;
}
.acc_pass .log .text-label-2::after {
  content: "";
  font-size: 13px;
  color: #4B4B4B;
}
.acc_pass .log .text-label-2.-error {
  outline: solid 1px #FB2047;
}
.acc_pass .btn {
  width: 8.8541666667vw;
  margin: 0 auto;
  padding-top: 1.6666666667vw;
}

.bm .right {
  width: 61.4583333333vw;
}
.bm .right .s1 {
  padding: 0.8333333333vw 0 0.8333333333vw 41.1458333333vw;
}
.bm .right .s2 {
  display: flex;
  padding: 0;
  padding-left: 5.8333333333vw;
  justify-content: space-between;
  padding-top: 3.9583333333vw;
  padding-bottom: 0.8333333333vw;
  width: 67.1875vw;
}
.bm .right .s2 .add {
  width: 6.875vw;
  height: 2.4479166667vw;
  font-size: 1.25vw;
  color: white;
  background-color: #3165A5;
  border: none;
  border-radius: 0.5208333333vw;
}
.bm .right .s2 .search-wrapper {
  margin-left: 5.2083333333vw;
  flex-shrink: 0;
}
.bm .tbb a {
  text-decoration: none;
  color: black;
}
.bm .tbb .list {
  background-color: #909090;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "Roboto";
  color: #2D2D2D;
  background-image: url(../images/ricepaper.jpg);
  font-size: 0.8333333333vw;
  line-height: 1.6;
}

h1 {
  font-size: 2.7777777778vw;
}

h2 {
  font-size: 2.2222222222vw;
}

h3 {
  font-size: 1.6666666667vw;
}

h4 {
  font-size: 1.3888888889vw;
}

h5 {
  font-size: 1.25vw;
}

p {
  font-size: 1.1111111111vw;
}

.ex_shadow {
  height: 22.1354166667vw;
  width: 1190px;
  background: #FFFFFF;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
  border-radius: 1.3020833333vw;
  color: #DBC0AF;
  text-decoration: none;
  display: flex;
  padding: 2.0833333333vw;
}
.ex_shadow img {
  width: 18.0729166667vw;
}
.ex_shadow .text_content {
  padding: 2.0833333333vw;
}
.ex_shadow .title {
  font-size: 2.2222222222vw;
  font-weight: bold;
  color: #8B725A;
}
.ex_shadow .date {
  font-size: 1.25vw;
  font-weight: medium;
  color: #8B725A;
}
.ex_shadow .content {
  font-size: 1.1111111111vw;
  font-weight: medium;
  color: #8B725A;
}
.ex_shadow2 {
  width: 300px;
  box-shadow: 0 0 2.0833333333vw rgba(31, 32, 37, 0.1);
  border-radius: 1.3020833333vw;
  background: #FFFFFF;
  text-decoration: none;
  color: #DBC0AF;
  display: flex;
  padding: 2.0833333333vw;
}/*# sourceMappingURL=style.css.map */