//頁首
.head{
    width: 100%;
    // height: vw(150);
    background: linear-gradient(90deg, #316CA5 33.25%, rgba(141, 197, 235, 0) 100%);
    img{
        width: vw(141);
        padding: vw(5) 0;
        display: block;
    }
}

//側邊欄位
.bm{
    display: flex;

    aside{
        width: vw(291);
        background-color: white;
        margin: vw(185) 0 0 vw(169);
        border-radius: vw(25);
    
        ul{
            // text-align: center;
        }
    
        li{
            border-bottom: 1px solid $lineGray;
            padding: vw(8) 0 0 vw(32);
        }
    
        ul > li:last-child{
            border-bottom:  none;
        }
    
        li a{
            text-decoration: none;
            font-size: $h3;
            color: #5695D2;
            font-weight: $bold;
        }
    
        li i{
            padding-left: vw(104);
        }
    
        ol{
            background-color: $primaryDark;
        }
    
        ol li a{
            color: white;
            font-weight: $regular;
        }
    }

    // 標題
    h2{
        font-size: $h2;
        font-weight: $bold;
        color: $primaryDark;
        padding: vw(64) 0 0 vw(112);
    }
}
