// $menu-bg2:  linear-gradient(20deg, #316CA5 78.05%, rgba(80, 185, 255, 0) 97.87%);
$menu-font-size: 20px;
.footer {
    position: relative;
    width: 100%;
    height: 100vw;
    color: #c3dfff;
    background: linear-gradient(0deg, #3466A6 59.74%, rgba(141, 197, 235, 0) 94.85%);
    @include m() {
        height: 100vh;
        background: linear-gradient(0deg, #3466A6 77%, rgba(141, 197, 235, 0) 100%);
    }
    a {
        transition: color 0.25s cubic-bezier(.215, .61, .355, 1) 0s;
        color: #c3dfff;
        text-decoration: none;
        &:hover {
            color: #3466A6;
        }
    }

    &_kv {
        width: 85vw;
        margin: 0 auto;
        position: relative;
        top: 35vw;
        @include m() {
            top: 40vw;
        }

        &_m {
            display: flex;
            justify-content: center;
            @include m() {
                justify-content: flex-start;
            }
        }

        &_ul {

            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            gap: 5vw;
            @include m() {
                width: 255px;
                flex-wrap: wrap;
            }

        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include m() {
                align-items: flex-start;
            }

            &-title {
                color: #fff;
                display: block;
                font-size: 1.258333vw;
                font-weight: $regular;
                text-decoration: none;
                text-transform: uppercase;
                &:first {
                    padding-top: 0;
                }
                @include m() {
                    font-size: 18px;
                }
            }

            & ol {
                margin-top: vw(10);
                & a {
                    display: block;
                    text-decoration: none;
                    font-size: 1vw;
                    @include m() {
                        font-size: 17.7px;
                    }
                }
            }
        }
    }
    .footer_nav {

        &_logo {
            display: flex;
            align-items: flex-end;
            gap: 40px;
            justify-content: space-between;
            @include m() {
                justify-content: flex-end;
                margin-bottom: 6px;
            }
        }

        &_flex {

            .mouse {
                padding: 25px 0 0;
                position: absolute;
                right: 43px;
                top: -9px;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 1;
                white-space: nowrap;
                writing-mode: vertical-rl;
                cursor: pointer;
                transform: translateY(0px);
                transition: transform 0.25s cubic-bezier(.215, .61, .355, 1) 0s;

                &:hover {
                    transform: translateY(-5px);
                    color: #3466A6;
                    transition: 0.25s cubic-bezier(.215, .61, .355, 1) 0s;

                }
            }
        }
        &_f {
            display: flex;
            align-items: flex-end;
            position: relative;
            top: 3.8020833333vw;
            justify-content: space-between;
            @include m() {
                top: -1vw;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &_sns {
            line-height: 2;
            order: 3;

            margin: clamp(2px, 5.6vw, 70px) 0 0;
            display: flex;
            justify-content: flex-end;
            @include m () {
                position: absolute;
                right: 262px;
                top: 103px;
            }

            li a {
                display: flex;
                align-items: center;
                height: clamp(20px, 5.3vw, 35px);
                margin-right: 20px;
                @include m() {
                    align-items: flex-start;
                }
            }

            & svg {
                fill: currentColor;
            }

            .fb svg {
                width: clamp(20px, 5.3vw, 35px);
                height: clamp(20px, 5.3vw, 35px);

            }

            .ins svg {
                width: clamp(18px, 4.8vw, 31.5px);
                height: clamp(18px, 4.8vw, 31.5px);
            }

        }
        p {
            font-size: 13px;
            color: #c3dfff;
            display: flex;
            justify-content: center;

            @include m() {
                margin-top: 20px;
            }

        }

    }

}
