

header {
    overflow: hidden;

    .header_container {
        width: 100%;
        height: 53vw;
        z-index: -1;
        position: relative;
        // overflow: hidden;
        @include m() {
            height: 100vh;
            // overflow: hidden;
<<<<<<< HEAD
        overflow: hidden;
        .top_nav {
            display: flex;
            padding: $space5 $space8;
            justify-content: space-between;
            z-index: 30;
=======
>>>>>>> QQBB

        }
        &2 {
            width: 100%;
            height: 17vw;
            z-index: -1;
            position: relative;
    
            @include m() {
                height:33vh;
            }
            // overflow: hidden;
        }

        &3{

            @include m() {
                height:43vh;
            }
        }
    
    }

    .top_kv {
        position: relative;
        width: 100%;
        height: 100vh;
     
        &_bg {
            z-index: -4;
            width: 100%;
            position: absolute;
            top: 0;

        }

        &_cir {
            position: absolute;
            z-index: -1;
            width: vw(541);
            top: -9vw;
            @include m() {
                width: rwd(400);
                top: -19.7vw;

            }

        }
        &_city {
          
            &_l1 {
                position: absolute;
                top: 0.7vw;
                left: 0;
                width: vw(1035);
                @include m() {
                    display: none;
                }
            }
            &_r1 {
                position: absolute;
                top: -4.25vw;
                width: 55vw;
                left: 46vw;
                @include m() {
                    width: 151.7vw;
                    left: -33.7vw;
                    top: 59.4vw;
                }

                &-2{
                    @include m(){
                        top: 20.7vw;
                    }
                }
            }
          


            &_r2 {
                position: absolute;
                right: 0;
                width: 50.7vw;
                top: -1.8125vw;
                @include m() {
                    display: none;
                }

            }
            &_l2 {
                position: absolute;
                left: 0;
                width: vw(1383);
                top: -8.48vw;
                @include m() {
                    width: rwd(723);
                    top: 44.7vw;
                    // left: rwd(-231);
                }

            &-2{
                @include m(){
                    top: 1.7vw;
                }
            }

                
            }
            &_road {
                position: absolute;
                width: vw(1025);
                left: vw(319);
                top:32.71875vw;
            }
            &_or3 {
                z-index: 3;
                width: 100%;
                top: vw(330);
                position: absolute;
            }
            &_or3p {
                top: vw(19);
                width: 100%;
                position: absolute;

            }
        }
        &_a {
            position: relative;
            top: -10vw;
            @include m() {
                position: relative;
                top: 46vw;
            }
            // position: absolute;
            &_cat {
                position: absolute;
                left:55vw;
                top: 31.5vw;
                width: vw(340);
                z-index: 2;
                @include m() {
                    width: 254px;
                    left: 38vw;
                    top: 40.8vw;
                }
            }
            &_dog {
                position: absolute;
                left: vw(1169);
                top: vw(487);
                width: vw(300);

                @include m() {
                    width: 203px;
                    left: 55.26vw;
                }
            }
        }

        &_t {
            position: relative;
            z-index: 30;

            &-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 13px;
                @include m() {
                    position: relative;
                    top: 103px;
                }

                h1 {
                    color: $primaryA11y;
                    font-weight: $bold;
                    font-size: $h1;
                    @include m() {
                        font-size: 32px;

                    }
                }

                p {
                    font-size: font-size(22);
                    color: $primaryDefault;
                    text-transform: uppercase;
                    @include m() {
                        font-size: 20px;
                    }

                }

                &2 {
                    h1 {
                        color: $secondaryA11y;
                    }

                    p {
                        color: $secondaryA11y;
                    }
                }
            }
        }
<<<<<<< HEAD

=======
>>>>>>> QQBB
    }

    .top_kv_crumbs-frame {
        display: flex;
        justify-content: center;


        .top_kv_crumbs {
<<<<<<< HEAD
        
        }
        .top_kv_crumbs{
=======
>>>>>>> QQBB
            z-index: 31;
            position: absolute;
            margin: auto 0;
            display: flex;
            align-items: center;
            color: $primaryA11y;
            top: 45.5625vw;
            right: 7vw;
            @include m() {
                width: 63vw;
                height: 47.37px;
                left: 19.6vw;
                top: 651px;
            }

            &-2 {
                z-index: 31;
                position: absolute;
                display: flex;
                align-items: center;
                color: $primaryA11y;
                top: 5.0625vw;

                @include m(){
                    top: 34.0625vw;
                }
            }

            &_img {
                width: vw(65.65);
<<<<<<< HEAD
            left: vw(1256);
            top: vw(899);
            img{
                width: vw(65.65) ;
=======
>>>>>>> QQBB
                margin-right: $space1;
                @include m() {
                    width: 59.39px;
                }
            }

            &-text {
                border-radius: vw(27);
                padding: 0 vw(25);
                background-color: #fff;
                font-size: $h5;
                align-items: center;
                display: flex;
                @include m(){
                    font-size: rwd(20);

                }

                // &_1{

                // }
                span {
                    margin: $space1;

                }
                &_2 {
                    font-weight: $bold;
                }

            }
        
    }}
}

}
}





    
