<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html', {
        "title" : "贊助專案管理"
    })
<!-- include libraries(jQuery, bootstrap) -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
    <div class="wrapper">
        @@include('./layout/bak-head.html')

        <main class="bm">
            <aside>
                @@include('./layout/bak-aside.html')
            </aside>

            <div class="d_info">
                <div id="app" class="right">
                    <h2>贊助修改</h2>
                    <div class="d_info">
                        <div class="dtitle">
                            <span class="title">&nbsp&nbsp&nbsp&nbsp贊助標題</span>
                            <input type="text" v-model="sponsor.title">
                        </div>
                        
                        <div class="copywriting">
                            <span class="title">&nbsp&nbsp&nbsp&nbsp標題文案</span>
                            <input type="text" v-model="sponsor.content">
                        </div>

                        <div class="sedate">
                            <div class="start">
                                <span class="title">&nbsp&nbsp&nbsp&nbsp開始日期</span>
                                <input type="date" v-model="sponsor.dateStart">
                            </div>

                            <div class="end">
                                <span class="title in">結束日期</span>
                                <input type="date" v-model="sponsor.dateEnd">
                            </div>
                        </div>

                        <div class="copywriting">
                            <span class="title">&nbsp&nbsp&nbsp&nbsp目標金額</span>
                            <input type="text" v-model="sponsor.targetAmount">
                        </div>

                        <div class="pic">
                            <span class="title">&nbsp&nbsp&nbsp&nbsp封面圖片</span>
                            <input type="file" value="瀏覽" @change="filesList">
                            <span class="title">&nbsp&nbsp&nbsp&nbsp主題圖片</span>
                            <input type="file" value="瀏覽" @change="files">
                        </div>
                    </div>
                </div>

                <div class="summernote_wrapper">
                    <textarea id="summernote"></textarea>
                </div>
                <div class="save_wrapper">
                    <button class="btn-0" id="save">save</button>
                </div>
                

                <div id="app2" class="button">
                    <button class="btn-1" @click="reset">重置</button>
                    <button class="btn-0" @click="submit" :disabled="isDisabled">送出</button>      
                </div>
            </div>
        </main>

    <script>
            $('#summernote').summernote({
                        lang: 'zh-CN',
                        tabsize: 2,
                        width: 900,
                        height: 300,
                        toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['fullscreen', 'codeview', 'help']]
                        ],
                    });
                    
                    $('#save').click(function(){
                        let sHTML = $('#summernote').summernote('code');
                        vm.sponsor.note = sHTML
                        console.log(vm.sponsor.note);
                    })

        let vm = new Vue({
            el: "#app",
            data: {
                sponsor:{
                        title: "",
                        content: "",
                        dateStart: "",
                        dateEnd: "",
                        imageList: "",
                        image: "",
                        note: "",
                        status: "",
                        targetAmount: "",
                    },
            },
            methods:{
                filesList(e){
                    this.sponsor.imageList = e.target.files[0].name;
                },
                files(e){
                    this.sponsor.image = e.target.files[0].name;
                },
            },
        })
    
        let vm2 = new Vue({
            el: "#app2",
            date: {
                donate: [],
            },
            methods: {
                reset(){
                    vm.sponsor.title = ""
                    vm.sponsor.content = ""
                    vm.sponsor.dateStart = ""
                    vm.sponsor.dateEnd = ""
                    vm.sponsor.image = ""
                    vm.sponsor.imageList = ""
                    vm.sponsor.note = ""
                    vm.sponsor.targetAmount = ""
                },
                submit(){
                    fetch('./php/insertSponsor.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            title: vm.sponsor.title, 
                            content: vm.sponsor.content, 
                            dateStart: vm.sponsor.dateStart, 
                            dateEnd: vm.sponsor.dateEnd,
                            image: vm.sponsor.image,
                            note: vm.sponsor.note,
                            status: vm.sponsor.status,
                            imageList: vm.sponsor.imageList,
                            targetAmount: vm.sponsor.targetAmount,
                            fundNow: 0,
                            state: 1,
                            amount:0,
                        }),
                    })
                },
            },
            computed: {
                isDisabled(){
                    if(vm.sponsor.note !== ""){
                        return false
                    }else{
                        return true
                    }
                },
            },
            mounted() {
                let getUrlString = location.href;
                let url = new URL(getUrlString);
                let modify = url.searchParams.get('modify');
                fetch(`./php/donate_modify.php?modify=`+modify)
                .then(resp => resp.json())
                .then(resp => this.donate = resp)
            },
        })
    </script>
</body>
</html>