<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html', {
      "title" : "新增商品"
  })
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css"
    />
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      @@include('./layout/bak-head.html')

      <main class="bm">
        <aside>
          @@include('./layout/bak-aside.html')
        </aside>
        
        <!-- <form method="post" action="./php/bak_product_page.php" class="bakProductPageWrapper"> -->

        <form
        method="post" action="./php/insert_images.php" enctype="multipart/form-data"
        
        class="bakProductPageWrapper" id="bakProductApp">
          <!-- <form 
                method="post" action="./php/insert_images.php" enctype="multipart/form-data">  -->
          <div class="productImageArea">
            <!-- <div 
            draggable="true"
             @dragover.prevent="none"
            @drop.prevent="drop"
            class="imgLarge"> -->
            <div 
            class="imgLarge">
              <h5>請放入商品圖片:</h5>
              <img :src="images[currentSrc]" >
              <span>
                <p>{{picText}}</p>
                <button class="btn-1" @click.prevent="deleteImage">刪除</button>
                   
                  <input type="file" @change="onChange" 
                  accept="image/png, image/jpeg"
                  name="profile[]"
                  multiple="multiple"
                  />
                <!-- <input 
                  type="submit" value="上傳檔案" /> -->
                  <!-- <button type="submit">上傳檔案</button> -->
                
              </span>
              <!-- <button class="btn-0 uploadImg">上傳圖片</button> -->
            </div>

            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div 
                v-for="(pic, picIndex) in images"
                :key="picIndex"
                  class="swiper-slide">
                  <img :src="pic" 
                  @click="currentSrc=picIndex" />
                </div>
              </div>
            </div>


          </div>
          
          <div class="productInfo">

            <label class="bak-pd-info-id" for="pdId">
              <input 
              v-model="pdId"
              class="input-textLabel" type="text" placeholder="請輸入商品編號" name="pdId">
            </label>
          
            <label class="bak-pd-info-name" for="name">
              <input
              v-model="name"
              class="input-textLabel" type="text" placeholder="請輸入商品名稱" name="name">
            </label>

    
            <ul class="changePageButton">
              <li class="highlight" 
              >商品資訊</li>
              <li >購物須知</li>
              <li >寄送方式</li>
            </ul>
            <textarea 
            v-model="info"
            placeholder="請輸入商品資訊" name="info"></textarea>
            
            <span>
              <h5>現有庫存</h5>
              <input
              v-model.number="inventory"
              class="bak-pd-num" type="number" name="inventory">
            </span>

            <span>
              <h5>成本 NT$</h5>
              <input 
              v-model.number="cost"
              class="bak-pd-price" type="number" name="cost">
            </span>
            
            <span>
              <h5>金額 NT$</h5>
              <input
              v-model.number="price"
              class="bak-pd-price" type="number" name="price">
            </span>
            
            <div>
        
              <!-- <input type="submit" class="btn-0" value="儲存商品資訊"> -->
              <input 
              type="submit"
              @click="saveProduct"
              class="btn-0" value="儲存商品資訊"/>
            </div>
          </div>

        <!-- </form> -->
      </form>
        <!-- </form> -->


      </main>

    </div>
 






    <script src="./js/bak_product_page.js"></script>
  </body>
</html>
