<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "領養知識問答"
    })

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>

    <main id="customizedApp" class="customized">
        @@include('./layout/nav.html')

        <section class="cus_step">
        
            <article class="custom_page">
                <!-- 提醒剩餘 -->
                <div class="custom_reminder" style="display: none;">
                    請選擇吊牌
                </div>
                <!-- 背景狗狗 -->
                <transition-group name="scale" tag="section">
    
                <picture class="big_dog" v-if="currentPage!=0 && currentPage!=3" key="1">
                    <div class="PetTag"  key="2"><img style="z-index:2" :src="schemas[currentPage].tags[chooseTags]"></div>
                    <img class="currentPet" :src="schemas[currentPage].collar[choosCollar]" style="z-index:0" key="3" v-if="current_animal === 'dog'">
                    <img class="currentPet" :src="schemas[currentPage].cat_collar[choosCollar]" style="z-index:0" key="3" v-if="current_animal === 'cat'">
                    <img class="presetPet" :src="schemas[5].collar[0]" style="z-index:-1" key="4" v-if="current_animal === 'dog'"  v-show="currentPage === 1">
                    <img class="presetPet" :src="schemas[5].collar[1]" style="z-index:-1" key="4" v-if="current_animal === 'cat'"  v-show="currentPage === 1">
                </picture>
                <section class="canvas_frame" key="5"  v-show="currentPage === 3">
                    <canvas id="canvas" ></canvas>
                </section>
                </transition-group>

                <!-- progress -->

                <div class="progress-content " v-if="currentPage != 0 ">
                    <!-- <div :class="[{ progress-content4: isActive }, progress-content]" v-if="currentPage!=0 "> -->
                    <div class="cus_step-select">
            
                        
                    <button id="prev-btn" class="custom_btn custom_btn-prev" @click="prev">
                        <span class="custom_btn_circle custom_btn_circle" aria-hidden="true">
                        <span class="custom_btn_circle_icon custom_btn_circle_arrow custom_btn_circle_arrow"></span>
                        </span>
                        <span class="custom_btn-text">上一步</span>
                    </button>
                 
                    <!-- <button id="next-btn next-btn" class="custom_btn" @click="next();addToCart()"  style="z-index:10;display: none;"  > -->    
                    <button id="next-btn" class="custom_btn" @click="next();addToCart()"  style="z-index:10;display: none;" >
                    
                        <span class="custom_btn_circle" aria-hidden="true">
                        <span class="custom_btn_circle_icon custom_btn_circle_arrow"></span>
                        </span>
                        <span class="custom_btn-text">下一步</span>
                    </button>
                
             
                    </div>
                    <!-- progress-cont4 -->
                    <div class="progress-cont progress-cont4">
                        <div class="progress-container">
                            <div class="progress" id="progress"></div>
                            <div class="circle active">1</div>
                            <div class="circle">2</div>
                            <div class="circle">3</div>
                            <div class="circle">4</div>
                        </div>
                    </div>
                </div>

             <!--  挑選狗貓 -->
                <article v-if="currentPage === 0" key="page1" class="custom_start">
                    <h3>今天想幫誰挑項圈呢？</h3>
                    <div class="custom_start-btn">
                        <button @click.stop="DogNext" class="startBtn"><img src="./images/customized/custom-Dog.png" alt=""></button>
                        <button @click.stop="CatNext" class="startBtn"><img src="./images/customized/custom-Cat.png" alt=""></button>
                    </div>
                </article>
                <!-- 1 挑選皮帶 -->
                <transition-group name="fade">
                    <div class="cus_step2_content" v-if="currentPage === 1" key="currentPage">
                      <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>
                        
                        <div container-id="product-grid" class="product-grid">
                            <div class="product1" v-for="(collar,pid) in schemas" @click.stop="choosCollar = pid">
                                <div class="prd" @click="prdClickfirst">
                                    <img :src="imgURL+schemas[currentPage].product_images[pid]" alt="">
                                    <!-- <img :src="schemas[currentPage].cat_collar[pid]" alt="" v-if="current_animal === 'cat'"> -->
                                    <div class="price">NT {{schemas[currentPage].price[pid]}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </transition-group>
                <!-- 2 挑選吊牌 -->
                <transition-group name="fade">
                    <div id="cus_step2"  class="cus_step2_content" v-if="currentPage === 2" key="currentPage">
                        <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>

                        <div container-id="product-grid" class="product-grid">
                            <div class="product1" v-for="(tags,id) in schemas" @click="chooseTags = id ">
                                <div class="prd tag "  @click="prdClick">
                                    <img :src="imgURL+schemas[currentPage].product_images[id]" alt="">
                                    <div class="price">NT {{schemas[currentPage].price[id]}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition-group>

                <!-- 3 吊牌刻字 -->
                <transition-group name="fade">

                    <div id="cus_step3" class="cus_step2_content" v-if="currentPage === 3" key="currentPage" @click="prdClick">
                        <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>


                        <div container-id="product-input" class="product-input">
                            <div class="addText">
                                <div id="textStyle">
                                    <span class="collarTextTitles">選擇文字風格： </span>

                                    <input type="radio" name="textStyle" id="textStyle2" v-model="strokeWidth"
                                        value="1">
                                    <label for="textStyle2" id="showStyle2">文字描邊</label>
                                    <input type="radio" name="textStyle" id="textStyle3" v-model="strokeWidth"
                                        value="0">
                                    <label for="textStyle3" id="showStyle3">一般文字</label>
                                </div>
                                <div id="textFontFamily">
                                    <span class="collarTextTitles">選擇文字字型： </span>
                                    <select name="" id="fontFamilySelect" v-model="textFontFamily">
                                        <option class="fontFamilys" value="default" selected="" disabled="">
                                            請選擇字型</option>
                                        <option class="fontFamilys" value="DFKai-sb" style="font-family:DFKai-sb;">標楷體
                                        </option>
                                        <option class="fontFamilys" value="NotoSans"
                                            style="font-family:Microsoft JhengHei;">微軟正黑體</option>
                                        <option class="fontFamilys" value="Arial" style="font-family: Arial;">
                                            Arial</option>
                                        <option class="fontFamilys" value="Pacifico" style="font-family: Pacifico;">
                                            Pacifico
                                        </option>
                                        <option class="fontFamilys" value="Quicksand" style="font-family:Quicksand">
                                            Quicksand</option>
                                    </select>
                                </div>
                                <div id="textContent">
                                    <span class="collarTextTitles">輸入文字內容： </span>
                                    <input type="text" id="textContent1" placeholder="請輸入文字">
                                    <button class="textbtn" id="addTextBtn" @click="addText">
                                        <i class="fa-sharp fa-solid fa-plus"></i>
                                    </button>
                                    <button class="textbtn" id="delTextBtn" @click="delbtn">
                                        <i class="fa-sharp fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="big_tag" class="big_dog big_tag">
                            <div class="big_tag_select" v-if="currentPage=3">
                                <img class="choose-tag tag1" :src="schemas[3].tags[chooseTags]" alt="">
                            </div>
                        </div>
                    </div>
                </transition-group>

                    <!-- 4 訂購完成 -->
                <transition-group name="fade">
                    <div class="cus_step2_content cus_step4_content" v-if="currentPage === 4" key="currentPage">
                        <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>

                        <div class="cus_step4_btn">
                            <button class="btn-1 step4_btn">回首頁</button>
                            <button class="btn-0 step4_btn">查看歷史訂單</button>
                        </div>
                    </div>
                </transition-group>

                    <!--  -->
            </article>
        </section>


    </main>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" ></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script type="module" src="./js/customized.js" defer></script>
    <script src="https://unpkg.com/vuex@3"></script>
    <script src="./js/header.js"  defer></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

</body>