<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "領養知識問答"
    })
</head>

<body>



    <main id="customizedApp" class="customized">
        @@include('./layout/nav.html')
        <article v-if="currentPage === 0" key="page1" class="custom_start">
            <h3>今天想幫誰挑項圈呢？</h3>
            <div class="custom_start-btn">
                <button @click="next" class="startBtn"><img src="./images/customized/custom-Dog.png" alt=""></button>
                <button @click="next" class="startBtn"><img src="./images/customized/custom-Cat.png" alt=""></button>
            </div>
        </article>

        <section class="cus_step">
            <article class="custom_page">
                <!-- 背景狗狗 -->
                <picture class="big_dog" v-if="currentPage!=0 && currentPage!=3">
                    <!-- <img :src="schemas[choosePet].chooscollar[0]"> -->
                    <img class="PetTag" :src="schemas[currentPage].tags[chooseTags]" style="z-index:1">
                    <img class="currentPet" :src="schemas[currentPage].chooscollar[choosePet]" style="z-index:0">
                    <img class="presetPet":src="schemas[5].chooscollar[0]" style="z-index:-1">

                </picture>

                <!-- progress -->
                <div class="progress-content " v-if="currentPage!=0 ">
                    <!-- <div :class="[{ progress-content4: isActive }, progress-content]" v-if="currentPage!=0 "> -->
                    <div class="cus_step-select">
                        <button id="prev-btn" class="custom_btn" @click="prev">
                            <i class="fa-solid fa-circle-arrow-left"></i>上一步</button>
                        <button id="next-btn" class="custom_btn" @click="next">下一步<i
                                class="fa-solid fa-circle-arrow-right"></i>
                        </button>
                    </div>
                    <!-- progress-cont4 -->
                    <div class="progress-cont progress-cont4">
                        <div class="progress-container">
                            <div class="progress" id="progress"></div>
                            <div class="circle active">1</div>
                            <div class="circle">2</div>
                            <div class="circle">3</div>
                            <div class="circle">4</div>
                        </div>
                    </div>
                </div>

                <!-- proccess -->
                <!-- <component is="customBtn" v-model="currentPage"></component> -->
                </div>
                <!-- 1 挑選皮帶 -->
                <div class="cus_step2_content" v-if="currentPage === 1">
                    <div class="cus_step_txt">
                        <h3>{{schemas[currentPage].step}}</h3>
                        <h2>{{schemas[currentPage].title}}</h2>
                    </div>

                    <div container-id="product-grid" class="product-grid">
                        <div class="product1" v-for="(collar,pid) in schemas" @click.stop="choosePet = pid ">
                            <div class="prd"><img :src="schemas[currentPage].product_images[pid]" alt="">
                            <div class="price">{{schemas[currentPage].price[pid]}}</div>
                        </div>
                        </div>
                    </div>
                </div>



                <!-- 2 挑選吊牌 -->

                <div class="cus_step2_content" v-if="currentPage === 2">
                    <div class="cus_step_txt">
                        <h3>{{schemas[currentPage].step}}</h3>
                        <h2>{{schemas[currentPage].title}}</h2>
                    </div>

                    <div container-id="product-grid" class="product-grid">
                        <div class="product1" v-for="(tags,id) in schemas" @click.stop="chooseTags = id " >
                            <div class="prd tag "><img :src="schemas[currentPage].product_images[id]" alt="">
                            <div class="price">{{schemas[currentPage].price[id]}}</div>
                             </div>
                        </div>
                    </div>
                </div>


                    <!-- 3 吊牌刻字 -->
                    
                    <div class="cus_step2_content" v-if="currentPage === 3" >
                        <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>
                            

                        <div container-id="product-input" class="product-input">
                            <form action method="post" >
                                <textarea name="" id="custom_cardText" placeholder="請輸入吊牌內容..." v-model="message"></textarea>
                            </form>
                        </div>
                        <div id="big_tag" class="big_dog big_tag">
                 
                            <div class="big_tag_select"> 
                                <img  src="" alt=""  > 
                                <img class="choose-tag tag1" :src="schemas[currentPage].image[0]" alt="" data-cardid="1">
                            </div>
                            <pre class="big_tag-model">
                                <p>{{message}}</p>
                            </pre>
                        </div>
                    </div>


                    <!-- 4 訂購完成 -->
                    <div class="cus_step2_content cus_step4_content"  v-if="currentPage === 4"  key="page4">
                        <div class="cus_step_txt">
                            <h3>{{schemas[currentPage].step}}</h3>
                            <h2>{{schemas[currentPage].title}}</h2>
                        </div>
                        
                        <div class="cus_step4_btn">
                            <button class="btn-1 step4_btn">回首頁</button>
                            <button class="btn-0 step4_btn">查看歷史訂單</button>
                        </div>

                         
                    </div>
                    <!--  -->
            </article>
        </section>

    </main>

    <script src="./js/customized.js"></script>
</body>