<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "浪浪新聞"
    })
</head>

<body>
    @@include('./layout/header_1.html',{
    "大標題" : "浪浪新聞" ,
    "英文標題" : "LANG LANG NEWS" ,
    "前頁面" : "關於浪浪" ,
    "此頁面" : "浪浪新聞" ,
    })
    <main class="langNews" id="app">

        <div class="filters">
            <span class="filter" :class="{ active: currentFilter === 'ALL' }"
                v-on:click="setFilter('ALL')">全部</span>
            <span class="filter" :class="{ active: currentFilter === 'NEWS' }"
                v-on:click="setFilter('NEWS')">浪浪新聞</span>
            <span class="filter" :class="{ active: currentFilter === 'ACTIVITY' }"
                v-on:click="setFilter('ACTIVITY')">活動公告</span>
            <span class="filter" :class="{ active: currentFilter === 'ANNOUNCE' }"
                v-on:click="setFilter('ANNOUNCE')">一般公告</span>
        </div>
       
        <section id="">
            <div class="NewsGrid" name="posts">
              <div class="for" v-if="currentFilter === post.category || currentFilter === 'ALL'" v-for="post in posts" :style="{'animation-delay': pid/8 + 's'}"
              :key="id">
                <a :href="'./langNews-cont.html?getNews='+post.id" class="News_cont">
                 <div class="News_pic">
                 <img :src="post.image"  alt=""></div>
                    <p>{{ post.title }}</p>
                     <div class="date_box">
                         <span class="year">{{ post.year }}</span>
                         <span class="date">{{ post.date }}</span>
                     </div>
                 </a>
              </div>
            </div>
            </section>
    </main>

    @@include('layout/footer.html')
    <script src="./js/langNews.js"></script>

</body>

</html>