<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "浪浪等家"
    })
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
</head>

<body>
    
    @@include('./layout/header_2.html',{

    "前頁面" : "浪浪新聞" ,
    "此頁面" : "新聞" ,
    })
    <main class="langNews-content">
        <div class="news-content" id="news_cont">
            <div class="langNews-content_frame" v-for="(post,pid) in posts" v-show="pid === 0">
                <article class="sponsored_page langNews-content_article ">
                    <div class="langNews-content_date">
                        {{ post.year }} / {{ post.date }} 觀看 {{ post.views }}
                    </div>

                    <div class="langNews-content_title">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="langNews-content_text">

                        <img class="langNews-content_cover" :src="post.image">
                        <div v-html="post.content">
                            {{ post.content }}
                        </div>



                    </div>

                    <article class="artical_favorites_share">

                        <div class="favorites">
                            <div class="" onclick="postLike(this);" data-id="517"> <i class="fa-solid fa-heart"></i>
                            </div>
                            {{ post.collet }}
                        </div>


                        <div class="artical_share">
                            <input type="hidden" id="share_link">
                            <div class="share_link" onclick="copyText();">
                                <a href=""><i class="fa-solid fa-share-nodes"></i></a>
                            </div>
                            <div class="share_line">
                                <a href=""><i class="fa-brands fa-line"></i></a>
                            </div>
                            <div class="share_facebook">
                                <a href=""><i class="fa-brands fa-facebook"></i></a>
                            </div>

                        </div>

                    </article>

            </div>
     

        <article class="sponsored_page related_artical_list">
            <div class="box_title">
                <h3>相關文章</h3>
            </div>
            <div class="NewsGrid NewsGrid3n">
                <div class="for" v-for="(post,pid) in posts" v-show="pid!=0">
                    <a :href="'./langNews-cont.html?getNews='+post.id" class="News_cont">
                        <div class="News_pic">
                            <img :src="post.image" alt="">
                        </div>
                        <p>{{ post.title }}</p>
                    </a>
                </div>
            </div>
        </article>
    </div>
    </main>



    @@include('layout/footer.html')
    <script src="./js/langNews.js"></script>

</body>

</html>