<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "浪浪等家"
    })
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
</head>

<body>
    @@include('./layout/header_2.html',{

    "前頁面" : "浪浪新聞" ,
    "此頁面" : "{{post.title}}" ,
    })
    <main class="langNews-content" id="app" >

        <div class="langNews-content_frame" v-for="(post,pid) in posts"  v-show="pid === 0">
            <article class="sponsored_page langNews-content_article ">
                <div class="langNews-content_date"> 
                    {{ post.year }} / {{ post.date }} 觀看 {{ post.views }}
                </div>

                <div class="langNews-content_title">
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="langNews-content_text">

                    <img class="langNews-content_cover" :src="post.image">
                    <news-component></news-component>
                    <!-- {{ post.text }} -->
<!-- 
                    <p>帶狗狗外出散步時，你是和狗狗「一起散步」還是「被拖著散步」呢？<br>
                        狗狗一出門就想暴衝，除了因為太有精力外，大多是因為毛爸媽沒有堅守「主導」的角色喔！<br>
                        讓狗狗學會放慢腳步與你一起並行，就能訓練狗狗避免出現失控的行為。</p>

                    <img class="solid" src="./images/Derrick/solid.png" alt="solid"  >
                   

                    <p>根據2017年由英國利物浦大學刊載於《國際環境研究與公共衛生期刊》上的一篇研究指出：
                        <strong>飼主帶狗狗出門散步，不僅是為了狗狗的健康，同時自己也會因遛狗而增加快樂與幸福的感覺。</strong>
                        <br>
                        結果還顯示：<br>
                        <strong>遛狗可以增加飼主體能活動量，並與其他狗狗主人社交互動的連帶效益等</strong>。
                    </p>
                    <br>
                    <h4><strong>掌握正確遛狗方式，讓人寵都健康</strong></h4>

                    <p>為了讓狗狗擁有足夠的運動量，以保持身心健康愉快，每天出門散步是必須的！<br>
                        但，每當帶狗狗出門時，你是和狗狗「一起散步」還是「被拖著散步」呢？</p>
                    <br>
                    <p>
                        <br>

                        <strong>主導一切，不讓狗狗拖著你走</strong>

                        <br>
                        當狗狗開始暴衝時，這時<u>抓緊牽繩並站在原點不動</u>，等到狗狗幾次嘗試往前衝但發現你還是不動時，就會停下來，或是回頭找你。
                    </p>
                    <br>
                    <p><strong>適時的獎勵，讓狗狗喜歡上訓練</strong><br>
                        如果狗狗回頭找你，<u>記得用愉悅的音調來讚美牠</u>，<u>也可以給牠小零食獎勵</u>，並繼續剛剛中斷的散步。<br>
                        如果下一次狗狗又想暴衝，就重複剛剛的動作，反覆訓練，通常狗狗就會漸漸趨於穩定的與你並排走。
                    </p>
                    <br>
                    <p> <strong>抓緊牽繩，而非猛拉牽繩</strong> <br>
                        用蠻力制止狗狗的行為可能會造成狗狗受傷，而且還會讓狗狗從此討厭或懼怕外出散步，甚至讓行為更加偏差。
                    </p>

                  


                    <h4><strong>還有其他的遛狗學問，你知道嗎？</strong></h4>

                    <p><strong>凡出門必帶牽繩且不離手</strong><br>
                        有些爸媽會認為家裡的狗狗很乖不會隨便亂跑，或是覺得繫上牽繩可能會限制了狗狗的自由、不舒服，但意外往往就是在一瞬間發生。<br>
                        所以記得確保繫上牽繩再出門，<u>讓危險性降到到最低</u>，<u>也維護路上行人的權益</u>。
                    </p>
                    <br>
                    <p> <strong>依狗狗體型斟酌遛狗的時長</strong> <br>
                        每天散步的時間長度：<br>
                        - 小型犬控制在20～30分鐘<br>
                        - 中型犬約30～40分鐘<br>
                        - 大型犬需要一小時左右
                    </p>
                    <br>
                    <p><strong>要有規律地進行運動</strong><br>
                        有些毛爸媽可能平日沒有時間遛狗，就會選擇在周末帶狗狗各種爬山涉水，但<u>突增的大量運動</u>，<u>容易因為身體難以負荷而讓狗狗有不適反應</u>；如果是年紀稍長的狗狗，還有可能讓關節、脊椎、心臟等受到傷害。
                    </p>
                    <br>

                    <p><strong>做好除蟲防護措施</strong><br>
                        <u>台灣一年四季都有外寄生蟲</u>，最愛毛孩們溫暖又毛絨絨的身體，假如帶狗狗出門卻沒有做任何防護，回家後可能就會在狗狗身上看到壁蝨或跳蚤了。
                    </p>
                    <br>

            

                    <p>遛狗不僅僅是為了讓狗狗的擁有充足的運動量，出門走走、吹吹風、看看路上行人或車子，這些都會給予狗狗的腦部刺激，對預防「失智症」是重要的幫助。
                    </p>

                    <p>此外，如果狗狗已養成每天外出散步及如廁的習慣，就更需要帶牠們出門遛遛，最好不要隨意更改狗狗的生活作息喔！</p>
                    <br>
          
                    <img class="solid" src="./images/Derrick/solid.png" alt="solid" width="100%">
               
            </div> 

                    <article class="artical_favorites_share" >
                      
                                <div class="favorites">
                                    <div class="" onclick="postLike(this);" data-id="517"> <i
                                            class="fa-solid fa-heart"></i>
                                    </div>
                                    {{ post.collet }}
                                </div>
                        
                           
                                <div class="artical_share">
                                    <input type="hidden" id="share_link">
                                    <div class="share_link" onclick="copyText();">
                                        <a href=""><i class="fa-solid fa-share-nodes"></i></a>
                                    </div>
                                    <div class="share_line">
                                        <a href=""><i class="fa-brands fa-line"></i></a>
                                    </div>
                                    <div class="share_facebook">
                                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    </div>
                                
                                </div>
                            
                    </article>
             </article>
        </div>
                   
          
             <article class="sponsored_page related_artical_list">
                <div class="box_title">
                    <h3>相關文章</h3>
                </div>
                <div class="NewsGrid NewsGrid3n" name="posts">
                    <a href="./langNews-cont.html" class="News_cont News_cont-sm"  v-show="pid < 3 " v-for="(post,pid) in posts" :style="{'animation-delay': pid/8 + 's'}"
                     :key="post.pid">
                     <div class="News_pic ">
                     <img :src="post.image"  alt=""></div>
                        <p>{{ post.title }}</p>
                     </a>
                </div>
            </article> 

        </div> -->


    </main>
    @@include('layout/footer.html')
    <script src="./js/langNews.js"></script>

</body>

</html>