<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html', { "title" : "浪浪商店" })
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script> -->
    <script src="https://unpkg.com/vue@2"></script>
  </head>

  <body>
    @@include('./layout/header_1.html',{ "大標題" : "浪浪商店" , "英文標題" :
    "LANG LANG WAITS FOR HOME" , "前頁面" : "首頁" , "此頁面" : "購物車" , })
    <!-- <main> -->
        <main class="shoppingCartWrapper" id="shoppingCartApp">
            <ul class="titleArea">
                <li v-for="title in cartTitle" :class="{'currentPage': currentPage === title.id}">{{title.name}}</li>
            </ul>
            <div class="shoppingList">
                <h3>購物清單</h3>
                <hr class="mainLine">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>商品</th>
                            <th>單件價格</th>
                            <th>數量</th>
                            <th>小計</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for=" pd in cartList">
                            <td><img :src="pd.img"></td>
                            <td>{{pd.title}}</td>
                            <td>{{pd.price}}</td>
                            <td>
                                <div class="counter">
                                    <button class="btn-minus" @click="changeCounter(-1)"></button>
                                    <input type="number" :value="counter">
                                    <button class="btn-plus" @click="changeCounter(1)"></button>
                                </div>
                            </td>
                            <td>NT$ {{pd.sum}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="payInfo">
                    <span>
                        <h4>合計：</h4>
                        <div class="totalCost">NT$ 700</div>
                    </span>

                
                </div>
                <span class="doubleLine"></span>
            </div>
            

            <div class="buttonArea">
                <button class="btn-1">返回購物</button>
                <button class="btn-0"
                @click="content='page2', selected = 2"
                >前往結帳</button>
            </div>
        </main>
    <!-- </main> -->

    @@include('layout/footer.html')

   <script src="./js/shopping_cart.js"></script>
  </body>
</html>
