<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html', { "title" : "浪浪商店" })
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://unpkg.com/vue@2"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
  </head>

  <body>
    @@include('./layout/header_1.html',{ "大標題" : "浪浪商店" , "英文標題" :
    "LANG LANG SHOP" , "前頁面" : "首頁" , "此頁面" : "浪浪商店" , })
    <!-- <main> -->
      <main class="shoppingPageWrapper">
        <!-- sidebar -->
        <div class="sidebar" id="sidebarApp">
          <h3>商品類別</h3>
          <ul>
            <li>
              <button class="accordion" @click="toggle(0)">汪汪選物</button>
              <ol :class="olClass">
                <li><button>汪汪罐頭</button></li>
                <li><button>汪汪飼料</button></li>
              </ol>
            </li>
            <li>
              <button class="accordion" @click="toggle(1)">喵喵選物</button>
              <ol :class="olClass">
                <li><button>喵喵罐頭</button></li>
                <li><button>喵喵飼料</button></li>
              </ol>
            </li>
            <li>
              <button>浪浪周邊</button>
            </li>
          </ul>
          <img src="./images/ff/map04.png" alt="
          Cartoon">
        </div>
        <!-- sidebar -->

        <!-- main content -->
        <div class="mainContent">
          <div class="search-wrapper">
            <input type="search" class="input-search" name="q" placeholder="search">
          </div>
          <span></span>
          <ul class="productsContent" id="productsApp">
            <li v-for="item in products" class="pd-itembox">
              <img src="./images/ff/pd-001.jpg" alt="pd-001">
              <h5>
                <!-- 貓貓罐頭貓貓罐頭<br>
                貓貓罐頭貓貓罐頭 -->
                貓貓罐頭
              </h5>
              <hr>
              <h4>NT 425</h4>
            </li>
          </ul>
          <ul class="pages" id="pageApp">
            <li class="previous">
              <i class="fa-solid fa-circle-chevron-left"></i>
            </li>
            <li class="currentPage">1</li>
            <li v-for="page in pages">{{page}}</li>
            <li class="next">
              <i class="fa-solid fa-circle-chevron-right"></i>
            </li>
          </ul>
          
        </div>

        <!-- main content end -->

      </main>
    <!-- </main> -->
    @@include('layout/footer.html')

    <script src="./js/shopping_page.js"></script>
  </body>
</html>
