<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> -->

    @@include('./layout/head.html', { "title" : "浪浪商店" })
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css"
    />
    <!-- <script src="https://unpkg.com/vue@2"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
    <script src="https://unpkg.com/vuex@3"></script>
  </head>

  <body>
    @@include('./layout/header_2.html',{ "前頁面" : "首頁" , "此頁面" :
    "浪浪商店" , })
    <!-- <main> -->
    <main id="shoppingApp" class="shoppingPageWrapper">
      <!-- sidebar -->
      <div class="sidebar">
        <h3>商品類別</h3>
        <ul>
          <li>
            <button class="accordion" @click="toggle(0)">汪汪選物</button>
            <ol :class="olClass">
              <li>
                <button @click="filterCondition ='pd-1',changeType()">
                  汪汪找伙食
                </button>
              </li>
              <li>
                <button @click="filterCondition ='pd-2',changeType()">
                  汪汪用品
                </button>
              </li>
            </ol>
          </li>
          <li>
            <button class="accordion" @click="toggle(1)">喵喵選物</button>
            <ol :class="olClass">
              <li>
                <button @click="filterCondition ='pd-3',changeType()">
                  喵喵找伙食
                </button>
              </li>
              <li>
                <button @click="filterCondition ='pd-4',changeType()">
                  喵喵用品
                </button>
              </li>
            </ol>
          </li>
          <li>
            <button @click="filterCondition ='pd-0',changeType()">
              浪浪周邊
            </button>
          </li>
        </ul>
        <img
          src="./images/ff/map04.png"
          alt="
          Cartoon"
        />
      </div>
      <!-- sidebar -->

      <div class="search-wrapper">
        <input
          @change="searching"
          v-model.trim.laze="searchCondition"
          type="search"
          class="input-search"
          name="q"
          placeholder="search"
        />
      </div>

      <!--  老師建議以後作法
        <product-page
      :product="current_popup"
      :key="current_popup"
      v-if="current_popup"
    /> -->

      <!-- main content -->
      <div class="mainContent">
        <span></span>
        <ul class="productsContent">
          <li
            v-for="(product,pdIndex) in productInPage"
            :key="product.pdId"
            class="pd-itembox"
            @click="toggleShow(product)"
          >
            <!-- <img src="./images/ff/pd-001-1.jpg" alt="pd-001" /> -->
            <img
              :src="imgURL+product.imgList[0]"
              :alt="replaceStr(product.imgList[0])"
            />
            <h5>{{product.name}}</h5>
            <hr />
            <h4>NT {{product.price}}</h4>

            <product-page
              :product="product"
              :key="product.pdId"
              v-show="product.isShow"
            />

            <!-- product page -->

            <!-- <div
v-show="product.isShow"
class="productPageDrop"
@click="toggleShow(product)">

<div
@click.stop
@touchend.stop.prevent="product.isShow = true"
  class="productPageWrapper" 
  >
    <div class="productImageArea">
      <div class="imgLarge">
        <img :src="imgURL+product.imgList[currentSrc]" alt="product" />
      </div>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div
            v-for="(pic, picIndex) in product.imgList"
            :key="picIndex"
            class="swiper-slide"
          >
            <img :src="imgURL+pic" 
            @touchend.stop.prevent="currentSrc=picIndex"
            @click="currentSrc=picIndex" />
          </div>
        </div>
      </div>
    </div>

    <div class="productInfo">
      <h2>{{product.name}}</h2>
      <div class="pageClose" @click="toggleShow(product)"></div>
      <ul class="changePageButton">
        <li
          @click="content='productContent', selected = 1"
          :class="{'highlight':selected === 1}"
        >
          商品資訊
        </li>
        <li
          @click="content='shoppingInfo', selected = 2"
          :class="{'highlight':selected === 2}"
        >
          購物須知
        </li>
        <li
          @click="content='deliveryMethod', selected = 3"
          :class="{'highlight':selected === 3}"
        >
          寄送方式
        </li>
      </ul>

      <component :is="content" :pd-info="product.info">
      </component>

      <p class="price">金額 NT.{{product.price}}</p>
      <p class="num">現有庫存 {{product.inventory}}</p>
      <div>
        <div class="counter">
          <button class="btn-minus" @click="product.quantity <=1?1:product.quantity--"
          ></button>
          <input type="number" v-model="product.quantity" />
          <button class="btn-plus" @click="product.quantity++"
          ></button>
        </div>
        <button class="btn-0 btn-shopping">
          <iconify-icon icon="eva:shopping-cart-fill"></iconify-icon>
          加入購物車
        </button>
      </div>
    </div>

    <button class="btn-1"
    @touchend.stop.prevent="toggleShow(product)"
    @click="toggleShow(product)">返回上一頁</button>
  </div>
</div> -->

            <!-- product page end -->
          </li>
        </ul>

        <!-- 頁數 -->
        <ul class="pages">
          <li @click="pageMinus" class="previous">
            <i class="fa-solid fa-circle-chevron-left"></i>
          </li>
          <li
            v-for="(page,pageIndex) in pages"
            @click="changePage(page)"
            :class="{currentPage:currentPage === (pageIndex + 1)}"
          >
            {{pageIndex+1}}
          </li>
          <!-- <li v-for="page in pages">{{page}}</li> -->
          <li @click="pagePlus" class="next">
            <i class="fa-solid fa-circle-chevron-right"></i>
          </li>
        </ul>
      </div>

      <!-- main content end -->
    </main>
    <!-- </main> -->
    @@include('layout/footer.html')

    <script type="module" src="./js/shopping_page.js"></script>
  </body>
</html>
