<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html', { "title" : "浪浪商店" })
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
    <script src="https://unpkg.com/vue@2"></script>
  </head>

  <body>
    @@include('./layout/header_2.html',{
        "前頁面" : "首頁" ,
        "此頁面" : "購物車" ,
      })
    <!-- <main> -->
    <main class="shoppingCartWrapper" id="shoppingCartApp">
        <ul class="titleArea">
            <li v-for="title in cartTitle" :class="{'currentPage': currentPage === title.id}">{{title.name}}</li>
        </ul>
        

        <!-- shopping cart page 1 -->
        <section v-if="currentPage === 1">
            <div class="shoppingList">
            <h3>購物清單</h3>
            <hr class="mainLine">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品</th>
                        <th>單件價格</th>
                        <th>數量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for=" pd in cartList">
                        <td><img :src="pd.img"></td>
                        <td>{{pd.title}}</td>
                        <td>{{pd.price}}</td>
                        <td>
                            <div class="counter">
                                <button class="btn-minus" @click="changeCounter(-1)"></button>
                                <input type="number" :value="counter">
                                <button class="btn-plus" @click="changeCounter(1)"></button>
                            </div>
                        </td>
                        <td>NT$ {{pd.sum}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="payInfo">
                <span>
                    <h4>合計：</h4>
                    <div class="totalCost">NT$ 700</div>
                </span>

            
            </div>
            <span class="doubleLine"></span>
            </div>
        

            <div class="buttonArea">
                <a href="./shopping_page.html" class="btn-1">返回購物</a>
                <button class="btn-0"
                @click="currentPage = 2"
                >前往結帳</button>
            </div>
        </section>



        <!-- shopping cart page 2 -->
        <section v-if="currentPage === 2">
            <div class="shoppingList">
                <h3>訂單成立</h3>
                <hr class="mainLine">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>商品</th>
                            <th>單件價格</th>
                            <th>數量</th>
                            <th>小計</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for=" pd in cartList">
                            <td><img :src="pd.img"></td>
                            <td>{{pd.title}}</td>
                            <td>{{pd.price}}</td>
                            <td>
                                <div class="counter">
                                    <button class="btn-minus" @click="changeCounter(-1)"></button>
                                    <input type="number" :value="counter">
                                    <button class="btn-plus" @click="changeCounter(1)"></button>
                                </div>
                            </td>
                            <td>NT$ {{pd.sum}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="payInfo">
                    <span>
                        <h4>運送方式：</h4>
                        <input type="radio" value="60" name="deliveryFee">超商取貨 NT$ 60
                    </span>
                    <span>
                        <input type="radio" value="100" name="deliveryFee">常溫宅配送貨 NT$ 100
                    </span>
                    <span>
                        <h4>合計：</h4>
                        <div class="totalCost">NT$ 700</div>
                    </span>

                
                </div>
                <span class="doubleLine"></span>
                <div class="payWay">
                    <span>
                        <input type="radio" name="payWay" id="">綠界金流 - 第三方金流平台 (透過信用卡、WebATM、ATM轉帳付款)
                    </span>
                    <span>
                        <input type="radio" name="payWay" id="">貨到付款 (收到貨時以現金付款)
                    </span>
                    <span>
                        <input type="radio" name="payWay" id="">超商取貨付款 (全家超商取貨付款)
                    </span>
                </div>
            </div>
            <div class="formTitle">
                <h3>填寫資料</h3>
                <hr class="mainLine">
            </div>

            <!-- 左邊資料 -->
            <div class="left-form">
                <h4>帳單資訊</h4>
                <hr class="mainLine">

                <!-- 您的名字 -->
                <label 
                :class="{disabled: changeAddressIsActive}"
                class="infoNameLabel" name="infoName" >
                    <input
                    :disabled="changeAddressIsActive" 
                    v-model.lazy.trim="recipientInfo.name"
                    class="input-textLabel" type="text" placeholder="請輸入您的名字" name="infoName">
                </label>

                <!-- 寄送地址 -->
                <h5
                :class="{disabled: changeAddressIsActive}"
                >寄送地址 (使用超商收貨者免填) (選填)</h5>
                <div
                :class="{disabled: changeAddressIsActive}"
                class="twzipcode"></div>
                <!-- 舊寫法 
                    <span>
                    <select>
                        <option>縣市</option>
                    </select>
                    <select>
                        <option>鄉鎮市區</option>
                    </select>
                    <input class="postalCode" type="text" placeholder="郵遞區號">
                </span> -->
                <input
                :disabled="changeAddressIsActive" 
                v-model.lazy.trim="recipientInfo.address"
                 class="address" type="text" placeholder="請輸入您的住址">



                <!-- 連絡電話 -->
                <label
                :class="{disabled: changeAddressIsActive}"
                class="infoPhoneLabel" name="infoName">
                    <input
                    :disabled="changeAddressIsActive"
                    v-model.lazy.trim="recipientInfo.phone"
                    class="input-textLabel" type="text" placeholder="請輸入您的電話" name="infoPhone">
                </label>

                <!-- e-mail -->
                <label
                :class="{disabled: changeAddressIsActive}"
                class="infoEmailLabel" name="infoName">
                    <input
                    :disabled="changeAddressIsActive"
                    v-model.lazy.trim="recipientInfo.email"
                    class="input-textLabel" type="text" placeholder="請輸入您的e-mail" name="infoEmail">
                </label>

                <label
                for="invoice">索取發票方式:</label>
                <select
                v-model.lazy.trim="recipientInfo.invoce"
                name="invoice" class="invoice" id="invoice">
                    <option value="">索取紙本發票</option>
                    <option value="">統一編號</option>
                    <option value="">手機條碼</option>
                </select>
            </div>

            <!-- 右邊資料 -->
            <div class="right-form">
                <div>
                    <input type="checkbox" @click="changeAddress">
                    <h4>運送到不同地址?</h4>
                </div>
                <hr class="mainLine">

                <!-- 收件人的名字 -->
                <label
                :class="{disabled: !changeAddressIsActive}"
                 class="otherNameLabel" name="otherName">
                    <input
                    :disabled="!changeAddressIsActive"
                    class="input-textLabel" type="text" placeholder="請輸入收件人的名字" name="otherName">
                </label>

                <!-- 寄送地址 -->
                <h5 :class="{disabled: !changeAddressIsActive}">寄送地址 (使用超商收貨者免填) (選填)</h5>
                <div
                :class="{disabled: !changeAddressIsActive}"
                class="twzipcode"></div>
                <input
                :disabled="!changeAddressIsActive"
                class="otherAddress" type="text" placeholder="請輸入收件者的住址">

                <!-- 連絡電話 -->
                <label
                :class="{disabled: !changeAddressIsActive}"
                class="otherPhoneLabel -disabled" name="otherName">
                    <input
                    :disabled="!changeAddressIsActive"
                    class="input-textLabel" type="text" placeholder="請輸入收件者的電話" name="otherPhone">
                </label>

                <!-- 備註 -->
                <label>備註:
                    <textarea
                     name="" id=""></textarea>
                </h5>
                
                
            </div>

            <div class="buttonArea">
                <button class="btn-1"
                @click="currentPage = 1"
                >返回購物車</button>
                <button class="btn-0"
                @click="currentPage = 3"
                >提交訂單</button>
            </div>
        </section>



        <!-- shopping cart page 3 -->
        <section v-if="currentPage === 3">
            <div class="shoppingList">
            <h3>您的訂單</h3>
            <hr class="mainLine">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品</th>
                        <th>單件價格</th>
                        <th>數量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for=" pd in cartList">
                        <td><img :src="pd.img"></td>
                        <td>{{pd.title}}</td>
                        <td>{{pd.price}}</td>
                        <td>
                            
                                {{counter}}
                            
                        </td>
                        <td>NT$ {{pd.sum}}</td>
                        <td class="-none"></td>
                    </tr>
                </tbody>
            </table>
            <div class="payInfo">
                <span>
                    <h4>運送方式：</h4>
                    常溫宅配送貨 NT$ 100
                </span>
                <span>
                    <h4>合計：</h4>
                    <div class="totalCost">NT$ 700</div>
                </span>

            
            </div>
            <span class="doubleLine"></span>
        </div>
        

        <div class="recipientInfo">
            <h3>收貨資訊</h3>
            <hr class="mainLine">
            <span>
                <div>姓名：ＸＸＸ</div>
                <div>取貨方式：宅配</div>
            </span>
            <span>
                <div>電話：09xx -  000 - 000</div>
                <div>E-MAIL：abcde@example.com</div>
            </span>
            <div>取貨地址：100台北市中正區濟南路一段321號</div>
        </div>

        <div class="buttonArea">
            <a href="./shopping_page.html" class="btn-1">返回購物車</a>
        </div>
        </section>

    </main>
    <!-- </main> -->

    @@include('layout/footer.html')

   <script src="./js/shopping_cart.js"></script>
  </body>
</html>
