<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./layout/head.html', { "title" : "浪浪商店" })
    <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  </head>

  <body>
    @@include('./layout/header_2.html',{
      "前頁面" : "首頁" ,
      "此頁面" : "浪浪商店" ,
    })
    <!-- <main> -->
      <main id="shoppingApp" class="shoppingPageWrapper">
        <!-- sidebar -->
        <div class="sidebar">
          <h3>商品類別</h3>
          <ul>
            <li>
              <button class="accordion" @click="toggle(0)">汪汪選物</button>
              <ol :class="olClass">
                <li><button>汪汪罐頭</button></li>
                <li><button>汪汪飼料</button></li>
              </ol>
            </li>
            <li>
              <button class="accordion" @click="toggle(1)">喵喵選物</button>
              <ol :class="olClass">
                <li><button>喵喵罐頭</button></li>
                <li><button>喵喵飼料</button></li>
              </ol>
            </li>
            <li>
              <button>浪浪周邊</button>
            </li>
          </ul>
          <img src="./images/ff/map04.png" alt="
          Cartoon">
        </div>
        <!-- sidebar -->

        <div class="search-wrapper">
          <input type="search" class="input-search" name="q" placeholder="search">
        </div>
        
        <!-- main content -->
        <div class="mainContent">
          <span></span>
          <ul class="productsContent">
            <li v-for="item in products" class="pd-itembox" @click="isShow = true">
              <img src="./images/ff/pd-001.jpg" alt="pd-001">
              <h5>
                <!-- 貓貓罐頭貓貓罐頭<br>
                貓貓罐頭貓貓罐頭 -->
                貓貓罐頭
              </h5>
              <hr>
              <h4>NT 425</h4>
            </li>
          </ul>
          <ul class="pages">
            <li class="previous">
              <i class="fa-solid fa-circle-chevron-left"></i>
            </li>
            <li class="currentPage">1</li>
            <li v-for="page in pages">{{page}}</li>
            <li class="next">
              <i class="fa-solid fa-circle-chevron-right"></i>
            </li>
          </ul>
          
          <!--  v-if="isShow"
                v-show="isShow" 皆可,但v-show 是要一個function -->
          <div class="productPageDrop"
              v-if="isShow"
              @click="isShow = false"
              >
              <div class="productPageWrapper" @click.stop="isShow">
                <div class="productImageArea">
                  <div class="imgLarge">
                    <img src="./images/ff/pd-001.jpg" alt="product">
                  </div>
                  <ul class="imgSmall">
                    <li><img src="./images/ff/pd-001.jpg"></li>
                    <li><img src="./images/ff/pd-001.jpg"></li>
                    <li><img src="./images/ff/pd-001.jpg"></li>
                    <li><img src="./images/ff/pd-001.jpg"></li>
                    <li><img src="./images/ff/pd-001.jpg"></li>
                  </ul>
                </div>
                <div class="productInfo">
                  <h2>貓貓罐頭</h2>
                  <div class="pageClose" @click="isShow = false"></div>
                  <ul class="changePageButton">
                    <li @click="content='productContent', selected = 1" :class="{'highlight':selected === 1}"
                    >商品資訊</li>
                    <li @click="content='shoppingInfo', selected = 2" :class="{'highlight':selected === 2}"
                    >購物須知</li>
                    <li @click="content='deliveryMethod', selected = 3" :class="{'highlight':selected === 3}"
                    >寄送方式</li>
                  </ul>
                  <component :is="content">
                  <!-- <div class="textArea"></div> -->
                  </component>
                  <h5 class="price">金額 NT.425</h5>
                  <p class="num">現有庫存 12</p>
                  <div>
                    <div class="counter">
                      <button class="btn-minus" @click="changeCounter(-1)"></button>
                      <input type="number" :value="counter">
                      <button class="btn-plus" @click="changeCounter(1)"></button>
                    </div>
                    <button class="btn-0 btn-shopping">
                      <iconify-icon icon="eva:shopping-cart-fill"></iconify-icon>
                      加入購物車</button>
                  </div>
                </div>
                
                <button class="btn-1" @click="isShow = false">
                  返回上一頁
                </button>
              </div>
              
 
            </div>
      


        </div>

        <!-- main content end -->

      </main>
    <!-- </main> -->
    @@include('layout/footer.html')

    <script src="./js/shopping_page.js"></script>
  </body>
</html>
