<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "浪浪等家"
    })
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
</head>

<body>
    @@include('./layout/header_2.html',{
    "大標題" : "浪浪等家" ,
    "英文標題" : "LANG LANG WAITS FOR HOME" ,
    "前頁面" : "浪浪募資" ,
    "此頁面" : "贊助頁面" ,
    })
    <main class="sponsor_information" id="sponsor_informationApp">
        <h1>【I got you 浪我罩你】線上訂閱中途計畫</h1>
        <div class="sponsor_information-all">
            <div class="sponsor_information-all-left">
                <div class="sponsor_information-all-btnbig-in">
                    <div class="selection"><img src="./images/Meteor/selection1.jpg" alt=""></div>
                    <h5>方案一</h5>
                    <p>每月 NT$300</p>
                    <p class="sponsorTime">已被贊助 621 次</p>
                </div>
                <div class="sponsor_information-all-under">
                    <div class="sponsor_information-all-inder1">
                        <h5>選項金額</h5>
                        <p>NT$300</p>
                    </div>
                    <hr>
                    <div class="sponsor_information-all-inder2">
                        <h5>總價</h5>
                        <p>NT$300/每月</p>
                    </div>
                </div>
            </div>
            <div class="sponsor_information-all-right">
                <ul class="sponsor_information-right-top">
                    <li v-for="title in cartTitle" :class="{'currentPage': currentPage === title.id}">{{title.name}}</li>
                </ul>

                <section class="sponsor_information-flex" v-if="currentPage == 1">
                    <label class="sponsor_information-label" for="username">
                        <h4>姓名</h4>
                    <input v-model="donor.name" class="input-text" type="text" name="username" id="username" placeholder="請填寫真實姓名">
                    </label>
                    <br>
                    <div class="sponsor_information-label">
                        <h4>國籍別</h4>
                    <label class="nation-label" for="nationTW">
                        <input v-model="donor.nationTW" id="nationTW" type="radio" name="nation" value="本國籍">
                        <p>本國籍</p>
                    </label>
                    <label class="nation-label" for="nationUS">
                        <input v-model="donor.nationTW" id="nationUS" type="radio" name="nation" value="外國籍">
                        <p>外國籍</p>
                    </label>
                    </div>
                    <br>
                    <label class="sponsor_information-label" for="idname">
                        <h4>身份證字號</h4>
                    <input v-model="donor.idname" class="input-text" type="text" id="idname" placeholder="境外人士請填寫護照號碼 Passport No.">
                    </label>
                    <br>
                    <label class="sponsor_information-label" for="email">
                        <h4>E-mail</h4>
                    <input v-model="donor.email" class="input-text" type="text" id="email">
                    </label>
                    <br>
                    <label class="sponsor_information-label" for="sex">
                        <h4>性別</h4>
                    <label  class="sex-label" for="male">
                        <input v-model="donor.gender" id="male" type="radio" name="sex" value="男">
                        <p>男</p>
                    </label>
                    <label class="sex-label" for="female">
                        <input v-model="donor.gender" id="female" type="radio" name="sex" value="女">
                        <p>女</p>
                    </label>
                    </label>
                    <br>
                    <label class="sponsor_information-label" for="birthday">
                        <h4>生日</h4>
                        <input v-model="donor.birthday" class="input-text" type="text" id="birthday" placeholder="範例: 1999-10-10">
                    </label>
                    <br>
                    <label class="sponsor_information-label" for="number">
                        <h4>連絡電話</h4>
                    <input v-model="donor.number" class="input-text" type="text" id="number">
                    </label>
                    <br>

                    <label class="sponsor_information-label2" for="address">
                        <h4>連絡地址</h4>
                        
                        <div class="twzipcode1" ></div>
                        <!-- <select name="" id="">
                            <option>請選擇</option>
                        </select>
                        <select name="" id="">
                            <option>請選擇</option>
                        </select>
                        <input class="input-text2" type="text" id="address" placeholder="郵遞區號"> -->
                    </label>
                    <label class="sponsor_information-label3" for="address">
                        <input v-model="donor.address" class="input-text" type="text" id="address" placeholder="範例: 路街樓號">
                    </label>    
                    <br>
                    <label class="sponsor_information-label" for="nation">
                        <h4>捐款方式</h4>
                    <label class="payment-label" for="creditcard">
                        <input v-model="donor.creditcard" id="creditcard" type="radio" name="payment" value="Visa / Master / JCB">
                        <p>Visa/Master/JCB</p>
                    </label>
                    <label class="payment-label" for="ATM">
                        <input v-model="donor.creditcard" id="ATM" type="radio" name="payment" value="ATM轉帳">
                        <p>ATM轉帳</p>
                    </label>
                    <label class="payment-label" for="shop">
                        <input v-model="donor.creditcard" id="shop" type="radio" name="payment" value="超商繳款">
                        <p>超商繳款</p>
                    </label>
                    </label>
                    <div class="sponsor_information-under">
                        <button class="btn-0" @click="sendOrder">下一步</button>
                    </div>
                </section>

                <section class="receiptInfo" v-if="currentPage == 2">
                
                    <div class="needReceipt">
                        <h4>*是否需要收據</h4>
                        <div class="receiptMethod">
                            <label class="receipt-label" for="no">
                                <input v-model="donor2.receipt" id="no" type="radio" name="receipt" value="不需要(無抵稅需求/不用寄收據給我)"><p>不需要(無抵稅需求/不用寄收據給我)</p>
                            </label>
                            <br>
                            <label class="receipt-label" for="onlypaper">
                                <input v-model="donor2.receipt" id="onlypaper" type="radio" name="receipt" value="需要(請寄紙本收據給我)"><p>需要(請寄紙本收據給我)</p>
                            </label>
                            <br>
                            <label class="receipt-label" for="onlyelectronic">
                                <input v-model="donor2.receipt" id="onlyelectronic" type="radio" name="receipt" value="需要(請寄電子收據給我)"><p>需要(請寄電子收據給我)</p>
                            </label>
                        </div>
                    </div>
                    <label class="text-label-1">
                        <h4>*收據抬頭</h4>
                        <input v-model="donor2.header" class="input-text" type="text">
                        <button @click="headername" class="btn-1">同捐款人姓名</button>
                    </label>
                    <label class="text-label-2">
                        <h4>*身份證/統一編號</h4>
                        <input v-model="donor2.usernumber" class="input-text" type="text">
                        <button @click="usernumberid" class="btn-1">同捐款人身分證</button>
                    </label>
                    
                    <div class="receiptPublic">
                        <h4>*公開徵信錄</h4>
                        <div class="receiptPublicOrnot">
                            <label class="receiptPublic-label" for="public">
                                <input v-model="donor2.public" id="public" type="radio" name="public" value="公開"><p>公開</p>
                            </label>
                            <br>
                            <label class="receiptPublic-label" for="noPublic">
                                <input v-model="donor2.public" id="noPublic" type="radio" name="public" value="不同意公開"><p>不同意公開</p>
                            </label>
                        </div>
                    </div>
                    <div class="content">
                        <p>( 依據「財團法人法」第25條規定，除捐款者事先表示反對外，
                            浪途中途之家需主動公開捐贈者捐款相關資料。
                            若您不希望公開您的資訊，煩請選擇「不同意公開」)</p>
                    </div>
                    <div class="sponsor_information-under">
                        <button class="btn-0" @click="currentPage = 1">上一步</button>
                        <button class="btn-0" @click="receipt">下一步</button>
                    </div>
                </section>

                <section class="personalInfo" v-if="currentPage == 3">
                    <div class="content">
                        <p>感謝您的愛心捐款，浪途中途之家向您取得之個人資料，包含個人姓名、電話、信用卡及電子郵件地址等，
                            將僅限使用於本會捐款服務與管理、募款徵信、會務活動等使用。
                            本會遵守個人資料保護法與公益勸募條例之規定，妥善保護您的個人資訊。
                            於此前提下，您同意浪途中途之家得於法律許可之範圍內處理及利用相關資料以提供資訊或服務，
                            而您可依法得就您提供的個人資料向本會請求查詢、閱覽、提供複本、補充或更正、停止及刪除。
                            請您於上班時間以電話或傳真與本會聯繫。</p>
                    </div>
                    <label for="agree"><input id="agree" type="checkbox" v-model="ischeckbox" @click="revise"><p>我已詳閱並同意</p></label>

                    <div class="sponsor_information-under">
                        <button class="btn-0" @click="currentPage = 2">上一步</button>
                        <button class="btn-0" :disabled=isDisabled @click="finish">下一步</button>
                    </div>
                </section>
            </div>
        </div>
        
    </main>
    <script src="js/sponsor_information.js"></script>
    @@include('layout/footer.html')
</body>

</html>