
<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "贊助頁面"
    })
</head>

<body>
    @@include('./layout/header_2.html',{
    "大標題" : "浪浪等家" ,
    "英文標題" : "LANG LANG WAITS FOR HOME" ,
    "前頁面" : "浪浪募資" ,
    "此頁面" : "贊助頁面" ,
    })
    <main id="sponsorPageApp" class="sponsored_page" v-if="sponsor[0]">
        <div class="sponsored_page-top">
            <div class="sponsored_page-top-img">
                <img :src="imgURL+sponsor[0].fundImg" alt="">
            </div>
            <div class="sponsored_page-top-tt">
                <h1>{{sponsor[0].fundName}}</h1>
                <p>{{sponsor[0].fundTopContent}}</p>
                <p class="acc">目前累積</p>
                <h3>NT${{sponsor[0].fundNow}}</h3>
                <p class="target">目標金額 NT${{sponsor[0].fundGoal}}</p>
                <div class="sponsored_page-top-border-div">
                <div class="sponsored_page-top-border" :style="{width:(sponsor[0].fundNow/sponsor[0].fundGoal)*100+'%'}"></div>
                </div>
                <p class="sponsored_page-top-border-percentage">{{percentage}}%</p>
                <hr>
                <p>贊助人數 {{sponsor[0].Amount}}</p>
                <p>招募時間 {{sponsor[0].fundDate}} - {{sponsor[0].fundEndDate}}</p>
            </div>
        </div>
        <hr>
        <div class="sponsored_page-inder">
            <a href="#"><p>專案內容</p></a>
            <a href="#"><p>常見問答</p></a>
        </div>
        <hr>
        <div class="sponsored_page-under">
            <div class="sponsored_page-under-left">
                <div v-html="sponsor[0].fundContent"></div>
            </div>
            <div class="sponsored_page-under-right">
                <div class="sponsored_page-under-btn">
                    <button class="btn-2" @click="currentPlan = 1, changeColor()" :class="{'chooseBtn2' :btn2}">定期贊助</button>
                    <button class="btn-3" @click="currentPlan = 2, changeColor()" :class="{'chooseBtn1' :btn1}">單筆贊助</button>
                </div>
                    <section v-if="currentPlan == 1">
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('每月方案一300'), sponsorPic('selection1.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection1.jpg" alt=""></div>
                            <h5>方案一</h5>
                            <p>每月 NT$300</p>
                            <p class="sponsorTime" v-if="fundPeople[3]">已被贊助 {{fundPeople[3].total}} 次</p>
                        </a>
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('每月方案二500'), sponsorPic('selection2.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection2.jpg" alt=""></div>
                            <h5>方案二</h5>
                            <p>每月 NT$500</p>
                            <p class="sponsorTime" v-if="fundPeople[4]">已被贊助 {{fundPeople[4].total}} 次</p>
                        </a>
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('每月方案三1000'), sponsorPic('selection3.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection3.jpg" alt=""></div>
                            <h5>方案三</h5>
                            <p>每月 NT$1000</p>
                            <p class="sponsorTime" v-if="fundPeople[5]">已被贊助 {{fundPeople[5].total}} 次</p>
                        </a>
                    </section>
                    <section v-else-if="currentPlan == 2">
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('單筆方案一300'), sponsorPic('selection4.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection4.jpg" alt=""></div>
                            <h5>方案一</h5>
                            <p>單筆 NT$300</p>
                            <p class="sponsorTime" v-if="fundPeople[0]">已被贊助 {{fundPeople[0].total}} 次</p>
                        </a>
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('單筆方案二500'), sponsorPic('selection5.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection5.jpg" alt=""></div>
                            <h5>方案二</h5>
                            <p>單筆 NT$500</p>
                            <p class="sponsorTime" v-if="fundPeople[1]">已被贊助 {{fundPeople[1].total}} 次</p>
                        </a>
                        <a  class="sponsored_page-under-btnbig-in" @click="sponsorContent('單筆方案三1000'), sponsorPic('selection6.jpg'), nextpet()">
                            <div class="selection"><img src="./images/Meteor/selection6.jpg" alt=""></div>
                            <h5>方案三</h5>
                            <p>單筆 NT$1000</p>
                            <p class="sponsorTime" v-if="fundPeople[2]">已被贊助 {{fundPeople[2].total}} 次</p>
                        </a>
                    </section>
            </div>
        </div>
        
    </main>
    @@include('layout/footer.html')
    <script src="./js/sponsorPage.js"></script>
</body>

</html>