<!-- footer -->
<div class="footer">
  <footer class="footer_kv">
    <div class="footer_kv_m">
      <ul class="footer_kv_ul">
        <li>
          <div class="menu">
            <a href="./park_intro.html" class="menu-title">
              園區介紹
            </a>
            <ol><a href="./origin.html">園區緣起</a></ol>
            <ol><a href="./park_intro.html">園區設施</a></ol>
          </div>
        </li>
        <li>
          <div class="menu">
            <a href="./langNews.html" class="menu-title">
              關於浪浪
            </a>
            <ol><a href="./langNews.html">浪浪新聞</a></ol>
            <ol><a href="./adoption_knowledge.html">領養那些事</a></ol>
            <ol><a href="./adoption_quiz.html">問答小遊戲</a></ol>
        </li>

        <li>
          <div class="menu">
            <a href="./waitsforhome.html" class="menu-title">
              認養浪浪
            </a>
            <ol><a href="./waitsforhome.html">浪浪介紹</a></ol>

        </li>
        <li>
          <div class="menu">
            <a href="./shopping_page.html" class="menu-title">
              周邊商品
            </a>
        </li>
        <li>

          <div class="menu">
            <a href="./sponsored_List.html" class="menu-title">
              募資企劃
            </a>
        </li>
        <li>
          <div class="menu">
              <a id="footer_login" class="menu-title" style="cursor: pointer;">會員專區</a> 
              <div class="nav_logout-text"><img src="./images/header/logout.svg" alt="">會員登出</div>
            <!-- <ol><a href="./member_detail.html">個人資料</a></ol>
            <ol><a href="./order_detail.html">訂單管理</a></ol>
            <ol><a href="./member_reservation.html">預約領養</a></ol>
            <ol><a href="./donation_record.html">贊助紀錄</a></ol> -->
        </li>
      </ul>
    </div>



    <nav class="footer_nav">

      <div class="footer_nav_flex">

        <div class="mouse">
          <img src="./images/index/mouse.svg" alt="" width="40" height="90" class="Footer_pageTopIcon__3DXl8"
            loading="lazy">
          <span>PAGE TOP</span>
        </div>
      </div>



      <div class="footer_nav_f">
        <ul class="footer_nav_sns">
          <li class="fb">
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>


          <li class="ins">
            <a href="https://www.instagram.com/">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>

        <div class="footer_nav_logo"><a href="./index.html"> <img src="./images/header/logo-w.png" alt=""></a>

        </div>
        <p>本網站為緯育TibaMe前端設計工程師班第78期第__組學員專題成果作品，本平台僅供學習、展示之用。</p>
      </div>
  </footer>
  </nav>
  <!-- js -->
  <script src="./js/header.js"></script>