<header>
    <main class="header_container header_container2  header_container3 ">
        <div class="top_kv_city">
            <img src="../images/header/header_3_bg.png" alt="" class="top_kv_city_or3">
            <img src="../images/header/header_3_bg_p.png" alt="" class="top_kv_city_or3p">
        </div>
        <!-- nav botton -->

        <img src="./images/header/header_bg.png" alt="" class="top_kv_bg">
        @@include('nav.html')
        <div class="top_kv_t">
            <div class="top_kv_t-title top_kv_t-title2">
                <h1>@@大標題</h1>
                <p>@@英文標題</p>
                <img src="../images/header/header_circle.png" alt="" class="top_kv_t_cir">
            </div>
        </div>

    </main>
</header>