<header>
  <section class="header_container header_container2">
    <div class="top_kv_city">

      <img src="./images/header/header_city4.png" alt="" class="top_kv_city_l2 top_kv_city_l2-2">
      <img src="./images/header/header_city3.png" alt="" class="top_kv_city_r1 top_kv_city_r1-2">
    </div>
    <!-- nav botton -->
    <img src="./images/header/header_bg.png" alt="" class="top_kv_bg">
    @@include('nav.html')
    <div class="top_kv_crumbs-frame">
      <div class="top_kv_crumbs-2">
        <img src="./images/header/crumbs.png" alt="" class="top_kv_crumbs_img">
        <div class="top_kv_crumbs-text">
          <div class="top_kv_crumbs-text_1">@@前頁面</div><span>/</span>
          <div class="top_kv_crumbs-text_2">@@此頁面</div>
        </div>
      </div>
    </div>

  </section>
</header>