<header>
  <main class="header_container">
    <div class="top_kv">
      <!-- <img src="./images/header/header_bg.png" alt="" class="top_kv_bg"> -->
      <div class="top_kv_city">
        <img src="../images/header/header_city1.png" alt="" class="header_city_l1">
        <img src="../images/header/header_city3.png" alt="" class="header_city_r1">
        <img src="../images/header/header_city2.png" alt="" class="header_city_r2">
        <img src="../images/header/header_city4.png" alt="" class="header_city_l2">
      </div>
      <div class="top_kv_s"></div>
        <img src="../images/header/header_c.png" alt="" class="cat">
        <img src="../images/header/header_d.png" alt="" class="dog">
    </div>
  </main>
</header>