<header>
    <main class="header_container">
        <div class="top_kv_city">
            <img src="../images/header/header_city1.png" alt="" class="top_kv_city_l1">
            <img src="../images/header/header_city3.png" alt="" class="top_kv_city_r1">
            <img src="../images/header/header_city2.png" alt="" class="top_kv_city_r2">
            <img src="../images/header/header_city4.png" alt="" class="top_kv_city_l2">
            <img src="../images/header/header_road.png" alt="" class="top_kv_city_road">
        </div>
        <div class="top_kv_a">
            <img src="../images/header/header_c.png" alt="" class="top_kv_a_cat">
            <img src="../images/header/header_d.png" alt="" class="top_kv_a_dog">
        </div>
        <!-- nav botton -->
        @@include('nav.html')
        <img src="./images/header/header_bg.png" alt="" class="top_kv_bg">
        <div class="top_kv_t">
            <div class="top_kv_t-title">
                <h1>@@大標題</h1>
                <p>@@英文標題</p>
                <img src="../images/header/header_circle.png" alt="" class="top_kv_cir">
            </div>
        </div>

        <div class="top_kv_crumbs-frame">
            <div class="top_kv_crumbs">
                <img src="../images/header/crumbs.png" alt="" class="top_kv_crumbs_img">
                <div class="top_kv_crumbs-text">
                    <div class="top_kv_crumbs-text_1">@@前頁面</div><span>/</span>
                    <div class="top_kv_crumbs-text_2">@@此頁面</div>
                </div>
            </div>
        </div>


    </main>
</header>