<div class="top_nav">
  <div class="top_nav_logo"><a href="./index.html">
      <img src="./images/header/header_logo.png" alt="" class=""></a>
  </div>
  <div class="top_nav_icon">
    <!-- //login -->
    <a id="nav_login" href="./login_page.html" type="button"
      class="top_nav_icon_shop-button top_nav_icon_member-button">
      <img src="./images/header/circle-user-regular.svg" alt="">
    </a>
    <!-- //logout -->
    <!-- <a  id="nav_logout" href="./login_page.html"  type="button" class="top_nav_icon_shop-button top_nav_icon_member-button">
      <img src="./images/header/logout.svg" alt="">
    </a> -->
    <a href="./shopping_cart.html" type="button" class="top_nav_icon_shop-button">
      <img src="./images/header/shop.svg" alt="">
    </a>

    <button type="button" class="top_nav_icon_menu-button">
      <div class="bar"></div>
    </button>
  </div>
</div>
<!-- //   menu // -->
<div id="menu" class="">
  <nav class="main-nav">
    <ul>
      <li>
        <div class="menu">
          <a href="./park_intro.html" class="menu-title">
            園區介紹
          </a>
          <ol><a href="./origin.html">園區緣起</a></ol>
          <ol><a href="./park_intro.html">園區設施</a></ol>
        </div>
      </li>
      <li>
        <div class="menu">
          <a href="./langNews.html" class="menu-title">
            關於浪浪
          </a>
          <ol><a href="./langNews.html">浪浪新聞</a></ol>
          <ol><a href="./adoption_knowledge.html">領養那些事</a></ol>
          <ol><a href="./adoption_quiz.html">問答小遊戲</a></ol>
      </li>

      <li>
        <div class="menu">
          <a href="./waitsforhome.html" class="menu-title">
            認養浪浪
          </a>
          <ol><a href="./waitsforhome.html">浪浪介紹</a></ol>


      </li>
      <li>
        <div class="menu">
          <a href="./shopping_page.html" class="menu-title">
            浪浪商店
          </a>
      </li>
      <li>

        <div class="menu">
          <a href="./sponsored_List.html" class="menu-title">
            募資企劃
          </a>
      </li>
      <li>
        <div class="menu">
          <a href="./login_page.html" class="menu-title">
            會員專區
          </a>
          
          <a id="nav_logout" href="./login_page.html" type="button"
          class="menu-title">
          
            <div class="nav_logout-text"><img src="./images/header/logout.svg" alt="">會員登出</div>
          </a>
        </div>
          <!-- <a href="./login_page.html" class="menu-title">
            會員登出
          </a> -->
          <!-- <ol><a href="./member_detail.html">個人資料</a></ol>
          <ol><a href="./order_detail.html">訂單管理</a></ol>
          <ol><a href="./member_reservation.html">預約領養</a></ol>
          <ol><a href="./donation_record.html">贊助紀錄</a></ol> -->
      </li>
    </ul>
  </nav>

  <footer class="menu-footer">
    <nav class="footer-nav">
      <div class="footer-nav-flex">
        <img src="./images/header/logo-w.png" alt="">
        <ul>
          <li>
            <a href="#">
              <i class="fb"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ins"></i>
              Instagram
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>
</div>