.adoption_quiz{
    width: vw(1200);
    height: vw(800);
    margin: 0 auto;
    position: absolute;
    left: vw(400);
    top: vw(70);
    @include m(){
        width: rwd(394);
        height: rwd(550);
        left: rwd(10);
        top: rwd(140);
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.75s;
    }
    
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }
    
    .fade-enter-to,
    .fade-leave-from {
      opacity: 1;
    }
    
    .start{
        display: flex;
        height: vw(800);
        .quizpic{
            flex: 1;
            height: vw(800);
            img{
                width: 100%;
            }
        }
        .quiz_start{
            flex: 1;
            .content{
                text-align: center;
                margin-top: vw(120);
                @include m(){
                    margin-top: rwd(24);
                }
                h2{
                    margin-bottom: vw(10);
                    @include m(){
                        font-size: rwd(16);
                    }
                }
                .btn-0{
                    @include m(){
                        font-size: rwd(12);
                    }
                }
            }
            .dog4{
                margin-left: auto;
                width: vw(300);
                @include m(){
                    margin-left: rwd(16);
                    width: rwd(100);
                    img{
                        width: rwd(100);
                    }
                }
            }
            .start2{
                margin-top: vw(120);
                width: vw(170);
                @include m(){
                    margin-top: rwd(16);
                    width: rwd(100);
                    img{
                        width: rwd(70);
                    }
                }
            }
        }
    }
    

    .quiz1 {
        width: vw(1080);
        margin: 0 auto;
        background-color: #fff;
        @include m(){
            width: rwd(394);
        }
        img{
            display: block;
            width: 100%;
        }
        .question{
            text-align: center;
            margin-top: vw(32);
            height: vw(250);
            @include m(){
                height: rwd(150);
            }
            h3{
                @include m(){
                    font-size: rwd(20);
                }
            }
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(450);
                margin: vw(64) auto;
                .right{
                    margin: 0 vw(16);
                    @include m(){
                        margin: 0 rwd(16);
                    }
                }
                .left{
                    margin-right: vw(16);
                    @include m(){
                        margin-right: rwd(16);
                    }
                }
                .fa-circle-xmark{
                    font-size: vw(40);
                    color: red;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .fa-circle-check{
                    font-size: vw(40);
                    color: green;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .show1{
                    visibility: visible;
                }
                .show2{
                    visibility: visible;
                }
                @include m(){
                    width: rwd(400);
                    font-size: rwd(5);
                    margin: rwd(32) auto;
                }
            }
            .button:nth-child(1){
                margin-left: vw(32);
            }
        }
        .answer{
            padding: 0 vw(32);
            h4{
                margin-left: vw(160);
                color: $secondaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: rwd(18);
                }
            }
            p{
                width: vw(700);
                margin: 0 auto;
                @include m(){
                    font-size: rwd(16);
                    width: rwd(350);
                }
            }
            .next{
                text-align: right;
                margin-top: vw(30);
                padding: vw(32);
                @include m(){
                    margin-top: rwd(30);
                }
            }
        }
    }

    .quiz2 {
        width: vw(1080);
        margin: 0 auto;
        background-color: #fff;
        @include m(){
            width: rwd(394);
        }
        img{
            display: block;
            width: 100%;
        }
        .question{
            text-align: center;
            margin-top: vw(32);
            height: vw(250);
            @include m(){
                height: rwd(150);
            }
            h3{
                @include m(){
                    font-size: rwd(20);
                }
            }
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(450);
                margin: vw(64) auto;
                .right{
                    margin: 0 vw(16);
                    @include m(){
                        margin: 0 rwd(16);
                    }
                }
                .left{
                    margin-right: vw(16);
                    @include m(){
                        margin-right: rwd(16);
                    }
                }
                .fa-circle-xmark{
                    font-size: vw(40);
                    color: red;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .fa-circle-check{
                    font-size: vw(40);
                    color: green;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .show1{
                    visibility: visible;
                }
                .show2{
                    visibility: visible;
                }
                @include m(){
                    width: rwd(400);
                    font-size: rwd(5);
                    margin: rwd(32) auto;
                }
            }
            .button:nth-child(1){
                margin-left: vw(32);
            }
        }
        .answer{
            padding: 0 vw(32);
            h4{
                margin-left: vw(160);
                color: $secondaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: rwd(18);
                }
            }
            p{
                width: vw(700);
                margin: 0 auto;
                @include m(){
                    font-size: rwd(16);
                    width: rwd(350);
                }
            }
            .next{
                text-align: right;
                margin-top: vw(30);
                padding: vw(32);
                @include m(){
                    margin-top: rwd(30);
                }
            }
        }
    }

    .quiz3 {
        width: vw(1080);
        margin: 0 auto;
        background-color: #fff;
        @include m(){
            width: rwd(394);
        }
        img{
            display: block;
            width: 100%;
        }
        .question{
            text-align: center;
            margin-top: vw(32);
            height: vw(250);
            @include m(){
                height: rwd(150);
            }
            h3{
                @include m(){
                    font-size: rwd(20);
                }
            }
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(460);
                margin: vw(64) auto;
                .right{
                    margin: 0 vw(16);
                    @include m(){
                        margin: 0 rwd(16);
                    }
                }
                .left{
                    margin-right: vw(16);
                    @include m(){
                        margin-right: rwd(16);
                    }
                }
                .fa-circle-xmark{
                    font-size: vw(40);
                    color: red;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .fa-circle-check{
                    font-size: vw(40);
                    color: green;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .show1{
                    visibility: visible;
                }
                .show2{
                    visibility: visible;
                }
                @include m(){
                    width: rwd(400);
                    font-size: rwd(5);
                    margin: rwd(32) auto;
                }
            }
            .button:nth-child(1){
                margin-left: vw(32);
            }
        }
        .answer{
            padding: 0 vw(32);
            h4{
                margin-left: vw(160);
                color: $secondaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: rwd(18);
                }
            }
            p{
                width: vw(700);
                margin: 0 auto;
                @include m(){
                    font-size: rwd(16);
                    width: rwd(350);
                }
            }
            .next{
                text-align: right;
                margin-top: vw(30);
                padding: vw(32);
                @include m(){
                    margin-top: rwd(30);
                }
            }
        }
    }

    .quiz4 {
        width: vw(1080);
        margin: 0 auto;
        background-color: #fff;
        @include m(){
            width: rwd(394);
        }
        img{
            display: block;
            width: 100%;
        }
        .question{
            text-align: center;
            margin-top: vw(32);
            height: vw(250);
            @include m(){
                height: rwd(150);
            }
            h3{
                @include m(){
                    font-size: rwd(20);
                }
            }
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(450);
                margin: vw(64) auto;
                .right{
                    margin: 0 vw(16);
                    @include m(){
                        margin: 0 rwd(16);
                    }
                }
                .left{
                    margin-right: vw(16);
                    @include m(){
                        margin-right: rwd(16);
                    }
                }
                .fa-circle-xmark{
                    font-size: vw(40);
                    color: red;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .fa-circle-check{
                    font-size: vw(40);
                    color: green;
                    visibility: hidden;
                    @include m(){
                        font-size: rwd(32);
                    }
                }
                .show1{
                    visibility: visible;
                }
                .show2{
                    visibility: visible;
                }
                @include m(){
                    width: rwd(400);
                    font-size: rwd(5);
                    margin: rwd(32) auto;
                }
            }
            .button:nth-child(1){
                margin-left: vw(32);
            }
        }
        .answer{
            padding: 0 vw(32);
            h4{
                margin-left: vw(160);
                color: $secondaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: rwd(18);
                }
            }
            p{
                width: vw(700);
                margin: 0 auto;
                @include m(){
                    font-size: rwd(16);
                    width: rwd(350);
                }
            }
            .next{
                text-align: right;
                margin-top: vw(30);
                padding: vw(32);
                @include m(){
                    margin-top: rwd(30);
                }
            }
        }
    }

    .complete{
        text-align: center;
        color: $primaryA11y;
        h2{
            margin-top: 180px;
            margin-bottom: 16px;
            @include m(){
                margin-top: rwd(8);
                margin-bottom: rwd(16);   
                font-size: rwd(20);
            }
        }
        a{
            text-decoration: none;
            color: #fff;
            display: block;
        }
    }
}