.application{
    width: vw(1200);
    margin: vw(0) auto;
    background-color: #fff;
    border-radius: $r25;
    box-shadow: $shadow;
    @include m(){
        width: rwd(394);
    }
    .application-tt{
        padding: vw(40);
        h2{
            font-size: $h2;
            color: $primaryDark;
            font-weight: $bold;
            margin-bottom: vw(16);
            text-align: center;
            @include m(){
                font-size: 24px;
            }
        }
        h3{
            font-size: $h5;
            font-weight: $bold;
            text-align: center;
            @include m(){
                color: $secondaryA11y;
                font-size: rwd(14);
                display: block;
                margin: 0 auto;
            }
        }
        p{
            font-size: $p;
            // font-size: 12px;
            font-weight: $bold;
            line-height: 3.5;
            @include m(){
                line-height: 2;
                font-size: 16px;
            }
        }
    .application-tt-in{
            label{
                display: flex;
            }
            p{
                font-size: $h4;
                font-weight: $bold;
            }
            @include m(){
                font-size: 30px;
                p{font-size: 16px;}
            }
        }
    }
    .application-book{
        
        .application-book-0{
            width: vw(400);
            margin: 0 auto;
            @include m(){
                width: rwd(394);
                margin: 0 auto;
            }
        }
        
        h3{
            text-align: center;
            font-size: $h2;
            color: $primaryDark;
            font-weight: $bold;
        }
        h1{
            font-size: $h5;
            color: $primaryDark;
            line-height: 2;
            margin: vw(16) auto vw(0);
        }
        @include m(){
            h3{
                font-size: rwd(18);
                margin-bottom: rwd(10);
                
            }
            h1{
                font-size: rwd(18);
                color: $primaryDark;
                line-height: 2;
                display: block;
                margin: 0 auto;
                width: rwd(350);
            }
        }
        .application-book-1{
            display: inline-block;
            margin-right: vw(16);
            @include m(){
                display: block;
                margin: 0 auto;
            }
            .application-text{
                @include input-text(vw(250));
                @include m(){
                    @include input-text(rwd(350));
                    margin-right: vw(0);
                    display: block;
                    margin: 0 auto;
                }
            }
            
        }
        .application-book-2{
            display: inline-block;
            @include m(){
                display: block;
                margin: 0 auto;
            }
            select {
                width: vw(100);
                font-size: $p;
                border: 0;
                outline: solid 1px $primaryDefault;
                border-radius: vw(6);
                padding: vw(5) vw(7);
                @include m(){
                    width: rwd(350);
                    border-radius: rwd(6);
                    padding: rwd(5) rwd(7);
                    font-size: rwd(16);
                    display: block;
                    margin: 0 auto;
                }
            }
            option{
                color: $gray900;
            }
            &:disabled {
              outline: solid 1px $gray600;
            }
        }
        .application-book-3{
            .application-text{
                @include input-text(vw(380));
                @include m(){
                    @include input-text(rwd(350));
                    margin-right: vw(0);
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .application-book-4{
            margin-bottom: vw(40);
            input {
                
                margin-right: vw(16);
                width: vw(180);
                font-size: $p;
                border: 0;
                outline: solid 1px $primaryDefault;
                border-radius: vw(6);
                padding: vw(5) vw(7);
                @include m(){
                    width: rwd(350);
                    border-radius: rwd(6);
                    padding: rwd(5) rwd(7);
                    font-size: rwd(16);
                    display: block;
                    margin: 0 auto;
                    margin-bottom: rwd(20);
                }
            }
            option{
                color: $gray900;
                
            }
            &:disabled {
              outline: solid 1px $gray600;
            }
        }

    }
    .application-input{
        h3{
            text-align: center;
            font-size: $h2;
            color: $primaryDark;
            font-weight: $bold;
        }
        @include m(){
            h3{
                font-size: rwd(18);
                margin-bottom: rwd(10);
                
            }
        }
    }
    .application-md{
        display: flex;
        margin: 0 auto;
        width: vw(700);
        @include m(){
            display: block;
            width: rwd(394);
            margin: 0 auto;
        }
    }
    
    .application-lift{
        // width: vw(500);
        // margin-left: vw(40);
        h1{
            font-size: $h5;
            color: $primaryDark;
            margin: vw(16) auto vw(0);
        }
        @include m(){
            h1{
                width: rwd(350);
                font-size: 16px;
                display: block;
                margin: 0 auto;
                padding: rwd(10) 0;
            }
        }
        .application-text{
            @include input-text(vw(350));
            margin-right: vw(40);
            @include m(){
                @include input-text(rwd(350));
                margin-right: vw(0);
                display: block;
                margin: 0 auto;
            }
        }
    }
    .application-right{
        // width: vw(500);
        h1{
            font-size: $h5;
            color: $primaryDark;
            margin: vw(16) auto vw(0);
        }
        @include m(){
            h1{
                width: rwd(350);
                font-size: 16px;
                display: block;
                margin: 0 auto;
                padding: rwd(10) 0;
            }
        }
        .application-text{
            @include input-text(vw(350));
            @include m(){
                @include input-text(rwd(350));
                margin-right: vw(0);
                display: block;
                margin: 0 auto;
            }
        }
    }

    .application-under{
        text-align: center;
        margin-top: vw(20);
        .btn-1{
            margin: vw(20);
        }
        @include m(){
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            .btn-0{
                margin: rwd(20) ;
            }
            .btn-1{
                margin: rwd(20) ;
            }
            
        }
    }
}