
.customized {


    .top_nav {
        height: 0;
        margin-bottom: -2.0833333333vw;
    }

    img {
        width: 100%;
    }
    @include m() {
        width: rwd(394);
        height: rwd(550);

    }

    // .fade-enter-active,
    // .fade-leave-active {
    //   transition: opacity 0.75s;
    // }

    // .fade-enter-from,
    // .fade-leave-to {
    //   opacity: 0;
    // }

    // .fade-enter-to,
    // .fade-leave-from {
    //   opacity: 1;
    // }

    .custom_start {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: $secondaryA11y;
            font-weight: $bold;
            padding: 5vw;
        }

        &-btn {
            display: flex;
            gap: 8vw;
        }
    }
    .startBtn {
        background: none;
        border: 0;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}
.big_dog {
    position: fixed;
    top: 12vw;
    left: 10vw;
    width: vw(652);
    img {
        width: 100%;
        position: absolute;
    }
}
.cus_step {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    padding-bottom: 100px;
    position: relative;

    &-select {
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 76px;
    }

    &_txt {
        text-align: center;
        position: relative;
        padding-bottom: 9vw;
        h3 {

            font-size: vw(24);
            margin-bottom: vw(10);
        }
        h2 {
            color: #B18042;
            font-size: vw(35);
            font-weight: $bold;
        }
    }

    &2_content {
        width: 41.6666666667vw;
        height: auto;
        position: absolute;
        top: 5.6vw;
        right: 6.5vw;

    }

    &4_content {
        top: 20vw;
    }

}

.custom_btn {
    i {
        margin: 5px;
        font-size: 24px;
    }
    background: none;
    border: 0;
    cursor: pointer;
    font-size: vw(20);
    padding: vw(8) vw(10);
    width: 10.25vw;
    border-radius: 25px;
    // background: #172852;
    // border: 3px solid #172852;
    color: #7C8C38;
    text-align: center;
    font-weight: 500;
    z-index: 30;

    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        visibility: hidden;

    }

}

// progress-
:root {
    --line-border-fill: #7C8C38;
    --line-border-empty: #e0e0e0;
}

.progress-content{
    position: relative;
    left: 22vw;
    width: 41vw;
    top: 1vw;
    
    &4{
        left: 23vw;
        top: 15vw;
    }
}
.progress-cont {
    display: flex;
    justify-content: center;

    &4{
        top: 10vw;
        position: relative;
    }
}
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 1%;
    z-index: -1;
    transition: 0.4s ease;

    &-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 30px;
        max-width: 100%;
        width: 350px;
        &::before {
            content: "";
            background-color: var(--line-border-empty);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            z-index: -1;
        }
    }

}


.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

    &.active {
        border-color: var(--line-border-fill);
        background-color: var(--line-border-fill);
        color: #fff;
    }

}

.product-grid {
    display: grid;
    grid-template-columns: vw(229) vw(229) vw(229);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    transition: 0.3s;
    justify-content: center;

    .price {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 17px;
        line-height: 1.6;
        color: #B18042;
        text-align: center;
    }

    .prd{
        background-color: #fff;
        border-radius: 20px;
        transition-duration: .7s;
        transition-property: transform;
        overflow: hidden;
        cursor: pointer;
        transform: translateY(0) ;
        &:hover {
            transform: translateY(-8px) ;
            animation-name: hover;
            animation-duration: 1.5s;
            animation-delay: .3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            box-shadow: 0px 0px 10px 5px #fff4dd;
        }
    }

/* Hover */
@keyframes hover {
	50% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(-6px);
	}
}


}
.product-input {
   
    form ::placeholder {
        color: #bb866a;
    }
        textarea {
            width: 100%;
            height: 90%;
            line-height: 45px;
            background-color: #fff;
            font-family: 'Noto sans';
            font-size: 18px;
            color: #B18042;
            border: 1px solid  #B18042;
            padding: 1vw 1.5vw;
            resize: none;

            &:focus {
                outline-color: #B18042;
            }

        }
  
}

.big_tag{
    top: 10vw;
    left: -47vw;
    width: 43vw;


    &-model {
        width: 14.8vw;
        height: 6.3vw;
        position: relative;
        padding: 0.78vw;
        font-size: 1.5vw;
        z-index: 30;
        top: -18vw;
        right: -19.1vw;
        white-space: pre-wrap !important;
        word-wrap: break-word;
        p{
            color: #6a564c;
        }
      }    

}

.cus_step4_btn{
    display: flex;
    justify-content: center;
    gap: 3vw;

    .step4_btn{
        width: 10.3vw;
        padding: 0.5vw 0vw;
    }
}
