
.customized {
    width: vw(1200);
    height: vw(800);
    margin: 0 auto;
    img {
        width: 100%;
    }
    @include m() {
        width: rwd(394);
        height: rwd(550);

    }

    // .fade-enter-active,
    // .fade-leave-active {
    //   transition: opacity 0.75s;
    // }

    // .fade-enter-from,
    // .fade-leave-to {
    //   opacity: 0;
    // }

    // .fade-enter-to,
    // .fade-leave-from {
    //   opacity: 1;
    // }

    .custom_start {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: $secondaryA11y;
            font-weight: $bold;
            padding: 5vw;
        }

        &-btn {
            display: flex;
            gap: 8vw;
        }
    }
}
.big_dog {
    position: absolute;
    top: -1vw;
    right: 32vw;
    width: 652px;
    img {
        width: 100%;
    }
}
.cus_step {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    padding-bottom: 100px;
    position: relative;

    &-select {
        display: flex;
        /* position: absolute; */
        justify-content: space-between;
        top: -98px;
        position: relative;
    }

    &_txt {
        text-align: center;
        position: relative;
        padding-bottom: 9vw;
        h3 {

            font-size: vw(24);
            margin-bottom: vw(10);
        }
        h2 {
            color: #B18042;
            font-size: vw(35);
            font-weight: $bold;
        }
    }

    &2_content {
        width: 41.6666666667vw;
        height: auto;
        position: absolute;
        top: -4vw;
        left: 33vw;

    }

}

.custom_btn {
    i {
        margin: 5px;
        font-size: 24px;
    }
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 10px;
    width: 120px;
    border-radius: 25px;
    // background: #172852;
    // border: 3px solid #172852;
    color: #7C8C38;
    text-align: center;
    font-weight: 500;
    z-index: 30;

    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        visibility: hidden;

    }

}

// progress-
:root {
    --line-border-fill: #7C8C38;
    --line-border-empty: #e0e0e0;
}

.progress-content{
    position: relative;
    left: 22vw;
    width: 41vw;
}
.progress-cont {
    display: flex;
    justify-content: center;
}
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    transition: 0.4s ease;

    &-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 30px;
        max-width: 100%;
        width: 350px;
        &::before {
            content: "";
            background-color: var(--line-border-empty);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            z-index: -1;
        }
    }

}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

    &.active {
        border-color: var(--line-border-fill);
        background-color: var(--line-border-fill);
        color: #fff;
    }

}

.product-grid {
    display: grid;
    grid-template-columns: vw(229) vw(229) vw(229);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    transition: 0.3s;
    justify-content: center;

    .price {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 17px;
        line-height: 1.6;
        color: #B18042;
        text-align: center;
    }
}

.product-input {
   
    form ::placeholder {
        color: #bb866a;
    }
        textarea {
            width: 100%;
            height: 90%;
            line-height: 45px;
            background-color: #fff;
            font-family: 'Noto sans';
            font-size: 18px;
            color: #B18042;
            border: 1px solid  #B18042;
            padding: 1vw 1.5vw;
            resize: none;

            &:focus {
                outline-color: #B18042;
            }

        }
  
}

.big_tag{
  
    top: 8vw;
    right: 43vw;
    pre {
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scaleX(-1);
        position: absolute;
        border-radius: 25px;
        top: 0;
        left: 0;
        padding: 15px;
        line-height: 40px;
        white-space: pre-wrap !important;
        word-wrap: break-word;
        font-size: 16px;
        color: #bb866a;
        border: 5px solid tan;
        box-shadow: 0px 0px 15px #ccc;
      }    

}

 
