
.customized {

    .top_nav {
        height: 0;
        margin-bottom: -2.0833333333vw;
        z-index: 40;
    }

    img {
        width: 100%;
    }
    @include m() {
        width: rwd(394);
        height: rwd(550);

    }
    .custom_start {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: $secondaryA11y;
            font-weight: $bold;
            padding: 5vw;
        }

        &-btn {
            display: flex;
            gap: 8vw;
        }
    }
    .startBtn {
        background: none;
        border: 0;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}
.big_dog {
    position: fixed;
    top: 15vw;
    left: 10vw;
    width: vw(652);

    @include m(){
        position: absolute;
        top: 44vw;
        width: 87.9583333333vw;
        
    }

    img {
        width: 100%;
        position: absolute;
    }
    
    

.PetTag {
    width: 8.5vw;
    position: absolute;
    top: 29.1vw;
    z-index: 20;
    left: 16.6vw;
    transform: rotate(-45deg);
    @include m(){
        width: 23.5vw;
 
        top: 75.1vw;
 
        left: 41.6vw;
    }
}
}

@media screen and (min-width: 1560px) {
    .big_dog {
    top: 10.8vw;
    }
}
.cus_step {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    padding-bottom: 100px;
    position: relative;

    &-select {
        top: 5vw;
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 48vw;
        right: 3vw;
        @include m(){
            transform: scale(1.8);
            top: 25vw;
 
            right: 27vw;
            position: fixed;
        }
    
    }

    &_txt {
        text-align: center;
        position: relative;
        padding-bottom: 9vw;
        top: 2vw;
        @include m(){
            top: -89vw;
        }
        h3 {

            font-size: vw(24);
            margin-bottom: vw(10);
            @include m(){
                font-size: rwd(24);
            }
        }
        h2 {
            color: #B18042;
            font-size: vw(35);
            font-weight: $bold;
            @include m(){
                font-size: 6.4vw;
            }
        }
    }

    &2_content {
        width: 41.6666666667vw;
        height: auto;
        position: absolute;
        top: 3.6vw;
        right: 6.5vw;
        @include m(){
            width: 100%;
            top: 114.6vw;
            right: 0;
    
        }

    }

    &4_content {
        top: 20vw;
        @include m(){
            top: 121vw;
        }
    }

}

//btn
::before, ::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: #f3f8fa;
$white: #fff;
$black: #7c8b38;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button{
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 20;
}
.custom_btn {
    width: 12vw;
    height: auto;
    font-size: vw(20);
  

    &-prev {
        display: flex;
        flex-direction: row-reverse;
        .custom_btn_circle {
            transform: rotate(180deg);
            left: 11px;

        }
    }

    &:hover {
        .custom_btn_circle {
            width: 100%;
            @include m(){
                transform: scale(-1.3);
            
            }
            &_arrow {
                background: $white;
                transform: translate(1vw, 0);
            }
        }
        .custom_btn-text {
          color: $white;
      
        }
      }
      &_circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3vw;
        height: 3vw;
        background: $black;
        border-radius: 1.625vw; 
        @include m(){
            right: 11px;
        }

        &_icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
         }
          &_arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625vw;
            width: 1.125vw;
            height: 0.125vw;
            background: none;
            
            &::before {
              position: absolute;
              content: '';
              top: -0.25vw;
              right: 0.0625vw;
              width: 0.625vw;
              height: 0.625vw;
              border-top: 0.125vw solid #fff;
              border-right: 0.125vw solid #fff;
              transform: rotate(45deg);
            }
        

          }
       }
       &-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75vw 0;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        @include m(){
            top: -5px;
            font-size: 10px;
           
        }
       
     }  
 }

 

// progress-
:root {
    --line-border-fill: #7C8C38;
    --line-border-empty: #e0e0e0;
}

.progress-content {
    position: relative;
    left: 22vw;
    width: 41vw;
    top: 1vw;
  
    &4 {
        left: 23vw;
        top: 15vw;
    }
}
.progress-cont {
    display: flex;
    justify-content: center;

    &4 {
        top: 9.5vw;
        position: relative;
    }
    @include m(){
        display: none;
    }
}
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 1%;
    z-index: -1;
    transition: 0.4s ease;

    &-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 30px;
        max-width: 100%;
        width: 350px;
        &::before {
            content: "";
            background-color: var(--line-border-empty);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            z-index: -1;
        }
    }

}
.progress-container{
.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

    &.active {
        border-color: var(--line-border-fill);
        background-color: var(--line-border-fill);
        color: #fff;
    }

}
}

.product-grid {
    display: grid;
    grid-template-columns: vw(229) vw(229) vw(229);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    transition: 0.3s;
    justify-content: center;
    @include m(){
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
        border-radius: 4vw;
    }

    .price {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 17px;
        line-height: 1.6;
        color: #B18042;
        text-align: center;
    }

   .prd {
    background-color: #fff;
    border-radius: 20px;
    @include transition(all, 0.55s, cubic-bezier(0.65,0,.076,1));
    overflow: hidden;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: 3px 11px 10px 0 rgb(174 174 174 / 23%);
    @include m(){
       
        border-radius: 0;


    }
    img {
        @include transition(all, 1s, cubic-bezier(0.65,0,.076,1));
        transform: scale(1);
    }

    &:hover {
        transform: translateY(-8px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        box-shadow: 0 0 10px 5px #fffbf3;
        img {
            transform: scale(1.08);
        }
    }

    }

    /* Hover */
    @keyframes hover {
        50% {
            transform: translateY(-3px);
        }

        100% {
            transform: translateY(-6px);
        }
    }

}
.product-input {

    form ::placeholder {
        color: #bb866a;
    }
    textarea {
        width: 100%;
        height: 90%;
        line-height: 45px;
        background-color: #fff;
        font-family: 'Noto sans';
        font-size: 18px;
        color: #B18042;
        border: 1px solid #B18042;
        padding: 1vw 1.5vw;
        resize: none;

        &:focus {
            outline-color: #B18042;
        }

    }

}

.big_tag {
    top: 7vw;
    left: 4vw;
    width: 49vw;
    @include m(){
        top: -65vw;
        left: 0;
        width: 98vw;
    }
}


.cus_step4_btn {
    display: flex;
    justify-content: center;
    gap: 3vw;
    @include m(){
 
 
        background: #fff;
        padding: 6vw;
        border-radius: 20px;
        top: -17px;
        position: relative;
        box-shadow: 0px 0px 14px 0px rgba(174, 174, 174, 0.3);
    }

    .step4_btn {
        width: 10.3vw;
        padding: 0.5vw 0;
        @include m(){
            width: 100%;
            height: 12vw;
        }
   
    }
}

//color


.canvas_frame{
    // transition: all 0.5s ease-in-out;
    position: fixed;
    width: 35vw;
    height: 30vw;
    top: 17vw;
    left: 12vw;
    z-index: 10;
    @include m(){
        top: 78vw;
        position: absolute;
    }
}
.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:  0px solid #B18042;

}


.addText {
    max-width: vw(600);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: vw(30) auto vw(50);

    @include m(){
        max-width: inherit;
        position: absolute;
         top: 20vw;
    }
}
@media screen and (max-width: 415px) {
    .addText {
        margin: rwd(15) auto rwd(50);
    }
}
.addText .collarTextTitles {
    margin: 0  vw(20);
    color: #555555;
    font-weight: $medium;
    font-size: 1.2vw;
    @include m(){
        font-size: 15px;
    }
}

.addText #textStyle {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addText #textStyle #showStyle1 {
    font-size: 1.5vw;
    color: #f0ebd7;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
    margin-right: 15px;
}


.addText #textStyle #textStyle2 {
    margin-right: 10px;
}
.addText #textStyle #showStyle2 {
    font-size: vw(24);
    color: #fff9e4;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-right: 15px;
    @include m(){
        font-size: 5vw;
    }
}

.addText #textStyle #showStyle3 {
    font-size: vw(24);
    margin-right: 10px;
    @include m(){
        font-size: 5vw;
    }
}
 

.addText #textColor {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
@media screen and (max-width: 415px) {
    .addText #textColor {
        margin-top: 10px;
    }
}
.addText #textColor .pickr .pcr-button {
    width: 35px;
    height: 35px;
}



.addText #textFontFamily {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
@media screen and (max-width: 415px) {
    .addText #textFontFamily {
        margin-top: 10px;
    }
}
.addText #textFontFamily #fontFamilySelect {
    width: 150px;
    height: 30px;
}
@media screen and (max-width: 375px) {
    .addText #textFontFamily #fontFamilySelect {
        width: 130px;
    }
}
.addText #textFontFamily #fontFamilySelect .fontFamilys {
    font-size: 20px;
}
@media screen and (max-width: 415px) {
    .addText #textFontFamily #fontFamilySelect .fontFamilys {
        font-size: 16px;
    }
}



.addText #textContent {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}
@media screen and (max-width: 415px) {
    .addText #textContent {
        margin-top: 10px;
    }
}
.addText #textContent #textContent1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 solid red;
    border-bottom: 1px solid #313131;
    border-radius: 0;
    background-color: transparent;
    width: 150px;
    height: 30px;
}
@media screen and (max-width: 375px) {
    .addText #textContent #textContent1 {
        width: 130px;
    }
}
.addText #textContent #addTextBtn .plusTextImg {
    width: 18px;
    height: 18px;
    opacity: 0.8;
}
.textbtn {
    border:0px;
    width: 35px;
    height: 35px;
    border-radius: 38%;
    margin: 0 10px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform:translate(0px,0px);
    background: #fff;
    color: #7c8b38;
    box-shadow: 0px 0px 14px 0px rgba(174, 174, 174, 0.3);
    @include m(){
        margin: 0 10px 0 9px;
        font-size: rwd(18);
    }
    &:hover{
        transform:translate(1px,1px);
        background: rgb(244, 244, 244);
        box-shadow: 0px 0px 10px 0px rgba(174, 174, 174, 0.5);
    }
}
.addText #textContent #delTextBtn .delTextImg {
    width: 18px;
    height: 18px;
    opacity: 0.8;
}


  .scale-enter-active,
  .scale-leave-active {
   transition: all .35s ease-in-out;
  }
  
  .scale-enter ,
  .scale-leave-to {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .scale-enter-to,
  .scale-leave {
    opacity: 1;
    
  }

  
  //scale in
  
  .fade-enter-active {
    transition: all .4s ease-in-out;
  }
  .fade-leave-active {
    transition: all 0.55s ease-in-out;
  }

  .fade-enter{
    pointer-events: none;
    opacity: 0;
  }
  .fade-leave-to {
    pointer-events: none;
    opacity: 0;
  }
  
//   @keyframes pulse {
//     25% {
//       transform: scale(1.1);
//     }
  
//     75% {
//       transform: scale(.9);
//     }
//   }

//   .currentPet{
//     animation-name: pulse;
//     animation-duration: 1s;
//   }


