.donation_record{
    width: vw(840);
    background-color: #fff;
    border-radius: $r25;
    padding: vw(50);
    @include m(){
        width: rwd(394);
        height: rwd(600);
        margin: rwd(40) auto 0;
        border-radius: rwd(25);
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.75s;
    }
    
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
    
    .fade-enter-to,
    .fade-leave-from {
        opacity: 1;
    }
    h3{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding-bottom: vw(24);
        @include m(){
            font-size: rwd(18);
        }
    }

    .sponsor{
        width: 100%;
        text-align: center;
        vertical-align: middle;
        tr{
            .num{
                font-size: $p;
                padding: vw(24);
                border-bottom: vw(1) solid $gray900;
                @include m(){
                    width: rwd(120);
                    font-size: rwd(16);
                }
            }
        }
        tbody{
            tr{
                .id-detail{
                    width: vw(150);
                    font-size: vw(20);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(70);
                    }
                }
                .date-detail{
                    width: vw(150);
                    font-size: vw(20);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(70);

                    }
                }
                .method-detail{
                    width: vw(150);
                    font-size: vw(20);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(70);

                    }
                }
                .amount-detail{
                    width: vw(140);
                    font-size: vw(20);
                    padding: vw(16);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(70);

                    }
                }
                .situation-detail{
                    width: vw(100);
                    font-size: vw(20);
                    padding: vw(16);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(70);
                    }
                }
                .num-detail{
                    @include m(){
                        font-size: rwd(20);
                        width: rwd(70);
                    }
                }
            }
        }
    }


    .bottom{
        margin-top: vw(50);
        @include m(){
            font-size: rwd(18);
        }
    }
    h4{
        text-align: center;
        color: $primaryA11y;
        margin: vw(32) 0;
        @include m(){
            font-size: rwd(18);
        }
    }
    .button{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include m(){
            flex-direction: column;
        }
        .btn0{
            width: vw(200);
            @include btn($primaryDark, #fff, $primaryDark);
            font-size: font-size(12);
            padding: vw(10) vw(10);
            &:hover{
                @include btn_hover($primaryA11y);
            }
            @include m(){
                font-size: rwd(16);
                width: rwd(200);
                padding: rwd(8) rwd(8);
                margin: rwd(8) 0 rwd(8);
            }
        }
        .btn1{
            width: vw(200);
            @include btn(#fff,$primaryDark, $primaryDark);
            font-size: font-size(12);
            padding: vw(10) vw(10);
            &:hover{
                @include btn_hover($primaryA11y,#fff,$primaryA11y);
            }
            @include m(){
                font-size: rwd(16);
                width: rwd(200);
                padding: rwd(8) rwd(8);
                margin-bottom: rwd(8);
            }
        }
    }
    .btn{
        text-align: right;
        margin: vw(64) 0;
        .btn-0-1{
            @include btn($primaryDark, #fff, $primaryDark);
            font-size: font-size(12);
            @include m(){
                font-size: rwd(16);
                width: rwd(100);
                padding: rwd(8) rwd(8);
            }
        }
        .btn-0-1:first-child{
            margin-right: vw(16) ;
        }
    }
}