.index_wrapper{
    img {
        width: 100%;
    }

    &-content{   
        margin: 0 auto;
        overflow: hidden;

    }
    p{
        color: #515151;
        line-height: 1.8;
    }
}  

.index_1 {
    width: 100vw;
    height: 65vw;
    position: relative;
    background: #FFFBDE;

    @include m() {
        height: 98vh;
    }
    &-container {
        top: vw(-250);
        left: vw(191);
        overflow:hidden;

        @include m() {
            height: 98vh;
        }

        .-hand {
            position: absolute;
            z-index: 4;
            top: -20vw;
            right: 1vw;
            width: 81vw;
            @include m() {
                top: -7vw;
                right: -72vw;
                width: 200vw;
            }
        }
        .-dog {
            position: absolute;
            top: -15vw;
            width: 90vw;
            right: -3vw;
            
        }
        .-logo {
            position: absolute;
            width: 13vw;
            top: 5vw;
            left: 64px;

        }
    }
}

.index_2{
    z-index: 1;
    position: relative;
    top: -18vw;
    
    &-bg{
        position: relative;
        z-index: -1;
    }
   
    &-cloud{
 
        position:relative;

       top:2px;
        .cloud01{
            position:absolute;
            width: vw(794);
            z-index: 4;
            right: 0;
        }
        .cloud02{
            position:absolute;
            width: vw(878);
            left:-200px;
            z-index: 4;
        }
        .cloud03{
            position:absolute;
            width: 44.53125vw;
            top: 37vw;
            left: 0;
            z-index: 4;
        }
        .cloud04{
            position: absolute;
            width: 54.4895833333vw;
            top: 11.28125vw;
            opacity: 60%;
            right: 0;
            z-index: 4;

        }
        .cloud05{
            position: absolute;
            top: vw(648);
            left: vw(-130);
            width: 31.6vw;
            z-index: 4;
        }
        .star{
            position: absolute;
            top: 14.75vw;
            left: -6vw;
            width: 100vw;

        }

    }
    &-moon{
        position: absolute;
        margin: 0 auto;
        width: vw(322);
        top: 50vw;
        right: calc(50% - vw(322)/2);
        z-index: 9;
    }
    &-city{
        top: 38vw;
        position:relative;
        z-index: 9;
   

         .right{
            position:absolute;
            left: 0;
            width:vw(1154);
            opacity: 0;
            
        }
         .left{
            position:absolute;
            right:  0;
            width: vw(1113);
            top: -11vw;
            opacity: 0;
        }
    }
   
    &-paper{
        position:relative;
        left: 49vw;
        top: 83vw;
        z-index: 10;
        .-text{
            position: absolute;
            color: #fff;
            z-index: 8;
            top: 16vw;
            right: calc(100vw - 32vw);
            h5{
                line-height: 3;
            }
            p{
                font-size: font-size(14);
                font-weight: $regular;
                color: #fff;
            }
        }

        .paper-range{
            top:70vh;
            position: relative;
     
        .paper01{
            position:absolute;
            width: vw(850);
            z-index: 3;
 
        }
        .paper02{
            position:absolute;
            width: vw(740);
            top: -85px;
            z-index: 2;
    

        }
        .paper03{
            position:absolute;
            width: vw(740);
            top: 54px;
            left: 91px;
            z-index: 1;
        
        }
        .paper04{
            position:absolute; 
            width: vw(740);
            top: 166px;
   
        }
           }

    }

    
    // 轉場
    
    &-2{
        position:relative;
        top: 145vw;
        .text{
            position:absolute;
            margin: 0 auto;
            color: #FFFBDE;
            right: calc(50% - 12vw);
        }

        .streetlight{
            position:relative;
            width: vw(1738);
            left: calc(50vw - 39.6vw);
            top: 20vw;
            
            .street{
                position:absolute;

            }
            .light{
                position: absolute;
                width: 54.5vw;
                right: 21.4vw;
                top: 9.2vw;
            }
        }   
        .assist{
            position:relative;
            width: vw(626);
            top: 75vw;
            left: calc(50vw - 15vw );;

            .assist1{
                position:absolute;
            }
            .assist2{
                position:absolute;
            }
        }
    }
}
    //happy

    .index_3{
            width: vw(1200);
            margin: 0 auto;
            position: relative;
            top: -2
            
            
            
            
            
            
            
            
            
            vw;
        
            @include m() {
                width: rwd(394);
            }
        &-text{
            margin: 0 auto;
            h3{
                color: $primaryDefault;
                text-align: center;
            }
        }
        &-content{
            display: grid;
            grid-template-columns: 32vw 32vw;
            grid-template-rows: 11vw;
            padding-top: 7vw;
            margin-bottom: 15vw;
            justify-content: center;
            align-items: center;
            justify-items: center;
            .happy1{
               grid-area: 1;
                
            }
            .happy2{
                grid-area: 2;
                grid-column: 2;
            }
            .happy3{
                grid-area: 3;
                &-text{
                    grid-area: 3;
                    grid-column: 2;
                }
            }
            .happy4{
                grid-area: 4;
                grid-column: 2;
                &-text{
                    grid-area: 4;
                    h5{
                        color: $secondaryA11y;
                        font-size: 1.45vw;
                    }
                }
            }
        }
    }
    .index_ending{

            width: 100vw;
            margin-bottom: 30vw;
            position: relative;
            img{
                width: 100%;
            }

            @include m() {
                width: rwd(394);
            }
            .ending-text{
                position: absolute;
                top: 16vw;
                left: 17.6vw;
                line-height: 1.8;
                color: $secondaryA11y;
                z-index: 10;
            }

            
            .-grass{
                position:relative;
                top: 20vw;
                z-index: 10;
                left:10vw;
                height: 300px;
            }
        
            .-peo{
                position:relative;
                top:20vw;
                left:10vw;
                z-index: -1;
                height: 700px;
            }
            .-bg{
                position:absolute;
                z-index: -1;
            }
        }

///
///  
        .index-info{
            width: vw(1200);
            margin: 0 auto;
            height: 100vh;
            text-decoration: none;

            &_text{
                margin: 0 auto;
                text-align: center;
                color: $secondaryA11y;
                margin-bottom: 4vw;
            }
            &-t{
                font-weight: $medium;
                padding-bottom: 1.3vw;
                p{
                    color: $secondaryA11y;
                }
            }
        }

        .index-info-list{
            display: flex;
            justify-content: center;
            gap: 2vw;

            .sponsored_List-in2{
                display: inherit;
                margin: 0 vw(30);
                text-align: center;

                h3{
                    
                    padding-top: 0.5vw;
                }
                
             }

        }

    


    
        .svg{
            position:absolute;
            width: 43vw;
            z-index: 4;
            top: 87vw;
             left: 8vw;
            &-dog{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                transform: translateY(10px);
                transition: opacity .6s ease, transform .6s ease;
                display:block
            }
            &-cat{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                transform: translateY(10px);
                transition: opacity .6s ease, transform .6s ease;
                display:block;
                top: 25vw;
                left: 15vw;
            }
        }
    
// 




.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
 

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}

}

.bird-container {
	position: absolute;
	top: 23%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
    z-index: 10;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 3s;
	}
	
	&--two {
		animation-duration: 16s;
		animation-delay: 5s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}