.langNews {
    width: vw(1200);
    margin: 0 auto;
    @include m(){
        width: rwd(394);
    }
    img{
        display: block;
        width: 100%;
    }
    a{
        display: block;
        text-decoration: none;
        position: relative;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        @include m(){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
        }

        .News_cont {
            height: 100%;
            background-color: #fff;
            p{
                color: $primaryA11y;
                padding: vw(20) vw(10);
                text-align: center;
                @include m(){
                    font-size: rwd(18);
                }
            }
            .date_box{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: vw(-30);
                left: vw(-20);
                width: vw(100);
                height: vw(100);
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: vw(5) solid $gray500;
                background-color: #fff;
                color: $primaryA11y;
                font-size: $p;
                @include m(){
                    font-size: rwd(16);
                    width: rwd(70);
                    height: rwd(70);
                    top: rwd(-25);
                    left: rwd(-5);
                }
            }
        }
        }
    }
