.member_reservation{
    width: vw(840);
    background-color: #fff;
    border-radius: $r25;
    padding: vw(50);
    @include m(){
        width: rwd(394);
        margin: rwd(40) auto 0;
        border-radius: rwd(25);
    }
    h3{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding-bottom: vw(24);
        @include m(){
            font-size: rwd(18);
        }
    }
    table{
        margin-top: vw(32);
        thead{
            th{
                width: vw(300);
                border-bottom: vw(1) solid $gray900;
                padding-bottom: vw(24);
                font-size: $p;
                @include m(){
                    font-size: rwd(18);
                    width: rwd(130);
                }
            }
            .person{
                width: vw(120);
                @include m(){
                    width: rwd(120);
                }
            }
            .num{
                width: vw(120);
                @include m(){
                    width: rwd(120);
                }
            }
            .situation{
                width: vw(140);
                @include m(){
                    width: rwd(120);
                }
            }
            .cancel{
                width: vw(160);
                @include m(){
                    width: rwd(120);
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    padding-top: vw(24);
                    font-size: $p;
                    @include m(){
                        font-size: rwd(18);
                    }
                }
                .btn-0{
                    font-size: font-size(12);
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(60);
                        padding: rwd(6);
                    }
                }
            }
        }
    }
    .none-wrapper{
        text-align: center;
        margin-top: vw(56);
        .none{
            border-bottom: none;
            color: $primaryA11y;
        }
    }
}