.member_center{
    display: flex;
    width: vw(1200);
    margin: 0 auto;
    @include m(){
        width: rwd(394);
        margin-top: rwd(250);
        flex-direction: column;
    }
    .slidebar{
        border-radius: $r25;
        width: vw(290);
        height: vw(260);
        text-align: center;
        margin-right: vw(24);
        overflow: hidden;
        @include m(){
            width: rwd(394);
            height: rwd(40);
            margin: 0 auto;
        }
        ul{
            background-color: #fff;
            border-radius: $r25;
            @include m(){
                display: flex;
                justify-content: space-around;
                height: rwd(40);
                }
            li{
                font-size: $h4;
                line-height: vw(64);
                color: $primaryDark;
                font-weight: $bold;
                // border-radius: $r25;
                cursor: pointer;
                    @include m(){
                        width: rwd(100);
                        line-height: rwd(40);
                        border-bottom: none;
                        font-size: rwd(20);
                    }
                }
                .choose{
                    color: #fff;
                    background-color: $primaryDark;
                }
            li:last-child{
                border-bottom: none;
            }
        }
    }
    .member_detail{
        width: vw(840);
        height: vw(746);
        background-color: #fff;
        border-radius: $r25;
        z-index: 28;
        padding: vw(50);
        @include m(){
            width: rwd(394);
            height: rwd(470);
            margin: rwd(40) auto 0;
            border-radius: rwd(25);
        }
        h3{
            margin-bottom: vw(32);
            color: $primaryA11y;
            text-align: center;
            @include m(){
                font-size: rwd(20);
            }
        }
        .text-label{
            &-1{
                @include text-label(vw(355),'姓名:');
                @include m(){
                    @include text-label(rwd(170),'姓名:');
                    &::before{
                        font-size: rwd(18);
                    }
                    margin-right: rwd(20);
                }
                .input-text[type=text]{
                    @include input-text(vw(360));
                    @include m(){
                        @include input-text(rwd(180));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
            &-2{
                @include text-label(vw(355),'性別:');
                @include m(){
                    @include text-label(rwd(170),'性別:');
                    &::before{
                        font-size: rwd(18);
                    }
                }
                margin-left: vw(20);
                .input-text[type=text]{
                    @include input-text(vw(360));
                    @include m(){
                        @include input-text(rwd(180));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
            &-3{
                @include text-label(vw(400),'電話:');
                @include m(){
                    margin-top: rwd(8);
                    &::before{
                        font-size: rwd(18);
                    }
                    margin-top: rwd(16);
                }
                .input-text[type=text]{
                    @include input-text(vw(740));
                    @include m(){
                        @include input-text(rwd(373));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
            &-4{
                @include text-label(vw(600),'生日:');
                @include m(){
                    margin-top: rwd(8);
                    &::before{
                        font-size: rwd(18);
                    }
                    margin-top: rwd(16);
                }
                .input-text[type=date]{
                    @include input-text(vw(740));
                    @include m(){
                        @include input-text(rwd(373));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
            &-5{
                @include text-label(vw(600),'電子郵件:');
                @include m(){
                    margin-top: rwd(8);
                    &::before{
                        font-size: rwd(18);
                    }
                    margin-top: rwd(16);
                }
                .input-text[type=email]{
                    @include input-text(vw(740));
                    @include m(){
                        @include input-text(rwd(373));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
            &-6{
                @include text-label(vw(600),'密碼:');
                @include m(){
                    margin-top: rwd(8);
                    &::before{
                        font-size: rwd(18);
                    }
                    margin-top: rwd(16);
                }
                .input-text[type=password]{
                    @include input-text(vw(740));
                    @include m(){
                        @include input-text(rwd(373));
                        border-radius: rwd(6);
                        line-height: rwd(10);
                    }
                }
            }
        }
        .btn{
            text-align: right;
            margin-top: vw(70);
            .btn-0{
                @include m(){
                    width: rwd(120);
                    font-size: rwd(16);
                    padding: rwd(8);
                    margin-top: rwd(16);
                }
            }
        }
    }
}