.order_detail{
    width: vw(840);
    height: vw(1050);
    background-color: #fff;
    border-radius: $r25;
    z-index: 28;
    padding: vw(50);
    @include m(){
        width: rwd(394);
        height: rwd(800);
        margin: rwd(40) auto 0;
        border-radius: rwd(25);
        padding: rwd(4);
    }
    h3{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding-bottom: vw(24);
        @include m(){
            font-size: rwd(18);
        }
    }
    .detail-title{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding: vw(24) 0;
        @include m(){
            font-size: rwd(18);
        }
    }
    table{
        margin-top: vw(32);
        thead{
            th{
                width: vw(300);
                border-bottom: vw(1) solid $gray900;
                padding-bottom: vw(32);
                font-size: $p;
                @include m(){
                    font-size: rwd(18);
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    padding: vw(16) 0;
                    vertical-align: middle;
                    font-size: $p;
                    @include m(){
                        font-size: rwd(18);
                        width: rwd(90);
                        padding: rwd(16) 0;
                    }
                }
            }
        }
        tfoot{
        margin-top: vw(32);
            tr{
                td{
                    text-align: center;
                    padding-top: vw(24);
                    border-top: vw(1) solid $gray900;
                    font-size: $p;
                    @include m(){
                        font-size: rwd(18);
                    }
                }
            }
        }
    }
    
}