.order_detail{
    width: vw(840);
    background-color: #fff;
    border-radius: $r25;
    padding: vw(50);
    display: flex;
    flex-direction: column;
    @include m(){
        width: rwd(394);
        margin: rwd(40) auto 0;
        border-radius: rwd(25);
        padding: rwd(4);
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.75s;
    }
    
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
    
    .fade-enter-to,
    .fade-leave-from {
        opacity: 1;
    }
    h3{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding-bottom: vw(24);
        @include m(){
            font-size: rwd(18);
        }
    }
    .detail-title{
        text-align: center;
        color: $primaryA11y;
        border-bottom: vw(1) solid $gray900;
        padding: vw(24) 0;
        @include m(){
            font-size: rwd(18);
        }
    }
    .product{
        .top{
            width: 100%;
            vertical-align: middle;
            text-align: center;
            tr{
                .num{
                    font-size: $p;
                    padding: vw(24) 0;
                    border-bottom: vw(1) solid $gray900;

                }
                .num-detail{
                    font-size: vw(20);
                    padding: vw(16);

                }
                .detail-bottom{
                    font-size: vw(20);
                    padding: vw(32) 0;
                }
                .orderDetail{
                    width: vw(143);
                    font-size: vw(20);
                    padding: vw(16);

                }
                .dateDetail{
                    width: vw(230);
                    font-size: vw(20);

                }
                .paymentDetail{
                    width: vw(160);
                    font-size: vw(20);
                    padding: vw(16);

                }
                .totalDetail{
                    width: vw(96);
                    font-size: vw(20);
                    padding: vw(16);

                }
                .situationDetail{
                    width: vw(120);
                    font-size: vw(20);
                    padding: vw(16);

                }
            }
        }
        .bottom{
            width: 100%;
            vertical-align: middle;
            text-align: center;
            tr{
                .num{
                    font-size: vw(24);
                    padding: vw(16);
                }
                .num-detail{
                    font-size: vw(20);
                    vertical-align: middle;
                    .pd{
                        width: vw(70);
                    }
                }
                .detail-bottom{
                    font-size: vw(20);
                    padding: vw(32) 0;
                    border-top: vw(1) solid $gray900;
                }
            }
        }
    }
}