.origin{
    width: vw(1200);
    margin: 0 auto;
    position: relative;
    @include m(){
        width: rwd(394);
    }

    img{
        width: 100%;
    }

    .link-wrapper{
        display: flex;
        // justify-content: center;
        @include m(){
        justify-content: center;
        }
        .link1{
            text-decoration: none;
            .btn-2{
                display: none;
            }
            @include m(){
                    img{
                        display: none;
                    }
                    .btn-2{
                        display: block;
                    }
                }
            }
        

        .link2{
            margin-left: vw(80);
            text-decoration: none;
            .btn-3{
                display: none;
            }
            @include m(){
                img{
                    display: none;
                }
                .btn-3{
                    display: block;
                }
            }

            &:hover{
                opacity: .6;
            }

        }
    }
    

    .top-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: vw(165);
        @include m(){
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: rwd(50);
        }

        .top-left{
            width: vw(530);
            margin-bottom: vw(16);
            @include m(){
                // width: rwd(359);
                width: 100%;
                height: 427px;
                background-color: #ffffff;
                box-shadow: $shadow;
                border-radius: rwd(25);
                padding: 24px 16px;
            }
            h2{
                font-size: $h2;
                color: $secondaryA11y;
                font-weight: $medium;
                @include m(){
                    font-size: 16px;
                    font-weight: $regular;
                    margin-bottom: 8px;
                }
            }
            h1{
                font-size: font-size(45);
                color: $primaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: 24px;
                    font-weight: $medium;
                }
            }
            .line{
                margin: vw(48) 0;
                @include m(){
                    margin: 24px 0;
                }
            }
            h3{
                font-size: $h3;
                color: $secondaryA11y;
                font-weight: $medium;
                margin-bottom: vw(32);
                @include m(){
                    font-size: 16px;
                    font-weight: $bold;
                    margin-bottom: 32px;
                }
            }
            p{
                font-size: $p;
                color: $secondaryA11y;
                font-weight: $regular;
                @include m(){
                    font-size: 16px;
                }
            }
        }
    
        .top-right{
            width: vw(500);
            @include m(){
                width: rwd(359);
                height: rwd(447);
            }
            .top-right1{
                position: absolute;
                z-index: 3;
                width: vw(480);
                @include m(){
                    width: 250px;
                    top: 80px;
                }
            }
            .top-right2{
                position: absolute;
                z-index: 2;
                width: vw(474);
                left: vw(750);
                @include m(){
                    width: 270px;
                    left: 50px;
                }
            }
            .top-right3{
                position: absolute;
                z-index: 1;
                width: vw(254);
                top: vw(600);
                @include m(){
                    width: 130px;
                    top: 215px;
                }
            }
        }
    }

    .line1{
        width: vw(338);
        @include m(){
            width: 163px;
            margin-left: 20px;
        }
    }

    .dog2{
        width: vw(245);
        position: absolute;
        left: vw(500);
        top: vw(1000);
    }

    .dog1{
        width: vw(245);
        position: absolute;
        left: vw(900);
        top: vw(1000);
        @include m(){
            width: rwd(178);
            top: 800px;
            left: 230px;
        }
    }

    .cat1{
        width: vw(210);
        position: absolute;
        left: vw(1100);
        top: vw(800);
        @include m(){
            display: none;
        }
    }

    .medium-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: vw(120);
        @include m(){
            flex-direction: column;
            align-items: center;
        }

        .medium-left{
            width: vw(530);
            @include m(){
                width: rwd(359);
                height: rwd(447);
            }
            .medium-left1{
                position: absolute;
                width: vw(450);
                z-index: 4;
                left: vw(70);
                @include m(){
                    width: rwd(300);
                    left: 100px;
                    top: 990px;
                }
            }
            .medium-left2{
                position: absolute;
                width: vw(533);
                z-index: 3;
                @include m(){
                    width: rwd(330);
                }
            }
            .medium-left3{
                position: absolute;
                width: vw(290);
                z-index: 1;
                top: vw(1620);
                left: vw(200);
                @include m(){
                    width: rwd(200);
                    top: 1100px;
                    left: rwd(120);
                }
            }
            .medium-left4{
                position: absolute;
                width: vw(330);
                z-index: 2;
                top: vw(1750);
                left: vw(200);
                @include m(){
                    width: 252px;
                    top: 1740px;
                    left: 60px;
                }
            }
        }
        .medium-right{
            width: vw(530);
            padding-top: vw(200);
            @include m(){
                width: 359px;
                height: 427px;
                background-color: #ffffff;
                box-shadow: $shadow;
                border-radius: rwd(25);
                padding: 24px 16px;
            }
            h2{
                font-size: $h2;
                color: $secondaryA11y;
                font-weight: $medium;
                @include m(){
                    font-size: 16px;
                    margin-bottom: 8px;
                    font-weight: $regular;
                }
            }
            h1{
                font-size: font-size(45);
                color: $primaryA11y;
                font-weight: $bold;
                @include m(){
                    font-size: 24px;
                    font-weight: $medium;
                }
            }
            .line{
                margin: vw(48) 0;
                @include m(){
                    margin: 24px 0;
                }
            }
            h3{
                font-size: $h3;
                color: $secondaryA11y;
                font-weight: $medium;
                margin-bottom: vw(32);
                @include m(){
                    font-size: 16px;
                    font-weight: $bold;
                    margin-bottom: 32px;
                }
            }
            p{
                font-size: $p;
                color: $secondaryA11y;
                font-weight: $regular;
                @include m(){
                    font-size: 16px;
                }
            }
        }
    }

    .line2{
        width: vw(300);
        @include m(){
            position: absolute;
            top: 2400px;
            left: 200px;
            width: 140px;
        }
        img{
            margin: vw(100) 0 0 vw(500);
            @include m(){
                margin: 0;
            }
        }
    }

    .dog3{
        width: vw(140);
        position: absolute;
        top: vw(2000);
        left: vw(800);
        @include m(){
            top: 2510px;
            left: rwd(30);
            width: rwd(100);
        }
    }

    .cloud{
        width: vw(190);
        position: absolute;
        top: vw(2000);
        left: vw(1120);
        @include m(){
            top: 2400px;
            width: rwd(128);
            left: rwd(50);
        }
    }

    .content{
        width: vw(736);
        height: vw(156);
        margin: 0 auto;
        background-color: $secondaryLight;
        box-shadow: $shadow;
        border-radius: $r25;
        padding: vw(40) vw(125);
        display: flex;
        justify-content: center;
        align-items: center;
        @include m(){
            margin-top: rwd(500);
            width: 359px;
            height: 76px;
            padding: 12px 18px;
        }
        h3{
            width: vw(486);
            color: $gray800;
            text-align: center;
            @include m(){
                font-size: 16px;
                width: 324px;
                height: 52px;
            }
        }
    }

    .cat2{
        width: vw(260);
        margin-left: vw(900);
        @include m(){
            display: none;
        }
    }

    .bottom-wrapper{
        display: flex;
        margin-top: vw(438);
        @include m(){
            margin-top: rwd(60);
            flex-direction: column;
            height: rwd(1000);
        }
        .smallHome{
            position: absolute;
            left: vw(750);
            top: vw(3020);
            @include m(){
                top: 2600px;
                left: rwd(50);
                width: rwd(120);
            }
        }
        .bottom-left{
            flex: 3;
            @include m(){
                margin-bottom: rwd(320);
            }
        }
        .bottom-right{
            flex: 1;
            align-self: center;
            margin-left: vw(40);
            @include m(){
                width: 350px;
                height: 769px;
                background-color: #ffffff;
                box-shadow: $shadow;
                border-radius: rwd(25);
                padding: 100px 16px;
                margin-left: 0;
            }
            h1{
                color: $secondaryA11y;
                font-weight: $bold;
                margin-bottom: vw(32);
                @include m(){
                    font-size: 32px;
                    font-weight: $medium;
                }
            }
            .p1{
                color: $secondaryA11y;
                margin-bottom: vw(32);
                @include m(){
                    font-size: 20px;
                }
            }
            .p2{
                color: $primaryA11y;
                @include m(){
                    font-size: 16px;
                }
            }
        }
    }
    .footPrint{
        width: vw(260);
        margin-left: vw(900);
        @include m(){
            position: absolute;
            top: 2610px;
            left: 100px;
            width: rwd(100);
        }
    }
    .dog4{
        width: vw(290);
        margin-left: vw(900);
        @include m(){
            position: absolute;
            top: 3000px;
            width: rwd(125);
        }
    }


}