.origin{
    width: vw(1200);
    margin: 0 auto;
    position: relative;

    img{
        width: 100%;
    }

    .link1{
        width: vw(155);
        display: inline-block;
    }

    .link2{
        width: vw(155);
        display: inline-block;
        padding: vw(80);
    }

    .top-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: vw(165);

        .top-left{
            width: vw(530);
            h2{
                font-size: $h2;
                color: $secondaryA11y;
                font-weight: $medium;
            }
            h1{
                font-size: font-size(45);
                color: $primaryA11y;
                font-weight: $bold;
            }
            .line{
                margin: vw(48) 0;
            }
            h3{
                font-size: $h3;
                color: $secondaryA11y;
                font-weight: $medium;
                margin-bottom: vw(32);
            }
            p{
                font-size: $p;
                color: $secondaryA11y;
                font-weight: $regular;
            }
        }
    
        .top-right{
            width: vw(500);
        }
    }

    .line1{
        width: vw(338);
    }

    .dog2{
        width: vw(245);
        position: absolute;
        left: vw(500);
        top: vw(1200);
    }

    .dog1{
        width: vw(245);
        position: absolute;
        left: vw(900);
        top: vw(1200);

    }

    .cat1{
        width: vw(210);
        position: absolute;
        left: vw(1100);
        top: vw(1000);
    }

    .medium-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: vw(120);

        .medium-left{
            width: vw(530);
        }
        .medium-right{
            width: vw(530);
            padding-top: vw(200);
            h2{
                font-size: $h2;
                color: $secondaryA11y;
                font-weight: $medium;
            }
            h1{
                font-size: font-size(45);
                color: $primaryA11y;
                font-weight: $bold;
            }
            .line{
                margin: vw(48) 0;
            }
            h3{
                font-size: $h3;
                color: $secondaryA11y;
                font-weight: $medium;
                margin-bottom: vw(32);
            }
            p{
                font-size: $p;
                color: $secondaryA11y;
                font-weight: $regular;
            }
        }
    }


}