.intro_wrapper{
    width: 100%;
    overflow: hidden;
}
.park_intro {
    width: vw(1200);
    margin: 0 auto;
    position: relative;
    --rwd-width: 53;
    --rwd-height: 50;
    h4{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }

    @include m() {
        width: rwd(394);
    }

.top_kv_crumbs-frame .top_kv_crumbs {
    @include m(){
        width: 63vw;
        height: 47.37px;
        left: 19.6vw;
        top: 751px;
    }
}
    &-map {
        position: relative;
        top: -12vw;
        right: -4vw;
      
        img {
            width: 100%;
        }
        @include m(){
            width: calc((63/var(--rwd-width)) * 100vw);
            top: 73vw;
            height: 204vw;
            right: 16vw;
        }
        &-all {
            width: 65vw;

            @include m(){
                width: calc((67/var(--rwd-width)) * 100vw);
                // width: 122vw;
            }
            &::after,
            &::before {
                background-image: $cloud;
                content: " ";
                position: absolute;
                width: vw(200);
                height: vw(150);
                background-repeat: no-repeat;
                animation: step-fluffy 7s steps(1) infinite;

                @include m(){
                    width: 20vw;
                    height: 9.8vw;
                }
            }

            &::after{
                animation: step-fluffy2 8s steps(1) infinite;
             
                
            }
            &::before {
                position: absolute;
                top: vw(513);
                right:vw(-158);
                background-size: vw(116);
                
                @include m(){
                    top: -47vw;
                    right: 11.7vw;
                    background-size: 16vw;
                }
            }
            &::after {
                position: absolute;
                top: vw(619);
            
                left: vw(16);
                background-size: vw(129);
                @include m(){
                    top: -7.7vw;
                    left: 26.8vw;
                    background-size: 12.7vw;
                }
            }

            .store {
                position: absolute;
                top: 16vw;
                right: 7vw;
                width: 10vw;
                @include m(){
                    width: calc((10/var(--rwd-width)) * 100vw);
                    right: calc((7/var(--rwd-width)) * 100vw);
                    top: calc((16/var(--rwd-height)) * 100vw);
                }
            }
            .res {
                position: absolute;
                top: 8.6vw;
                right: 21vw;
                width: 15.6vw;
                @include m(){
                    width: calc((15.6/var(--rwd-width)) * 100vw);
                    right: calc((21/var(--rwd-width)) * 100vw);
                    top: calc(( 8.6/var(--rwd-height)) * 100vw);
                }
            }
            .med {
                position: absolute;
                top: 21vw;
                right: 39.7vw;
                width: 11vw;
                @include m(){
                    width: calc((11/var(--rwd-width)) * 100vw);
                    right: calc((39.7/var(--rwd-width)) * 100vw);
                    top: calc(( 21/var(--rwd-height)) * 100vw);
                }
            }
            .cos {
                position: absolute;
                top: 32.5vw;
                right: 41.6vw;
                width: 14.5vw;
                @include m(){
                    width: calc((14.5/var(--rwd-width)) * 100vw);
                    right: calc((41.6/var(--rwd-width)) * 100vw);
                    top: calc(( 32.5/var(--rwd-height)) * 100vw);
                }
            }
            .dog {
                position: absolute;
                top: 31vw;
                right: 15vw;
                width: 13.6vw;
                @include m(){
                    width: calc((13.6/var(--rwd-width)) * 100vw);
                    right: calc((15/var(--rwd-width)) * 100vw);
                    top: calc((31/var(--rwd-height)) * 100vw);
                }
            }
            .cat {
                position: absolute;
                top: 23vw;
                right: 25vw;
                width: 14vw;
                @include m(){
                    width: calc((14/var(--rwd-width)) * 100vw);
                    right: calc((25/var(--rwd-width)) * 100vw);
                    top: calc(( 23/var(--rwd-height)) * 100vw);
                }
            }
            .ball {
                position: absolute;
                top: 30vw;
                right: 6vw;
                width: 12.6vw;
                @include m(){
                    width: calc((12.6/var(--rwd-width)) * 100vw);
                    right: calc((6/var(--rwd-width)) * 100vw);
                    top: calc(( 30/var(--rwd-height)) * 100vw);
                }
            }
            .cloud {
                position: absolute;
                top: 28.6vw;
                right: -6.9vw;
                width: 7.9vw;
            }

        }
    }
    .top_kv_t {
        position: absolute;
        z-index: -1;
        top: 5vw;
        left: -2vw;
        @include m(){
            top: 10vw;
            left: 33vw;

        }

    &_cir {
        position: absolute;
        z-index: -1;
        width: 24.177083vw;
        top: -7vw;
        @include m(){
            width: 68vw;
            top: -18vw;
        }
    }
    h1 {
        font-size: 1.8vw;
        @include m(){
            font-size: 5.7vw;
        }
    }
    .link-wrapper {
        display: flex;
        position: relative;
        top: vw(-260);
        transition: opacity 0.3s ease-in-out;
    }
}
    ////////
    &_rest {
        position: relative;

        &::after {
            content: "";
            background-image: $dog;
            position: absolute;
            top: -14vw;
            z-index: 10;
            display: block;
            right: 17vw;
            width: 15.5vw;
            height: 11vw;
            background-repeat: no-repeat;
            background-size: vw(200);
            animation: step-fluffy 10s steps(1) infinite;
            @include m(){
                top: -2vw;
                right: 5vw;
                width: 26.5vw;
                height: 32vw;
                background-size: 28vw;
                
            }
        }

        .rest {
            position: relative;
            @include m(){
            width: 272px;
            top: 444px;
            }
            .res1 {
                position: absolute;
                z-index: -1;
                width: vw(373);
                top: vw(48);
                @include m(){
                    width:100%;

                }
            }
            .res2 {
                position: absolute;
                top: vw(170);
                width: 17vw;
                @include m(){
                    width: calc(26 / var(--rwd-width) * 100vw);
                    top: 17.854167vw;
                    
                }
            }

            &::after {
                content: "";
                background-image: $grass04;
                position: absolute;
                top: 28vw;
                z-index: 10;
                display: block;
                right: 41vw;
                width: 15vw;
                height: 11vw;
                background-repeat: no-repeat;
                background-size: 12.8vw;
                @include m(){
                    display: none;
                }
            }
            &::before {
                content: "";
                background-image: $cloud;
                position: absolute;
                top: 28vw;
                z-index: 10;
                right: 52vw;
                width: vw(234);
                height: vw(208);
                background-repeat: no-repeat;
                background-size: vw(113);
                animation: step-fluffy 10s steps(1) infinite;
                @include m(){
                    top: 64vw;
                    z-index: 10;
                    right: 20vw;
                    width: 22vw;
                    height: 10.8vw;
                    background-size: 17vw;
                }
         
            }

        }
        .grass08 {
            position: relative;
            width: 17.6vw;
            left: -4.7vw;
            img{
                width: 100%;
            }
        }
    }

    ///store
    /// 
    &_store {
        position: relative;
        top: vw(87);
        @include m(){
            top: 104.5vw;
            height: 264vw;
        }
        
        .store {
            position: relative;
            top: vw(124);
            right: vw(-90);

            @include m(){
                top: 103.4vw;
                right: -22.7vw;
                width: 272px;
            }
            .store1 {
                position: absolute;
                z-index: -1;
                width: vw(373);
                top: vw(48);
                right: vw(-69);
                @include m(){
                    width: 100%;
                }
            }
            .store2 {
                position: absolute;
                top: vw(170);
                right: vw(109);
                width: 11vw;
                @include m(){
                    width: calc(20 / var(--rwd-width) * 100vw);
                    top: 17.854167vw;
                }
            }

            &::after {
                content: "";
                background-image: $dog;
                position: absolute;
                top: 28vw;
                z-index: 10;
                display: block;
                right: 5vw;
                width: vw(298);
                height: vw(208);
                background-repeat: no-repeat;
                background-size: 14.4vw;
                animation: step-balloon 5s steps(1) infinite;
                @include m(){
                    display: none;
                }
            }

            &::before {
                content: "";
                background-image: $foot;
                position: absolute;
                top: 40vw;
                z-index: 10;
                display: block;
                right: 43vw;
                width: vw(298);
                height: vw(208);
                background-repeat: no-repeat;
                background-size: vw(190);
                @include m(){
                    top: 276px;
                    right: 35vw;
                    width: 39.5vw;
                    height: 32vw;
                    background-size: 34.625vw;
                    z-index: -1;
                }
            }

        }
    }

    ///
    &_med {
        position: relative;
        @include m(){
            top: 13.5vw;
            height: 264vw;
        }
        .med {
            position: relative;
            top: 6.45vw;
            right: -4.6vw;
            @include m(){
                top: 100.4vw;
                right: -22.7vw;
                width: 272px;
            }

            .med1 {
                position: absolute;
                z-index: -1;
                width: 21vw;
                top: 17.5vw;
                left: vw(-114);
                @include m(){
                    width: 100%;
                }
            }
            .med2 {
                position: absolute;
                top: 24vw;
                left: 5.4vw;
                width: 11.8vw;
                @include m(){
                    width: calc(20 / var(--rwd-width) * 100vw);
                    top: 46.854167000000004vw;
                    left: 84px;
                }

            }

            &::before {
                content: "";
                background-image: $grass06;
                position: absolute;
                top: 40vw;
                z-index: 10;
                display: block;
                right: 41vw;
                width: vw(298);
                height: vw(208);
                background-repeat: no-repeat;
                background-size: vw(156);
            }
        }
    }


    ///
    &_cos {
        position: relative;
        top: 37vw;
        @include m(){
            top: 13.5vw;
            height: 264vw;
        }
        
        .cos {
            position: relative;
            top: -4.5vw;
            right: -54vw;
            @include m(){
                top: 35vw;
                right: -22.7vw;
                width: 272px;
            }
            .cos1 {
                position: absolute;
                z-index: -1;
                width: 21vw;
                top: 17.5vw;
                left: vw(-114);
                @include m(){
                    width: 100%;
                }

            }
            .cos2 {
                position: absolute;
                top: 21.3vw;
                left: -5.5vw;
                width: 17.5vw;
                @include m(){
                    width: calc(25 / var(--rwd-width) * 100vw);
                    top: 38vw;
                    left: 26px;
                }

            }

            &::before {
                content: "";
                background-image: $grass03;
                position: absolute;
                top: 8vw;
                z-index: 10;
                display: block;
                right: 59vw;
                width: 15.5vw;
                height: 10.8vw;
                background-repeat: no-repeat;
                background-size: vw(196);
                @include m(){
                    top: -378px;
                    right: 45vw;
                    width: 38.5vw;
                    height: 30.8vw;
                    background-size: 39vw;
                }
            }
        }
    }

    ///
    &_grass {
        position: relative;
        top: 49vw;
        height: auto;
        margin-bottom: 77vw;
  
        @include m(){
            top: 13.5vw;
            height: 58vw;
        }
        .grass {
            position: relative;
            top: -4.5vw;
            right: -54vw;
            
            @include m(){
                top: -106vw;
                right: -22.7vw;
                width: 272px;
            }
            .grass1 {
                position: absolute;
                z-index: -1;
                width: 14.6vw;
                top: 8.5vw;
                left: -48vw;
                z-index: 10;
                @include m(){
                    width: 161px;
                    left: -19px;
                
                }
            }
            .grass2 {
                position: absolute;
                top: -4.7vw;
                left: -55.4vw;
                width: 13.8vw;
                z-index: 10;
                @include m(){
                    width: calc(20 / var(--rwd-width) * 100vw);
                    top: 27vw;
                    left: -8px;
                }
            }
            .grass3 {
                position: absolute;
                top: -7.7vw;
                left: -57.5vw;
                width: 34.5vw;
                @include m(){
                    top: -16.7vw;
                    left: -23.5vw;
                    width: 101.5vw;
                
                }
            }
            &::before {
                content: "";
                background-image: $grass03;
                position: absolute;
                top: 8vw;
                z-index: 10;
                display: block;
                right: 59vw;
                width: 15.5vw;
                height: 10.8vw;
                background-repeat: no-repeat;
                background-size: vw(196);
            }
        }
    }

    

    //bg road
    &_road-bg {
        position: absolute;
        top: 34vw;
        right: -1vw;
        z-index: -3;
        height: 312vw;
        overflow: hidden;
        
        @include m(){
            top: 165vw;
            right: -25vw;
            height: 852vw;
            width: 738px;
         }

        img {
            width: 100%;
        }

}
}
//內容
.all-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 41vw;
    @include m(){
        width: 86vw;    
    }
    img{
       width:40vw;

       @include m(){
        width: 86vw;
        height: auto;
       }
    }
    &.rest-cont {
        top: -13vw;
        right: -7vw;
        margin-left: auto;
        @include m(){
            top: 19vw;
            margin: 0 auto;
            right: 0;
        }
    }

    &.store-cont {
        margin-left: 0;
        width: 40vw;
        @include m(){
            top: 17vw;
            margin: 0 auto;
            right: 0;
            width: 86vw;
        }
    }

    &.med-cont {
        top: 21vw;
        right: -7vw;
        margin-left: auto;
        @include m(){
            top: 19vw;
            margin: 0 auto;
            right: 0;
            width: 86vw;
        }
    }
    &.cos-cont {
        margin-left: 0;
        width: 40vw;
        @include m(){
            top: -27vw;
            margin: 0 auto;
            right: 0;
            width: 86vw;
        }
    }
    &.grass-cont {
        margin: 0 auto;
        width: 60vw;
        top: 21vw;
        img{
            width: 60vw;
        }
        @include m(){
            top: -10vw;
            margin: 0 auto;
            right: 0;
            width: 86vw;
        }
        
    }

}
.retan {
    @include card (100%, $shadow, $r25);
    padding: 2.4vw;
    h4 {
        color: $primaryA11y;
        font-weight: $bold;
    }
    span {
        position: relative;
        background-image: $solid1;
        background-size: 30.7vw;
        padding: vw(15);
        display: block;
        top: vw(13);
        background-repeat: no-repeat;

    }

    &-res {
        &::before {
            background-image: $grass07;
            content: "";
            position: absolute;
            top: 35vw;
            z-index: 10;
            right: -3vw;
            width: 15.5vw;
            height: 14vw;
            background-repeat: no-repeat;
            background-size: 11.625vw;
            @include m(){
                top: 79vw;
                right: -3vw;
                width: 30.5vw;
                height: 28vw;
                background-size: 27.625vw;
            }
        }
        &::after {
            background-image: $ball;
            content: "";
            position: absolute;
            top: 47vw;
            z-index: 10;
            right: 31vw;
            width: 15.5vw;
            height: 14vw;
            background-repeat: no-repeat;
            background-size: 11.625vw;
            @include m(){
                top: 145vw;
                right: -3vw;
                width: 39.5vw;
                height: 46vw;
                background-size: 34.625vw;
            }
        }
    }

    &-med {
        &::before {
            background-image: $grass01;
            content: "";
            position: absolute;
            top: 35vw;
            z-index: 10;
            right: -3vw;
            width: 15.5vw;
            height: 14vw;
            background-repeat: no-repeat;
            background-size: 11.625vw;
            @include m(){
                top: 165vw;
                width: 20.5vw;
                height: 23vw;
                background-size: 20.625vw;
            }
        }
    }

    &-cos {
        &::before {
            background-image: $grass02;
            content: "";
            position: absolute;
            top: 21vw;
            z-index: 10;
            right: 31vw;
            width: 15.5vw;
            height: 14vw;
            background-repeat: no-repeat;
            background-size: 13.625vw;
            @include m(){
                top: 82vw;
                right: 59vw;
                width: 37.5vw;
                height: 76.8vw;
                background-size: 35vw;
               
            }
        }
        &::after {
            background-image: $foot;
            content: "";
            position: absolute;
            top: 40vw;
            z-index: 10;
            right: -34vw;
            width: 13.5vw;
            transform: rotate(243deg);
            height: 11vw;
            background-repeat: no-repeat;
            background-size: 10.625vw;
            @include m(){
                 top: -38vw;
                 z-index: 10;
                 width: 25.5vw;
                 height: 27vw;
                 background-size: 32.625vw;
            }
        }
    }
}

// slider
.cont-slider {
    width: 40vw;
    @include m(){
        width: 86vw;
    }
}

.cont-slider-ui {
    margin: vw(17);
}

.cont-slider-ui-arrow,
.cont-slider-ui-arrow2,
.cont-slider-ui-arrow3,
.cont-slider-ui-arrow3,
.cont-slider-ui-arrow4,
.cont-slider-ui-arrow5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:  vw(102);
    margin-left: auto;

    button {
        position: relative;
        width: vw( 30);
        height: vw( 14);
        padding: 0;
        appearance: none;
        border: 0;
        outline: 0;
        border-radius: 0;
        overflow: hidden;
        text-indent:  vw(300);
        white-space: nowrap;
        background: none;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
        }

        &.slick-prev:hover::before {
            width: vw( 30);
            height: vw( 14);
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: no-repeat center/contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2214%22%20viewBox%3D%220%200%2030%2014%22%3E%20%3Cg%20id%3D%22ico_arw03%22%20transform%3D%22translate(-1297%20-5786)%22%3E%20%3Cg%20id%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2_18%22%20data-name%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2%2018%22%20transform%3D%22translate(1327%205786)%20rotate(90)%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M5.771%2C1.755a1.5%2C1.5%2C0%2C0%2C1%2C2.458%2C0L12.348%2C7.64A1.5%2C1.5%2C0%2C0%2C1%2C11.119%2C10H2.881A1.5%2C1.5%2C0%2C0%2C1%2C1.652%2C7.64Z%22%20stroke%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M%206.999996662139893%203.487584114074707%20L%203.841315269470215%208.000000953674316%20L%2010.15868854522705%208.000000953674316%20L%206.999996662139893%203.487584114074707%20M%207.000003337860107%201.115691184997559%20C%207.465139389038086%201.115691184997559%207.930274486541748%201.328961372375488%208.228849411010742%201.755500793457031%20L%2012.34785938262939%207.639811038970947%20C%2013.04377937316895%208.633971214294434%2012.33255004882812%2010.00000095367432%2011.11901950836182%2010.00000095367432%20L%202.880979537963867%2010.00000095367432%20C%201.667449951171875%2010.00000095367432%200.9562196731567383%208.633971214294434%201.652139663696289%207.639811038970947%20L%205.771149635314941%201.755500793457031%20C%206.069729328155518%201.328961372375488%206.534866809844971%201.115691184997559%207.000003337860107%201.115691184997559%20Z%22%20stroke%3D%22none%22%20fill%3D%22%23e68a00%22%2F%3E%20%3C%2Fg%3E%20%3Cline%20id%3D%22%E7%B7%9A_1173%22%20data-name%3D%22%E7%B7%9A%201173%22%20x1%3D%2220%22%20transform%3D%22translate(1297%205793)%22%20fill%3D%22none%22%20stroke%3D%22%23e68a00%22%20stroke-width%3D%222%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
            transition: all 0.3s ease;
        }
        &.slick-next:hover::before {
            width: vw( 30);
            height: vw( 14);
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: no-repeat center/contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2214%22%20viewBox%3D%220%200%2030%2014%22%3E%20%3Cg%20id%3D%22ico_arw03%22%20transform%3D%22translate(-1297%20-5786)%22%3E%20%3Cg%20id%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2_18%22%20data-name%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2%2018%22%20transform%3D%22translate(1327%205786)%20rotate(90)%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M5.771%2C1.755a1.5%2C1.5%2C0%2C0%2C1%2C2.458%2C0L12.348%2C7.64A1.5%2C1.5%2C0%2C0%2C1%2C11.119%2C10H2.881A1.5%2C1.5%2C0%2C0%2C1%2C1.652%2C7.64Z%22%20stroke%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M%206.999996662139893%203.487584114074707%20L%203.841315269470215%208.000000953674316%20L%2010.15868854522705%208.000000953674316%20L%206.999996662139893%203.487584114074707%20M%207.000003337860107%201.115691184997559%20C%207.465139389038086%201.115691184997559%207.930274486541748%201.328961372375488%208.228849411010742%201.755500793457031%20L%2012.34785938262939%207.639811038970947%20C%2013.04377937316895%208.633971214294434%2012.33255004882812%2010.00000095367432%2011.11901950836182%2010.00000095367432%20L%202.880979537963867%2010.00000095367432%20C%201.667449951171875%2010.00000095367432%200.9562196731567383%208.633971214294434%201.652139663696289%207.639811038970947%20L%205.771149635314941%201.755500793457031%20C%206.069729328155518%201.328961372375488%206.534866809844971%201.115691184997559%207.000003337860107%201.115691184997559%20Z%22%20stroke%3D%22none%22%20fill%3D%22%23e68a00%22%2F%3E%20%3C%2Fg%3E%20%3Cline%20id%3D%22%E7%B7%9A_1173%22%20data-name%3D%22%E7%B7%9A%201173%22%20x1%3D%2220%22%20transform%3D%22translate(1297%205793)%22%20fill%3D%22none%22%20stroke%3D%22%23e68a00%22%20stroke-width%3D%222%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
            transition: all 0.3s ease;
        }

        &.slick-prev::before {
            width: vw( 30);
            height: vw( 14);
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: no-repeat center/contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2214%22%20viewBox%3D%220%200%2030%2014%22%3E%20%3Cg%20id%3D%22ico_arw03%22%20transform%3D%22translate(-1297%20-5786)%22%3E%20%3Cg%20id%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2_18%22%20data-name%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2%2018%22%20transform%3D%22translate(1327%205786)%20rotate(90)%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M5.771%2C1.755a1.5%2C1.5%2C0%2C0%2C1%2C2.458%2C0L12.348%2C7.64A1.5%2C1.5%2C0%2C0%2C1%2C11.119%2C10H2.881A1.5%2C1.5%2C0%2C0%2C1%2C1.652%2C7.64Z%22%20stroke%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M%206.999996662139893%203.487584114074707%20L%203.841315269470215%208.000000953674316%20L%2010.15868854522705%208.000000953674316%20L%206.999996662139893%203.487584114074707%20M%207.000003337860107%201.115691184997559%20C%207.465139389038086%201.115691184997559%207.930274486541748%201.328961372375488%208.228849411010742%201.755500793457031%20L%2012.34785938262939%207.639811038970947%20C%2013.04377937316895%208.633971214294434%2012.33255004882812%2010.00000095367432%2011.11901950836182%2010.00000095367432%20L%202.880979537963867%2010.00000095367432%20C%201.667449951171875%2010.00000095367432%200.9562196731567383%208.633971214294434%201.652139663696289%207.639811038970947%20L%205.771149635314941%201.755500793457031%20C%206.069729328155518%201.328961372375488%206.534866809844971%201.115691184997559%207.000003337860107%201.115691184997559%20Z%22%20stroke%3D%22none%22%20fill%3D%22%235a4a37%22%2F%3E%20%3C%2Fg%3E%20%3Cline%20id%3D%22%E7%B7%9A_1173%22%20data-name%3D%22%E7%B7%9A%201173%22%20x1%3D%2220%22%20transform%3D%22translate(1297%205793)%22%20fill%3D%22none%22%20stroke%3D%22%235a4a37%22%20stroke-width%3D%222%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
            transition: all 0.3s ease;
            transform: rotate(180deg);

        }
        &.slick-next::before {
            width: vw( 30);
            height: vw( 14);
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: no-repeat center/contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2214%22%20viewBox%3D%220%200%2030%2014%22%3E%20%3Cg%20id%3D%22ico_arw03%22%20transform%3D%22translate(-1297%20-5786)%22%3E%20%3Cg%20id%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2_18%22%20data-name%3D%22%E5%A4%9A%E8%A7%92%E5%BD%A2%2018%22%20transform%3D%22translate(1327%205786)%20rotate(90)%22%20fill%3D%22none%22%3E%20%3Cpath%20d%3D%22M5.771%2C1.755a1.5%2C1.5%2C0%2C0%2C1%2C2.458%2C0L12.348%2C7.64A1.5%2C1.5%2C0%2C0%2C1%2C11.119%2C10H2.881A1.5%2C1.5%2C0%2C0%2C1%2C1.652%2C7.64Z%22%20stroke%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M%206.999996662139893%203.487584114074707%20L%203.841315269470215%208.000000953674316%20L%2010.15868854522705%208.000000953674316%20L%206.999996662139893%203.487584114074707%20M%207.000003337860107%201.115691184997559%20C%207.465139389038086%201.115691184997559%207.930274486541748%201.328961372375488%208.228849411010742%201.755500793457031%20L%2012.34785938262939%207.639811038970947%20C%2013.04377937316895%208.633971214294434%2012.33255004882812%2010.00000095367432%2011.11901950836182%2010.00000095367432%20L%202.880979537963867%2010.00000095367432%20C%201.667449951171875%2010.00000095367432%200.9562196731567383%208.633971214294434%201.652139663696289%207.639811038970947%20L%205.771149635314941%201.755500793457031%20C%206.069729328155518%201.328961372375488%206.534866809844971%201.115691184997559%207.000003337860107%201.115691184997559%20Z%22%20stroke%3D%22none%22%20fill%3D%22%235a4a37%22%2F%3E%20%3C%2Fg%3E%20%3Cline%20id%3D%22%E7%B7%9A_1173%22%20data-name%3D%22%E7%B7%9A%201173%22%20x1%3D%2220%22%20transform%3D%22translate(1297%205793)%22%20fill%3D%22none%22%20stroke%3D%22%235a4a37%22%20stroke-width%3D%222%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
            transition: all 0.3s ease;

        }
    }
}

