.petpage{
    width: vw(1200);
    margin: vw(10) auto;
    @include m(){
        width: rwd(394);
    }
    
    .petpage-pp{
        display: flex;
        margin-bottom: vw(80);
        @include m(){
            display: inline;
            width: rwd(360);
            display: block;
            margin: 0 auto;
        }
    }
    .petpage-pp-big{
        width: vw(628);
        margin-right: vw(64);
        
        img{
            width: 100%;
        }
        @include m(){
                width: rwd(360);
                // display: flex;
                img{
                    // width: rwd(260);
                    // margin-left: rwd(8);
                }
        }
    }
    .petpage-pp-small{
        // width: vw(628);
        // display: flex;
        margin-top: vw(24);

        .swiper-wrapper{
            display: -webkit-box;
                display: -ms-flexbox;
                // display: -webkit-flex;
                // -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            img{
                width: vw(100);
                margin-right: vw(32);
                object-fit: cover;
                display: block;
                
            }
            @include m(){
                // flex-direction: column;
                img{
                    
                    
                    
                }
            }

        }
    }
    .petpage-tt{
        @include m(){
            margin-right: rwd(50);
            
        }
    }
    .petpage-tt-on{
        margin: 0 auto;
        margin-bottom: vw(16);
        width: vw(572);
        @include m(){
            width: rwd(350);
        }
        h1{
            font-size: $h4;
            color: $primaryDark;
            font-weight: $bold;
            @include m(){
                font-size: rwd(24);
                color: $secondaryA11y;
                margin: rwd(16);
            }
        }
        p{
            font-size: font-size(14);
            line-height: 2;
            @include m(){
                width: rwd(350);
                font-size: rwd(16);
                line-height: 2;
                margin: rwd(16);
            }
        }

        ul{
            list-style: disc;
            margin-left: vw(24);
            @include m(){
                width: rwd(340);
                padding-bottom: rwd(16);
                margin: rwd(32);
            }
            
            li{
                font-size: font-size(14);
                line-height: 2;
                @include m(){
                    width: rwd(340);
                    font-size: rwd(16);
                }
            }
        }
        
    }
    .petpage-tt-under{
        text-align: center;
        margin-top: vw(40);
        @include m(){
            padding-bottom: rwd(32);
        }
        
    }
    .petpage-uu{
        display: flex;
        width: vw(1100);
        background-color: #fff;
        border-radius: $r25;
        margin: 0 auto;
        @include m(){
            width: rwd(350);
            background-color: #f8f1e1;
            padding-left: rwd(24);
            box-sizing: border-box;
        }
        h1{
            width: vw(160);
            font-size: $h5;
            font-weight: $bold;
            margin: 0 vw(20);
            align-self: center;
        }
        @include m(){
            width: rwd(350);
            h1{
                display: none;
            }
        }
    }
    .petpage-uu-right{
        font-weight: $regular;
        font-size: vw(16);
        align-self: center;
        padding: vw(20) 0;
        p{
            font-size: font-size(16);
            @include m(){
                font-size: rwd(16);
                padding-top: rwd(8);
            }
        }

        ul{
            list-style: disc;
            
            li{
                margin-left: vw(24);
                font-size: vw(18);
                padding-bottom: vw(4);
                @include m(){
                    width: rwd(320);
                    font-size: rwd(16);
                    padding: rwd(8) 0;

                }
            }
        }
    }


}