.petpage{
    width: vw(1200);
    margin: vw(10) auto;
    @include m(){
        width: rwd(394);
    }
    
    .petpage-pp{
        display: flex;
        margin-bottom: vw(80);
        @include m(){
            display: inline;
            width: rwd(360);
            display: block;
            margin: 0 auto;
        }
    }
    .petpage-pp-big{
        width: vw(628);
        margin-right: vw(64);
        img{
            width: vw(628);
        }
        @include m(){
                width: rwd(360);
                display: flex;
                img{
                    width: rwd(260);
                    margin-right: rwd(32);
                }
        }
    }
    .petpage-pp-small{
        width: vw(628);
        display: flex;
        margin-top: vw(24);
        img{
            width: vw(100);
            margin-right: vw(32);
        }
        @include m(){
            flex-direction: column;
            img{
                width: rwd(50);
                margin-right: vw(0);
                margin-bottom: rwd(8);
            }
        }
    }
    .petpage-tt{
        @include m(){
            margin-right: rwd(50);
            
        }
    }
    .petpage-tt-on{
        margin: 0 auto;
        margin-bottom: vw(16);
        width: vw(572);
        @include m(){
            width: rwd(394);
            h1{
                margin-top: rwd(10);
            }
        }
        h1{
            font-size: $h4;
            color: $primaryDark;
            font-weight: $bold;
            @include m(){
                font-size: rwd(24);
            }
        }
        p{
            font-size: font-size(14);
            line-height: 2;
            @include m(){
                font-size: rwd(16);
            }
        }

        ul{
            list-style: disc;
            margin-left: vw(24);
            li{
                font-size: font-size(14);
                line-height: 2;
                @include m(){
                    font-size: rwd(16);
                }
            }
        }
        
    }
    .petpage-tt-under{
        text-align: center;
        margin-top: vw(40);
        @include m(){
            padding-bottom: rwd(24);
        }
        
    }
    .petpage-uu{
        display: flex;
        width: vw(1100);
        background-color: #fff;
        margin: 0 auto;
        border-radius: vw(25);
        h1{
            width: vw(160);
            font-size: $h5;
            font-weight: $bold;
            margin: 0 vw(20);
            align-self: center;
        }
        @include m(){
            width: rwd(394);
            h1{
                display: none;
            }
        }
    }
    .petpage-uu-right{
        font-weight: $regular;
        font-size: vw(16);
        align-self: center;
        padding: vw(20) 0;
        p{
            font-size: font-size(16);
        }

        ul{
            list-style: disc;
            li{
                margin-left: vw(24);
            }
        }
        @include m(){
            
        }
    }


}