.precautions{
    width: vw(1200);
    margin: vw(0) auto;
    @include m(){
        margin-top: rwd(80);
        width: rwd(394);
    }
    .precautions-top{
        text-align: center;
        h2{
            color: $secondaryA11y;
            font-size: $h2;
        }
        h1{
            color: $primaryA11y;
            font-size: $h2;
            font-weight: $bold;
        }
        @include m(){
            h1{
                margin-bottom: rwd(16);
                font-size: rwd(16);
            }
            h2{
                font-size: rwd(24);
            }
        }
    }
    .precautions-section{
        display: flex;
        flex-wrap: wrap;
        // position: relative;
        @include m(){
            width: rwd(394);
            margin: 0 auto;
        }
    }
    .precautions-1{
        width: vw(600);
        img{
            width: vw(495);
        }
        @include m(){
            width: 50%;
            padding-left: rwd(48);
            padding-top: rwd(80);
            margin-bottom: rwd(80);
        }
        
    }
    .precautions-2{
        width: vw(600);
        text-align: center;
        align-self: center;
        h1{
            font-size: font-size(24);
            margin-bottom: vw(8);
            font-weight: $bold;
            color: $secondaryA11y;
        }
        h2{
            font-size: $p;
            color: $secondaryA11y;
        }
        @include m(){
            h1{
                font-size: 12px;
                
            }
            h2{
                font-size: 12px;
            }
            width: 50%;
            
        }
    }
    .precautions-3{
        width: vw(600);
        align-self: center;
        
        h1{
            font-size: font-size(24);
            margin-bottom: vw(8);
            font-weight: $bold;
            color: $secondaryA11y;
            
        }
        h2{
            font-size: $p;
            color: $secondaryA11y;
            
        }
        @include m(){
            h1{
                font-size: 12px;
                padding: 0 rwd(20);
                width: rwd(200);
            }
            h2{
                font-size: 12px;
                padding: 0 rwd(20);
                width: rwd(200);
            }
            width: 50%;
            margin-bottom: rwd(80);
        }
    }
    .precautions-4{
        width: vw(600);
        height: vw(700);
        .Vector1{
            width: vw(338);
            z-index: 10;
            position: absolute;
            left: vw(900);
            top: vw(1150);
        }
        .home1{
            width: vw(550);
            z-index: 5;
            position: absolute;
            left: vw(1050);
            top: vw(1200);
        }
        .home2{
            width: vw(519);
            z-index: 2;
            position: absolute;
            left: vw(1150);
            top: vw(1300);
        }
        @include m(){
            .Vector1{
                left: rwd(220);
                top: rwd(870);
            }
            .home1{
                left: rwd(240);
                top: rwd(890);
            }
            .home2{
                left: rwd(250);
                top: rwd(910);
            }
            width: 50%;
        }
    }
    .precautions-5{
        width: vw(600);
        img{
            width: vw(519);
        }
        @include m(){
            width: 50%;
            padding-left: rwd(48);
            margin-bottom: rwd(40);
        }
    }
    .precautions-6{
        width: vw(600);
        align-self: center;
        text-align: center;
        h1{
            font-size: $h3;
            margin-bottom: vw(8);
            font-weight: $bold;
            color: $secondaryA11y;
        }
        h2{
            font-size: $h4;
            color: $secondaryA11y;
        }
        @include m(){
            h1{
                font-size: 12px;
                
            }
            h2{
                font-size: 12px;
            }
            width: 50%;
        }
    }
    .precautions-7{
        width: vw(600);
        align-self: center;
        h1{
            font-size: $h4;
            margin-bottom: vw(8);
            font-weight: $bold;
            color: $secondaryA11y;
        }
        @include m(){
            h1{
                font-size: 12px;
                padding: 0 rwd(20);
            }
            width: 50%;
        }
        
    }
    .precautions-8{
        width: vw(600);
        height: vw(700);
        .home4{
            z-index: 5;
            position: absolute;
            left: vw(1050);
            top: vw(2600);
            width: vw(550);
        }
        .home5{
            z-index: 2;
            position: absolute;
            left: vw(1100);
            top: vw(2600);
            width: vw(550);
        }
        @include m(){
            .home4{
                left: rwd(220);
                top: rwd(1330);
            }
            .home5{
                left: rwd(230);
                top: rwd(1330);
            }
            width: 50%;
        }
        
    }
    .precautions-under{
        text-align: center;
    }
}