.shoppingPageWrapper{
  margin: 0 auto;
  width: vw(1314);
  display: grid;
  grid-template-columns: vw(300) vw(1014);
  grid-template-areas:
  "side main";

  @include m(){
    width: rwd(394);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "side"
    "main"
    ;
  }

  // @include m(){}


  // sidebar
  .sidebar {
    margin-top: $space6;
    grid-area: side;
    display: flex;
    flex-direction:column;
    width: vw(260);

    @include m(){
      width: rwd(394);
    }
      h3{
        font-weight: $bold;
        text-align: center;
        margin-bottom: vw(16);
        color: $gray700;
        @include m(){
        text-align: left;
        font-size: rwd(20);
        }

      }
      button {
        width: 100%;
        // height: vw(60);
        text-align: start;
        font-size: $h5;
        font-weight: $bold;
        padding: vw(12) vw(32);
        border: none;
        cursor: pointer;
        position: relative;

        @include m(){
          width: calc(rwd(394)/3);
          padding: rwd(8) rwd(16);
          font-size: rwd(13);
        }


        &::after{
          position: absolute;
          font-family: FontAwesome;
          content: '\f105';
          font-size: $p;
          right: vw(32);
          top: vw(18);
          transition: .3s ease;
          @include m(){
          font-size: rwd(13);
            right: rwd(16);
            top: rwd(11);
          }
        }
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: $shadow;
        border-radius: vw(20);

        @include m(){
          display: flex;
          flex-direction: row;
          width: 100%;
          border-radius: rwd(10);
          box-shadow: none;
        }

        li button{
          background-color: #fff;
          color: $primaryDark;
          &:hover{
            background-color: $primaryDark;
            color: #fff;
            @include m(){
            border-radius: rwd(10) rwd(10) 0 0;
           }
          }
        }
        li button.turnRight::after{
          transform: rotate(90deg);
        }
        li .show {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s linear 0s, opacity 1100ms;

        }
      
        li .hide {
          visibility: hidden;
          opacity: 0;
          height: 0;
          -moz-transition: height 2s ease;
          -webkit-transition: height 2s ease;
          -o-transition: height 2s ease;
          transition: height 2s ease;
        }
        ol{
          @include m(){
            position:absolute;
            z-index: 5;
            }
        }
        li ol li button{
          background-color: #EBEBEB;
          color: $gray600;
          // @include m(){
          //   position: absolute;
          //   }

          &:hover{
            background-color: darken(#EBEBEB, 10);
            color: $gray600;
          }
        }
        ol li:last-child button{
          @include m(){
          border-radius:  0 0 rwd(10) rwd(10);
          }
        }
      }
      ul > li:first-child  > button{
        border-radius: vw(20) vw(20) 0px 0px;
        @include m(){
          border-radius: rwd(10) 0 0 rwd(10);
          &:hover{
          border-radius: rwd(10) rwd(10) 0 0; 
          }
        }
      }

      ul > li:last-child > button{
        border-radius: 0px 0px vw(20) vw(20);

        @include m(){
          border-radius: 0 rwd(10) rwd(10) 0;
          &:hover{
            border-radius: rwd(10);
            }
        }
      }

      img{
        margin-top: vw(80);
        width: vw(225);
        margin-left: auto;
        @include m(){
          display: none;
        }
      }
    }
  // sidebar end

  // main content
  .mainContent{
    grid-area: main;
    display: flex;
    flex-direction: column;
    .search-wrapper{

        @include search-wrapper(vw(300));
        margin-left: auto;
        margin-right: vw(16);

        @include m(){
          margin: rwd(16) 0;
          @include search-wrapper(100%)
        }
    }
    
    span{
      content:'';
      align-self: center;
      display: inline-block;
      height: vw(1);
      width: calc(100% - vw(32));
      background-color: $primaryDefault;
      margin-top: $space2;
      margin-bottom: $space4;
      @include m(){
        display: none;
      }
    }
    ul.productsContent{
      display: flex;
      flex-wrap: wrap;
      .pd-itembox{
        display: flex;
        flex-direction: column;
        width: vw(306);
        background-color: #FFFAF3;
        border-radius: $r25;
        margin: 0 $space2 $space5;
        cursor: pointer;

        @include m(){
          width: rwd(185);
          border-radius: rwd(13);
          margin: rwd(12) rwd(6);
          &:hover{
            display: none;
          }
        }

        &:hover{
          box-shadow: $shadow;
          background-image: url('../images/ff/material01.png');
          background-repeat: no-repeat;
          background-size: 20%;
          background-position: 90% 95%;
          background-color: rgba(255, 255, 255, .6);
        }
        img{
          width: 100%;
          border-radius: $r25 $r25 0 0;
          @include m(){
          border-radius: rwd(13) rwd(13) 0 0;
          }
        }
        hr{
          width: 60%;
          border: dashed vw(1) $gray600;
          @include m(){
            border: dashed rwd(2) $gray600;
          }
        }
        h5{
          @include box-center();
          margin-top: $space2;
          text-align: center;
          height: vw(77);
          font-weight: $bold;
          color: $primaryA11y;
          @include m(){
            // height: rwd(40);
            height: rwd(52);
            font-size: rwd(16);
          }
        }
        h4{
          text-align: center;
          font-weight: $bold;
          color: $primaryA11y;
          margin-bottom: $space4;
          @include m(){
            font-size: rwd(16);
            margin-bottom: rwd(16);
          }
        }
      }
    }
    ul.pages{
      display: flex;
      justify-content: center;
      margin: rwd(16) 0;
      li{
        text-align: center;
        line-height: vw(40);
        font-size: $p;
        color: $primaryA11y;;
        width: vw(40);
        height: vw(40);
        margin: 0 vw(8);
        cursor: pointer;

        @include m(){
          line-height: rwd(32);
          width: rwd(32);
          height: rwd(32);
          margin: 0 rwd(8);
        }
      }
      li.currentPage{
        color: $secondaryLight;
        background-color: $primaryA11y;
        border-radius: 50%;
      }
      li.previous,
      li.next{
        font-size: vw(18);
        color: $primaryDark;
        background-color: transparent;
        @include m(){
          font-size: rwd(18);
        }
      }
    }

  }

  // main content end 
}
