.sponsored_page{
    width: vw(1200);
    margin: vw(0) auto;
    background-color: #fff;
    padding: vw(25);
    border-radius: $r25;
    @include m(){
        width: rwd(394);
    }
    .sponsored_page-top{
        display: flex;
        @include m(){
            flex-direction: column;
        }
    }
    .sponsored_page-top-img{
        flex: 2;
        img{
            width: 100%;
        }
    }

    .sponsored_page-top-tt{
        margin-left: vw(16);
        flex: 1;
        h1{
            font-size: $h5;
            color: $primaryA11y;
            font-weight: $bold;
            @include m(){
                font-size: rwd(12);
                margin: rwd(16) 0;
            }
        }
        h3{
            text-align: right;
            font-weight: $bold;
            @include m(){
                font-size: rwd(12);
            }
        }
        p{
            font-size: font-size(14);
            margin-bottom: vw(10);
            font-weight: $bold;
            @include m(){
                font-size: rwd(12);
                margin: rwd(16) 0;
            }
        }
        .acc{
            text-align: right;
            color: $gray700;
            font-size: vw(8);
            margin-bottom: 0;
        }
        .target{
            text-align: right;
            font-size: vw(20);
        }
        .sponsored_page-top-border-div{
            height: 10px;
            width: vw(380);
            margin: vw(32) auto vw(0); 
            border-radius: 30px;
            border:1px solid $primaryA11y;
            @include m(){
                width: rwd(380);
            }
            
            .sponsored_page-top-border{
            height: 10px;
            width: vw(0);
            background-color: $primaryA11y;

            border-radius: 30px;
                @include m(){
                    width: rwd(0);
                }
            }
        }
        .sponsored_page-top-border-percentage{
            text-align: right;
        }
        
    }
    .sponsored_page-inder{
        display: flex;
        a{
            text-decoration: none;
            color: black;
            line-height: vw(35);
            @include m(){
                font-size: rwd(12);
            }
            p{
                margin-right: vw(20);
                line-height: vw(35);
                @include m(){
                    font-size: rwd(12);
                    line-height: rwd(43);
                }
            }
        }
        .btn-0{
            margin-left: vw(600);
        }
        
    }
    .sponsored_page-under{
        display: flex;
        @include m(){
            flex-direction: column-reverse;
        }
        .sponsored_page-under-left{
            flex: 2;
            margin-right: vw(16);
            h3{
                margin-top: vw(50);
                font-weight: $bold;
                @include m(){
                    font-size: rwd(12);
                }
            }
            p{
                font-size: $p;
                margin: vw(20) 0;
                line-height: 2;
                @include m(){
                    font-size: rwd(12);
                }
            }
            img{
                width: 100%;
            }
            h5{
                @include m(){
                    font-size: rwd(12);
                }
            }
            
        }
        .sponsored_page-under-right{
            flex: 1;
            margin-top: vw(60);
            @include m(){
                height: vw(500);
            }

            .sponsored_page-under-btn{
                @include m(){
                    text-align: center;
                    margin-bottom: rwd(16);
                }
            }

            .chooseBtn1{
                background-color: #DBC0AF;
            }
            .chooseBtn2{
                background-color: #FFFAF3;
            }

            .sponsored_page-under-btnbig-in{
                border: solid 1px ;
                background-color: #fff;
                border-radius: $r25;
                height: vw(239);
                padding: vw(16);
                margin-top: vw(16);
                display: block;
                text-decoration: none;
                color: #333;
                @include m(){
                    height: rwd(239);
                }

                .selection{
                    img{
                        width: 100%;
                    }
                }

                h5{
                    display: inline-block;
                    margin: auto;
                    color: $secondaryA11y;
                    font-weight: $bold;
                    @include m(){
                        font-size: rwd(16);
                    }
                }
                p{
                    display: inline-block;
                    color: $gray900;
                    font-weight: $bold;
                    margin-left: vw(24);
                    @include m(){
                        font-size: rwd(16);
                    }
                }
                .sponsorTime{
                    width: vw(120);
                    margin: auto;
                    font-size: font-size(12);
                    display: block;
                    margin-left: vw(90);
                    color: #333;
                    background-color: $lineGray;
                    @include m(){
                        font-size: rwd(16);
                        width: rwd(120);
                    }
                }
            }
        }
    }
}