.sponsored_List{
    width: vw(1200);
    margin: vw(0) auto;

    @include m(){
        width: rwd(394);
    }

}
    
    .sponsored_List-ul{
        display: flex;
        flex-wrap: wrap;
        @include m(){
            display: block;
            flex-wrap: nowrap;
        }
    }
    .sponsored_List-li{
        list-style: none;
        flex-basis: vw(400);
        margin-bottom: vw(20);
        @include m(){
            width: rwd(394);
            // font-size: rwd(24);
        }
        a{
            text-decoration:none;
        }
        h3{
            color: $primaryA11y;
            margin-bottom: vw(10);
            text-align: center;
            font-size: $h5;
            @include m(){
                font-size: rwd(24);
                
            }
        }
        
    }
    .sponsored_List-div{
        width: vw(350);
        height: 100%;
        background-color: #fff;
        border-radius: $r25;
        padding-top: vw(20);
        padding-bottom: vw(10);
        
        @include m(){
            width: rwd(394);
            margin-bottom: rwd(20);
        }
        img{
            width: vw(300);
            display: block;
            margin: 0 auto ;
            // margin-top: vw(30);
            @include m(){
                width: 100%;
            }

        }
    }
    .sponsored_List-border{
        content: "";
        height: 7px;
        width: vw(300);
        background-color: $primaryA11y;
        margin: 0 auto;
        // border: solid 5px ;
        // border-image-source: linear-gradient(to right, #0b0ff1, #7a7a7a );
        // border-image-slice: 1;
        // border-radius: 50%;
        border-radius: 30px;
        @include m(){
            width: 100%;
            margin: rwd(10) auto;
        }
    }
    
    .sponsored_List-in{
        display: flex;
        margin: 0 vw(30);
        // border-top: solid 5px ;
        // border-image-source: linear-gradient(to right, #0b0ff1, #7a7a7a );
        // border-image-slice: 1;
        
        .sponsored_List-svg{
            margin-top: vw(20);
        }
        h4{
            color: black;
            font-weight: $bold;
            margin-right: vw(40);
            margin-top: vw(20);
            font-size: $p;
            width: vw(120);
            @include m(){
                width: rwd(120);
                font-size: rwd(16);
                
            }
        }
        p{
            font-size: $p;
            color: black;
            display: block;
            margin-top: vw(20);
            @include m(){
                font-size: rwd(16);
                
            }
        }
    }


    ////////以下為頁碼 需修改 目前是意圖
    .page-icon{
        

        ul.pages{
            display: flex;
            justify-content: center;
            margin: rwd(16) 0;
            li{
              text-align: center;
              line-height: vw(40);
              font-size: $p;
              color: $primaryA11y;;
              width: vw(40);
              height: vw(40);
              margin: 0 vw(8);
              cursor: pointer;
      
              @include m(){
                line-height: rwd(32);
                width: rwd(32);
                height: rwd(32);
                margin: 0 rwd(8);
                font-size: rwd(18);
              }
            }
            li.currentPage{
              color: $secondaryLight;
              background-color: $primaryA11y;
              border-radius: 50%;
            }
            li.previous,
            li.next{
              font-size: vw(18);
              color: $primaryDark;
              background-color: transparent;
              @include m(){
                font-size: rwd(24);
              }
            }
          }
    }
    
    

