.adoption_quiz2{
    width: vw(1080);
    margin: 0 auto;
    @include m(){
        width: rwd(394);
    }
    img{
        display: block;
        width: 100%;
    }
    .question{
        text-align: center;
        margin-top: vw(32);
        h3{
            @include m(){
                font-size: rwd(20);
            }
        }
        .button{
            display: flex;
            justify-content: space-evenly;
            width: vw(650);
            margin: vw(64) auto;
            @include m(){
                width: rwd(400);
                font-size: rwd(5);
                margin: rwd(32) auto;
            }
        }
    }
    .answer{
        margin-top: vw(90);
        p{
            text-indent: vw(20);
            @include m(){
                font-size: rwd(12);
            }
        }
    }
    .next{
        text-align: right;
        margin-top: vw(30);
        @include m(){
            margin-top: rwd(30);
        }
    }
}