.adoption_knowledge-wrapper{
    display: flex;
    .right-menu {
        position: sticky;
        top: 150px;
        align-self: flex-start;
        margin-left: vw(150);
        @include m(){
            display: none;

        }
        .item {
            margin-top: 20px;
            cursor: pointer;
            h1{
               font-size: $h3;
               font-weight: $bold; 
            }

            h3{
               font-size: $p; 
            }
        }
        
        .item.active {
            color: $primaryA11y;
        }
    }
    .adoption_knowledge{
        width: vw(1200);
        margin: 0 auto;
        @include m(){
            width: rwd(394);
        }
        img{
            width: 100%;
            display: block;
        }
        
        .row-2{
            display: flex;
            flex-wrap: wrap;
            // margin: vw(112) 0;
            .rowTop-pic{
                margin: vw(80) 0;
            }
            .thing1-pic{
                width: 50%;
            }
            .content{
                width: 50%;
                padding: vw(130) vw(50);
                height: vw(600);
                @include m(){
                    height: rwd(180);
                }
                h2{
                    font-size: $h3;
                    font-weight: $bold;
                    color: $secondaryA11y;
                    @include m(){
                        font-size: rwd(14);
                    }
                }
                .text{
                    font-size: $h4;
                    color: $secondaryA11y;
                    @include m(){
                        font-size: rwd(10);
                    }
                }
                h3{
                    font-size: $p;
                    @include m(){
                        font-size: rwd(9);
                    }
                }
            }
        }

        .row-3{
            @include m(){
                margin-top: rwd(80);
            }
            .content{
                width: vw(800);
                margin: 0 auto;
                text-align: center;
                margin-top: vw(94);
                @include m(){
                    width: rwd(300);
                }
                h1{
                    font-size: $h2;
                    color: $secondaryA11y;
                    @include m(){
                        font-size: rwd(12);
                    }
                }
                .line{
                    border-bottom: 5px dashed $secondaryA11y;
                    margin-top: vw(24);
                    @include m(){
                        border-bottom: 1px dashed $secondaryA11y;
                    }
                }
                h3{
                    font-size: $h4;
                    margin-top: vw(24);
                    @include m(){
                        font-size: rwd(12);
                    }
                }
                }
                .dog-pic-top{
                    display: flex;
                    justify-content: space-around;
                    height: vw(750);
                    margin-top: vw(80);
                    @include m(){
                        height: vw(1800);
                    }
                    .dog-pic-top1{
                        align-self: flex-end;
                    }
                    .dog-pic-top3{
                        align-self: flex-end;
                    }
                }
                .dog-pic-bottom{
                    display: flex;
                    justify-content: space-around;
                    height: vw(850);
                    margin-top: vw(80);
                    @include m(){
                        height: vw(1300);
                    }
                    .dog-pic-bottom1{
                        align-self: flex-end;
                    }
                    .dog-pic-bottom3{
                        align-self: flex-end;
                    }
                }
                .cat-pic-top{
                    display: flex;
                    justify-content: space-around;
                    height: vw(800);
                    margin-top: vw(80);
                    @include m(){
                        height: vw(1200);
                    }
                    .cat-pic-top2{
                        align-self: flex-end;
                    }
                }
                .cat-pic-bottom{
                    display: flex;
                    justify-content: space-between;
                    margin: vw(80) 0;
                    .cat-pic-bottom1{
                        @include m(){
                            margin-right: rwd(50);
                        }
                    }
                }
        }
        .row-5{
            .content{
                margin: vw(80) auto;
                text-align: center;
                h1{
                    font-size: $h2;
                    color: $secondaryA11y;
                    @include m(){
                        font-size: rwd(12);
                    }
                }
                .line{
                    border-bottom: 5px dashed $secondaryA11y;
                    margin-top: vw(24);
                    @include m(){
                        border-bottom: 1px dashed $secondaryA11y;
                    }
                }
                h3{
                    font-size: $h4;
                    margin-top: vw(24);
                    @include m(){
                        font-size: rwd(12);
                    }
                }
            }
        }
        .row-6{
            .title{
                margin: vw(80) auto;
                h2{
                    text-align: center;
                    font-size: $h2;
                    @include m(){
                        font-size: rwd(12);
                    }
                }
                .line{
                    border-bottom: 5px dashed $secondaryA11y;
                    margin-top: vw(24);
                    @include m(){
                        border-bottom: 1px dashed $secondaryA11y;
                    }
                }
            }
            .content-wrapper{
                display: flex;
                flex-wrap: wrap;
                .thing2-pic{
                    width: 50%;
                }
                .content{
                    width: 50%;
                    padding: vw(200) vw(50);
                    height: vw(700);
                    .text{
                        font-weight: $bold;
                        @include m(){
                            font-size: rwd(12);
                        }
                    }
                    h3{
                        font-size: $p;
                        @include m(){
                            font-size: rwd(9);
                        }
                    }
                }
            }
        }
        .row-7{
            margin: vw(80) auto;
        }
        .row-8{
            .content-wrapper{
                display: flex;
                flex-wrap: wrap;
                .thing3-pic{
                    width: 50%;
                    align-self: center;
                }
                .content{
                    width: 50%;
                    padding: vw(130) vw(50);
                    .text{
                        font-weight: $bold;
                        @include m(){
                            font-size: rwd(12);
                        }
                    }
                    h3{
                        font-size: $p;
                        @include m(){
                            font-size: rwd(9);
                        }
                    }
                }
            }
        }
    }
    
}