

$primaryLight: #B5E9FA;
$primaryDefault: #4FA1F0;
$primaryDark: #5695D2;
$primaryA11y: #3165A5;
$secondaryLight: #FFFAF3;
$secondaryDefault: #FFEDAC;
$secondaryDark: #DBC0AF;
$secondaryA11y: #8B725A;

$lineGray: #E1E1DF;
$gray500: #CCCCCC;
$gray600: #909090;
$gray700: #6F6F6F;
$gray800: #4B4B4B;
$gray900: #2D2D2D;

// $bg:



