
// background-image: $bgc; 背景色是圖片檔
$bgi: url(../images/ricepaper.jpg);
//圓角
$r25: vw(25);
//陰影
$shadow:  0 0 vw(40) rgba(31, 32, 37, 0.1);

//實線
$solid1: url(../images/Derrick/solid.png);

//園區介紹的小圖
$dog: url(../images/LangPARK/map-g-d.png);
$cloud: url(../images/LangPARK/cloud.png);
$grass01: url(../images/LangPARK/grass01.png);
$grass02: url(../images/LangPARK/grass02.png);
$grass03: url(../images/LangPARK/grass03.png);
$grass04: url(../images/LangPARK/grass04.png);
$grass05: url(../images/LangPARK/grass05.png);
$grass06: url(../images/LangPARK/grass06.png);
$grass07: url(../images/LangPARK/grass07.png);
$grass08: url(../images/LangPARK/grass08.png);
$grass09: url(../images/LangPARK/grass09.png);
$ball: url(../images/LangPARK/map-g-ball.png);
$foot: url(../images/LangPARK/foot.png)

///---------------------------------
