// @include  mr-top(10) ;

//PC 
$space1: vw(8);
$space2: vw(16);
$space3: vw(24);
$space4: vw(32);
$space5: vw(40);
$space6: vw(48);
$space7: vw(56);
$space8: vw(64);
$space9: vw(72);
$space10: vw(80);





