// === 物件置中 ===
@mixin box-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}


//  *** 手機板 ***
@mixin m() {
    @media screen and (max-width: 576px) {
        @content;
    }
}
@mixin t() {
    @media screen and (max-width:$t){
        @content;
    }    
}


// ===  按鈕樣式 btn ===

@mixin btn($bgc, $color:#fff, $border:null, $padding:$space1 $space6, $br:$space3){
    background-color: $bgc;
    color: $color;
    border: solid 1px $border;
    padding: $padding;
    border-radius: $br;
    font-size: 16px;
    font-weight: $bold;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;

}

@mixin btn_hover($bgc, $color:#fff, $border:null){
    background-color: $bgc; 
    color: $color;
    border: solid 1px $border;
}
@mixin btn_disabled($bgc, $color:#fff, $border:null){
    background-color: $bgc; 
    color: $color;
    border: solid 1px $border;
}



// === input ===
// 無標題文字輸入框 input-text

@mixin input-text($w:null){
    width:$w;
    font-size: $p-px;
    font-weight: $regular;
    border: 0;
    outline: solid 1px $primaryDefault;
    border-radius: 6px;
    padding: 5px 7px;
    // box-sizing: border-box;
    &::placeholder{
        color: $gray500;
        font-weight: $regular;
        font-size: $p-px;
    }
    &:hover{
        outline: solid 2px $primaryDefault;
    }
    &.-error{
        outline: solid 1px $error;
    }
    // @include m(){
    //     font-size: rwd(16);
    //     padding: rwd(4) rwd(4);
    // }
}


// 文字輸入框 input-text + label
// rwd 待修改
@mixin text-label($w:null,$title:'',$helptext:''){
    @if ($title != '' and $helptext != ''){
        height: 95px;
    }@else if($title != ''){
        height: 74px;
    }@else if($helptext != ''){
        height: 66px;
    }
    width: $w;
    display: inline-block;
    margin: 8px 0;
    // color: $primaryA11y;
    // font-size: $h5-px;
    .input-textLabel[type=text]{
        @include input-text($w);
        margin: 8px 0;
    }
    // .-help-text{
    //     font-size: $p-px-s;
    //     color: $gray800;
    // }
    // .-error-text{
    //     font-size: $p-px-s;
    //     color: $error;
    // }
    &::before{
        content: $title;
        color: $primaryA11y;
        font-size: $h5-px;
    }
    &::after{
        content: $helptext;
        font-size: $p-px-s;
        color: $gray800;
    }
    &.-error{
        outline: solid 1px $error;
    }
}

// 搜尋欄 input-search
// rwd 待修改
@mixin search-wrapper($w:null){
    position: relative;
    width: $w;
    &:after {
        position: absolute;
        top: 5px;
        left: 12px;
        font-family: FontAwesome;
        content: "\f002";
        color: grey;
        font-size: 12px;  
        font-weight: $regular;
    }
    .input-search[type=search]{
        width:$w;
        font-size: $p-px;
        font-weight: $regular;
        border: 0;
        outline: solid 1px $primaryDefault;
        border-radius: 13px;
        padding: 5px 12px 5px 32px;
    
        position: relative;
        &::placeholder{
            color: $gray500;
            font-weight: $regular;
            font-size: $p-px;
        }
        &:hover{
            outline: solid 2px $primaryDefault;
        }
        // @include m(){
        //     font-size: rwd(16);
        //     padding: rwd(4) rwd(4);
        // }
    }
}


// === from 表單 ===


// === card 卡片 ===

@mixin card ($w, $s, $r ){
    width: $w;
    box-shadow: $s;
    border-radius: $r;
    background: #FFFFFF;
    text-decoration: none;

}

